force-app/nksHomePage/flows/Announcement_Send_Notification_On_Operational_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Remove_HTML_Tags</name>
        <label>Remove HTML Tags</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>NKS_HomePageController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>richTextList</name>
            <value>
                <elementReference>$Record.NKS_Information__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NKS_HomePageController</nameSegment>
        <outputParameters>
            <assignToReference>Message</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>NKS_CustomNotificationController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>groupDeveloperName</name>
            <value>
                <stringValue>group_41001</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationBody</name>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationTitle</name>
            <value>
                <stringValue>NKS Driftsmelding</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pageRef</name>
            <value>
                <elementReference>Page_Reference</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NKS_CustomNotificationController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Page_Reference</name>
        <dataType>String</dataType>
        <expression>
            &apos;{&quot;type&quot;:&quot;standard__namedPage&quot;,&quot;attributes&quot;:{&quot;pageName&quot;:&quot;home&quot;,&quot;actionName&quot;:&quot;view&quot;}}&apos;</expression>
    </formulas>
    <interviewLabel>Announcement Send Notification On Operational Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Announcement Send Notification On Operational Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notify_Operational_Updates</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Remove_HTML_Tags</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NKS_TypeFormula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Teknisk og drift</stringValue>
            </value>
        </filters>
        <filters>
            <field>NKS_Send_Notification__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>NKS_Announcement__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>