force-app/main/default/flows/Announcement_Send_Notification_To_Supervisors_On_Publishing_News.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_User_IDs</name>
        <label>Get User IDs</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>NKS_GetUserIDsController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputGroupIds</name>
            <value>
                <elementReference>Get_Group.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NKS_GetUserIDsController</nameSegment>
        <outputParameters>
            <assignToReference>UserIDs</assignToReference>
            <name>userIds</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_User_IDs_Filtered_By_Skills</name>
        <label>Get User IDs Filtered By Skills</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <actionName>NKS_GetUserSkillsController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newsSkills</name>
            <value>
                <elementReference>$Record.Skills__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userIds</name>
            <value>
                <elementReference>UserIDs</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NKS_GetUserSkillsController</nameSegment>
        <outputParameters>
            <assignToReference>UserIDs_To_Notify</assignToReference>
            <name>userIds</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <actionName>NKS_CustomNotificationController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>notificationBody</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationTitle</name>
            <value>
                <stringValue>En nyhetsartikkel ble publisert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userIds</name>
            <value>
                <elementReference>UserIDs_To_Notify</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NKS_CustomNotificationController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Announcement Send Notification To Supervisors On Publishing News {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Announcement Send Notification To Supervisors On Publishing News</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_IDs_Filtered_By_Skills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Announcement_Custom_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group</name>
        <label>Get Group</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>group_41001</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NKS_TypeFormula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nyhet</stringValue>
            </value>
        </filters>
        <filters>
            <field>NKS_Send_Notification__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NKS_News_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Published</stringValue>
            </value>
        </filters>
        <object>NKS_Announcement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UserIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIDs_To_Notify</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
