force-app/main/default/flows/Announcement_Publish_Scheduled_News_AutoLaunch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Values</name>
        <label>Set Values</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_News.NKS_News_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Published</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_News</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Publish_Date_Is_Now</name>
        <label>Check If Publish Date Is Now</label>
        <locationX>396</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_News.NKS_News_Publish_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Values</targetReference>
            </connector>
            <label>IsNow</label>
        </rules>
    </decisions>
    <interviewLabel>Announcement Publish Schedules News {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Announcement Publish Scheduled News (Auto launch)</label>
    <loops>
        <name>Loop_Through_News</name>
        <label>Loop Through News</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_News</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Publish_Date_Is_Now</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_News</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_News</name>
        <label>Get News</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_News</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NKS_News_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NKS_Announcement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_News</name>
        <label>Update News</label>
        <locationX>176</locationX>
        <locationY>830</locationY>
        <inputReference>Get_News</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_News</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
