force-app/main/default/flows/Announcement_Publish_News.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_News_As_Draft</name>
        <label>Set News As Draft</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_News.NKS_News_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_News</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Publish_Date_As_Scheduled</name>
        <label>Set Publish Date As Scheduled</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_News.NKS_News_Publish_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PublishDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_News</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Publish_Date_Like_Now</name>
        <label>Set Publish Date Like Now</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_News.NKS_News_Publish_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_News.NKS_News_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Published</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_News</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Publish_Date_Now</name>
        <choiceText>Nå</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Now</stringValue>
        </value>
    </choices>
    <choices>
        <name>Schedule_Publish_Date</name>
        <choiceText>Planlegg publiserings dato</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_publication_date</name>
        <label>Check publication date</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Set_News_As_Draft</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Now</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Publish_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Publish_Date_Now</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PublishDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Publish_Date_Like_Now</targetReference>
            </connector>
            <label>Now</label>
        </rules>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Publish_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Schedule_Publish_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Publish_Date_As_Scheduled</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
    </decisions>
    <description>Flow to set publish date for news and set publish status as Published.</description>
    <interviewLabel>Announcement - publish {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Announcement Publish News</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_News</name>
        <label>Get News</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Publish_News</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NKS_Announcement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_News</name>
        <label>Update News</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <inputReference>Get_News</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Publish_News</name>
        <label>Publiser nyhet</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Avbryt</backButtonLabel>
        <connector>
            <targetReference>Check_publication_date</targetReference>
        </connector>
        <fields>
            <name>Select_Publish_Date</name>
            <choiceReferences>Publish_Date_Now</choiceReferences>
            <choiceReferences>Schedule_Publish_Date</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Publish_Date_Now</defaultSelectedChoiceReference>
            <fieldText>Velg publiserings dato:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PublishDate</name>
            <dataType>DateTime</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Publish_Date</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Schedule_Publish_Date</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Publiser</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_News</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
