force-app/main/default/flows/NKS_Conversation_Note_Create_Journal_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Initiate_Journal_Process</name>
        <label>Initiate Journal Process</label>
        <locationX>536</locationX>
        <locationY>566</locationY>
        <actionName>NKS_HenvendelseController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Verify_Journal_Post</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Journal_Error</targetReference>
        </faultConnector>
        <inputParameters>
            <name>behandlingskjedeId</name>
            <value>
                <elementReference>Get_Conversation_Note.NKS_Henvendelse_BehandlingsId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>navUnitNumber</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>navCaseId</name>
            <value>
                <elementReference>Get_Conversation_Note.NKS_Legacy_Case_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>JOURNAL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>themeCode</name>
            <value>
                <elementReference>Case_Overview.selectedCaseTheme</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>JOURNAL_POST_RESPONSE</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Journal_Completed</name>
        <label>Set Journal Completed</label>
        <locationX>303</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>Get_Conversation_Note.NKS_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Conversation_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Journal_Data</name>
        <label>Set Journal Data</label>
        <locationX>536</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>Get_Conversation_Note.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Overview.selectedCaseThemeSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Conversation_Note.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Overview.selectedThemeGroupSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Conversation_Note.NKS_Legacy_Case_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Overview.selectedCaseLegacyId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initiate_Journal_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Journal_Error</name>
        <label>Set Journal Error</label>
        <locationX>759</locationX>
        <locationY>729</locationY>
        <assignmentItems>
            <assignToReference>Get_Conversation_Note.NKS_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Conversation_Note</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verify_Journal_Post</name>
        <label>Verify Journal Post</label>
        <locationX>530</locationX>
        <locationY>735</locationY>
        <defaultConnector>
            <targetReference>Set_Journal_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Post failed</defaultConnectorLabel>
        <rules>
            <name>Successful_Post</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JOURNAL_POST_RESPONSE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Journal_Completed</targetReference>
            </connector>
            <label>Successful Post</label>
        </rules>
    </decisions>
    <interviewLabel>Conversation Note Create Journal Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversation Note Create Journal Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Conversation_Note</name>
        <label>Get Conversation Note</label>
        <locationX>536</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Journal_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conversation_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Conversation_Note</name>
        <label>Update Conversation Note</label>
        <locationX>536</locationX>
        <locationY>1022</locationY>
        <inputReference>Get_Conversation_Note</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Journal_Screen</name>
        <label>Journal Screen</label>
        <locationX>536</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Journal_Data</targetReference>
        </connector>
        <fields>
            <name>Case_Overview</name>
            <extensionName>c:nksPersonCaseOverview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actorId</name>
                <value>
                    <elementReference>Get_Conversation_Note.CRM_Account__r.CRM_Person__r.INT_ActorId__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FAGSAK_ONLY</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prefilledThemeGroup</name>
                <value>
                    <elementReference>Get_Conversation_Note.NKS_Theme_Group__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Conversation_Note</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>JOURNAL_POST_RESPONSE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the conversation note where the flow is triggered from.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
