force-app/main/default/flows/NKS_Knowledge_Remove_Topic_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Topic_Assingnments</name>
        <label>Get Topic Assingnments</label>
        <locationX>484</locationX>
        <locationY>911</locationY>
        <actionName>FlowFindCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Through_Topic_Assignments</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>TopicAssignment</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FieldApiINames</name>
            <value>
                <stringValue>Id, EntityId, EntityKeyPrefix, EntityType, TopicId, CreatedDate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>TopicAssignment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhereClause</name>
            <value>
                <elementReference>WhereClause</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Topic_Assignment</name>
        <label>Add Topic Assignment</label>
        <locationX>572</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>TopicAssignments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Topic_Assignments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Topic_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VersionId</name>
        <label>Assign VersionId</label>
        <locationX>572</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>VersionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Knowledge_Versions.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Knowledge_Versions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_EntityId_Against_VersionId</name>
        <label>Check EntityId Against VersionId</label>
        <locationX>704</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Topic_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>doesMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VersionIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Topic_Assignments.EntityId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Topic_Assignment</targetReference>
            </connector>
            <label>doesMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_ArticleList_Is_Empty</name>
        <label>Check If ArticleList Is Empty</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Knowledge_Versions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>listIsEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Knowledge_Article_Versions</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>listIsEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_List_Is_Empty</name>
        <label>Check If List Is Empty</label>
        <locationX>484</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>Delete_Topic_Assingments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TopicAssignments</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>isEmpty</label>
        </rules>
    </decisions>
    <formulas>
        <name>WhereClause</name>
        <dataType>String</dataType>
        <expression>&quot; EntityType = &apos;Knowledge&apos;&quot;</expression>
    </formulas>
    <interviewLabel>NKS Knowledge Remove Topic Assingments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NKS Knowledge Remove Topic Assignments</label>
    <loops>
        <name>Loop_Through_Knowledge_Versions</name>
        <label>Loop Through Knowledge Versions</label>
        <locationX>484</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Knowledge_Article_Versions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_VersionId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Topic_Assingnments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Topic_Assignments</name>
        <label>Loop Through Topic Assignments</label>
        <locationX>484</locationX>
        <locationY>1031</locationY>
        <collectionReference>Get_Topic_Assingnments.outputCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_EntityId_Against_VersionId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_List_Is_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Topic_Assingments</name>
        <label>Delete Topic Assingments</label>
        <locationX>616</locationX>
        <locationY>1703</locationY>
        <inputReference>TopicAssignments</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Knowledge_Article_Versions</name>
        <label>Get Knowledge Article Versions</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_ArticleList_Is_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ArticleNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ArticleNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>PublishStatus</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Knowledge_Article_Versions</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>IsLatestVersion</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Filter_Knowledge_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Topic_Assignmetns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TopicAssignment</objectType>
    </variables>
    <variables>
        <name>TopicAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TopicAssignment</objectType>
    </variables>
    <variables>
        <name>VersionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>