force-app/main/default/flows/NKS_Veiledere.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>527</locationX>
        <locationY>189</locationY>
        <actionName>FlowFindCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_users</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>User</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>FieldApiINames</name>
            <value>
                <stringValue>NKS_UserNameDisplayFLOW__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhereClause</name>
            <value>
                <elementReference>whereClause</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>users</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Add_user_ids</name>
        <label>Add user ids</label>
        <locationX>417</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>varUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentItemWithQuotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Variables</name>
        <label>Assign user names ++</label>
        <locationX>651</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>varUserNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>URLtoedituser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUserNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>indent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUserNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
                >Loop_users.NKS_UserNameDisplayFLOW__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUserNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>linebreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_users</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>userchoice</name>
        <choiceText>{!Loop_users.Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Loop_users.Id</elementReference>
        </value>
    </choices>
    <choices>
        <name>UsersWithoutQueue</name>
        <choiceText>Veiledere uten chat tilgang</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NOQUEUE</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Found_profile</name>
        <label>Found profile?</label>
        <locationX>338</locationX>
        <locationY>498</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_profile1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Profile.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users_Without_Chat</targetReference>
            </connector>
            <label>Found profile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Users_without_queues</name>
        <label>Users without queues</label>
        <locationX>168</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Group_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Users_without_queues_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Queue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UsersWithoutQueue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Profile</targetReference>
            </connector>
            <label>Users without queues</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Queues</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>NKS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>currentItemWithQuotes</name>
        <dataType>String</dataType>
        <expression
        >&quot;&apos;&quot;+{!Loop_members.UserOrGroupId}+&quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>URLtoedituser</name>
        <dataType>String</dataType>
        <expression
        >HYPERLINK(&quot;/flow/NKS_Update_User?recordId=&quot;+{!Loop_users.Id} , &quot;Rediger &quot; , &apos;_blank&apos; )</expression>
    </formulas>
    <formulas>
        <name>whereClause</name>
        <dataType>String</dataType>
        <expression
        >&quot;Id IN &quot; +SUBSTITUTE(SUBSTITUTE({!varUserIds} , &apos;[&apos;, &apos;(&apos;),&quot;]&quot;, &quot;)&quot;)</expression>
    </formulas>
    <interviewLabel>NKS Veiledere {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun
    >true</isAdditionalPermissionRequiredToRun>
    <label>NKS Veiledere</label>
    <loops>
        <name>Loop_members</name>
        <label>Loop members</label>
        <locationX>417</locationX>
        <locationY>188</locationY>
        <collectionReference>Get_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_user_ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_users</name>
        <label>Loop users</label>
        <locationX>652</locationX>
        <locationY>189</locationY>
        <collectionReference>users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_User_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Show_members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Group_Members</name>
        <label>Get Group Members</label>
        <locationX>299</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_members</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_Queue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile</name>
        <label>Get Profile</label>
        <locationX>221</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_profile</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Kontaktsenter (Sanitized)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_Without_Chat</name>
        <label>Get Users</label>
        <locationX>486</locationX>
        <locationY>478</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_users</targetReference>
        </connector>
        <filters>
            <field>UserPermissionsLiveAgentUser</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Department</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>41</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Profile.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>users</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>NKS_UserNameDisplayFLOW__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>64</locationX>
        <locationY>499</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>First_screen</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText
            >&lt;p&gt;Fant ikke profilen som er valgt. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>First_screen</name>
        <label>Hvilken kø ønsker du å se?</label>
        <locationX>176</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Users_without_queues</targetReference>
        </connector>
        <fields>
            <name>Choose_Queue</name>
            <choiceReferences>Queues</choiceReferences>
            <choiceReferences>UsersWithoutQueue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Velg kø</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_members</name>
        <label>Show members</label>
        <locationX>812</locationX>
        <locationY>194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayMembers</name>
            <fieldText
            >&lt;p&gt;Valgt liste: {!Choose_Queue}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Veiledere:&lt;/p&gt;&lt;p&gt;{!varUserNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>First_screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>indent</name>
        <text>&amp;nbsp;• &amp;nbsp;</text>
    </textTemplates>
    <textTemplates>
        <name>linebreak</name>
        <text>&lt;br&gt;</text>
    </textTemplates>
    <variables>
        <name>users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varDisplayQueueMembers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
