force-app/main/default/flows/NKS_Set_Chat_Theme_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Defines the chat theme group based on the original queue.</description>
        <name>Set_Theme_Group</name>
        <label>Set Theme Group</label>
        <locationX>50</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>$Record.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_theme_groups.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Validate the queried common code</description>
        <name>Common_Code_Check</name>
        <label>Common Code Check</label>
        <locationX>182</locationX>
        <locationY>373</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Common_Code_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_theme_groups</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Theme_Group</targetReference>
            </connector>
            <label>Common Code Not Null</label>
        </rules>
    </decisions>
    <description>Automatically populates the theme group value for the chat based on which queue it originates from.</description>
    <formulas>
        <description>Maps the incoming queue names to a theme group.</description>
        <name>Queue_Theme_Mapping</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.LiveChatButton.Queue.DeveloperName},
    &apos;NKS_Chat_Familie&apos;, &apos;FMLI&apos;,
    &apos;NKS_Chat_AAP&apos;, &apos;ARBD&apos;,
    &apos;NKS_Chat_Gjeldsrådgivning&apos;, &apos;OKSOS&apos;,
    &apos;NKS_Chat_Sosiale_Tjenester&apos;, &apos;ANSOS&apos;,
    &apos;NKS_Chat_Uføre&apos;, &apos;UFRT&apos;,
    &apos;NKS_Chat_Sykepenger&apos;, &apos;ARBD&apos;,
    &apos;NKS_Chat_Arbeidsgiver_og_Samhandler&apos;, &apos;ARBD&apos;,
    &apos;NKS_Chat_Pensjon&apos;, &apos;PENS&apos;,
    null
)</expression>
    </formulas>
    <interviewLabel>Set Chat Theme Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Chat Theme Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Query the active theme groups available.</description>
        <name>Get_theme_groups</name>
        <label>Get theme groups</label>
        <locationX>182</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Common_Code_Check</targetReference>
        </connector>
        <filters>
            <field>CRM_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Temagrupper</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Queue_Theme_Mapping</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Common_Code__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CRM_Code__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_theme_groups</targetReference>
        </connector>
        <filters>
            <field>NKS_Theme_Group__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
