force-app/main/default/flows/NKS_Update_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Current_Memberships</name>
        <label>Get Current Memberships</label>
        <locationX>446</locationX>
        <locationY>12938</locationY>
        <actionName>FlowFindCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_If_there_Is_Any_Membership_For_Deletion</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>GroupMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FieldApiINames</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>GroupMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhereClause</name>
            <value>
                <elementReference>WhereClauseForMembers</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowFindCollection</nameSegment>
        <outputParameters>
            <assignToReference>groupMembershipsToDelete</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Picklist_Values</name>
        <label>Get Picklist Values</label>
        <locationX>1073</locationX>
        <locationY>350</locationY>
        <actionName>GetPicklistValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Picklist_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>NKS_Division__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GetPicklistValues</nameSegment>
        <outputParameters>
            <assignToReference>All_Picklist_Values</assignToReference>
            <name>picklistValues</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_User_Queues</name>
        <label>Get User Queues</label>
        <locationX>1073</locationX>
        <locationY>242</locationY>
        <actionName>FlowFindCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Picklist_Values</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Group</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FieldApiINames</name>
            <value>
                <stringValue>Name, Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhereClause</name>
            <value>
                <elementReference>WhereClause</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowFindCollection</nameSegment>
        <outputParameters>
            <assignToReference>UserGroups</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_User_Queues_after_update</name>
        <label>Get User Queues after update</label>
        <locationX>446</locationX>
        <locationY>13838</locationY>
        <actionName>FlowFindCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_user_should_have_Chat</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Group</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FieldApiINames</name>
            <value>
                <stringValue>Name, Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhereClause</name>
            <value>
                <elementReference>WhereClause</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowFindCollection</nameSegment>
        <outputParameters>
            <assignToReference>UserGroupsAfterUpdate</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Queue_Name</name>
        <label>Add Queue Name</label>
        <locationX>1161</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Users_Queue_Names</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Queues.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_Queues_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_User_Queue_Id_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Queues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection_Variable</name>
        <label>Add To Collection Variable</label>
        <locationX>1106</locationX>
        <locationY>12938</locationY>
        <assignmentItems>
            <assignToReference>Single_Group_String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Group_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Group_String</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Selected_Account_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Selectable_Divisions</name>
        <label>Add To Selectable Divisions</label>
        <locationX>1161</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Selectable_Divisions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Picklist_Values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Picklist_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Beta_Permset_Value</name>
        <label>Assign Beta Permset Value</label>
        <locationX>941</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>Beta_Access</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_FAQ_Permset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Communication_Value</name>
        <label>Assign Communication Value</label>
        <locationX>941</locationX>
        <locationY>6434</locationY>
        <assignmentItems>
            <assignToReference>Communication_Access</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FAQ_Permset_Value</name>
        <label>Assign FAQ Permset Value</label>
        <locationX>941</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>FAQ_Access</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pin_News_Permset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Knowledge_Editor_Value</name>
        <label>Assign Knowledge Editor Value</label>
        <locationX>941</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>Knowledge_Editor_Access</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Permset_Topics</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_News_Chatter_Permset_Value</name>
        <label>Assign News Chatter Permset Value</label>
        <locationX>941</locationX>
        <locationY>5402</locationY>
        <assignmentItems>
            <assignToReference>News_Chatter_Access</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Announcement_Send_Notification_Permset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_News_Permset_Value</name>
        <label>Assign News Permset Value</label>
        <locationX>941</locationX>
        <locationY>4886</locationY>
        <assignmentItems>
            <assignToReference>News_Access</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_News_Chatter_Permset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pin_News_Permset_Value</name>
        <label>Assign Pin News Permset Value</label>
        <locationX>941</locationX>
        <locationY>4370</locationY>
        <assignmentItems>
            <assignToReference>Pin_News_Access</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_News_Permset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_quick_text_variable</name>
        <label>Assign quick text variable</label>
        <locationX>941</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>Quick_Text_Access</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Permset_Knowledge_Editor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Value_To_String</name>
        <label>Assign Selected Value To String</label>
        <locationX>776</locationX>
        <locationY>12722</locationY>
        <assignmentItems>
            <assignToReference>selected_GroupIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Queues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selected_GroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Empty_String_Collection</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emptyRecordCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Selected_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Send_Notification_Value</name>
        <label>Assign Send Notification Value</label>
        <locationX>941</locationX>
        <locationY>5918</locationY>
        <assignmentItems>
            <assignToReference>Send_Notification_Access</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Communication_Permset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Topics_Editor_Value</name>
        <label>Assign Topics Editor Value</label>
        <locationX>941</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>Topics_Editor_Access</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Beta_Permset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Knowledge_User_To_False</name>
        <label>Set Knowledge User To False</label>
        <locationX>1139</locationX>
        <locationY>7250</locationY>
        <assignmentItems>
            <assignToReference>Get_User.UserPermissionsKnowledgeUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Knowledge_User_To_True</name>
        <label>Set Knowledge User To True</label>
        <locationX>567</locationX>
        <locationY>7250</locationY>
        <assignmentItems>
            <assignToReference>Get_User.UserPermissionsKnowledgeUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_User_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Selected_Account_String</name>
        <label>Update Selected Account String</label>
        <locationX>1106</locationX>
        <locationY>13046</locationY>
        <assignmentItems>
            <assignToReference>selected_GroupIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedSelectedGroupString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Selected_String</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Beta_Access</name>
        <label>Check Beta Access</label>
        <locationX>1073</locationX>
        <locationY>3230</locationY>
        <defaultConnector>
            <targetReference>Get_FAQ_Permset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Beta Access</defaultConnectorLabel>
        <rules>
            <name>Has_Beta_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Beta_Permset_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Beta_Permset_Value</targetReference>
            </connector>
            <label>Has Beta Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Beta_Access_Value</name>
        <label>Check Beta Access Value</label>
        <locationX>1073</locationX>
        <locationY>8474</locationY>
        <defaultConnector>
            <targetReference>Check_FAQ_Access_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Give_Beta_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Beta_Permission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Beta_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Beta_Access_Permset_Assignment</targetReference>
            </connector>
            <label>Give Beta Access</label>
        </rules>
        <rules>
            <name>Remove_Beta_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Beta_Permission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Beta_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Beta_Access_Permset_Assignment</targetReference>
            </connector>
            <label>Remove Beta access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Communication_Access</name>
        <label>Check Communication Access</label>
        <locationX>1073</locationX>
        <locationY>6326</locationY>
        <defaultConnector>
            <targetReference>Update_User_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Communication_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Communication_Permset_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Communication_Value</targetReference>
            </connector>
            <label>Has Communication Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Communication_Access_Value</name>
        <label>Check Communication Access Value</label>
        <locationX>1073</locationX>
        <locationY>10790</locationY>
        <defaultConnector>
            <targetReference>Update_User_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Give_Communication_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Communication_Permission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Communication_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Communication_Permset_Assignment</targetReference>
            </connector>
            <label>Give Communication Access</label>
        </rules>
        <rules>
            <name>Remove_Communication_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Communication_Permission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Communication_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Communication_Permset_Assignment</targetReference>
            </connector>
            <label>Remove Communication Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Communication_Group_Membership</name>
        <label>Check Communication Group Membership</label>
        <locationX>1117</locationX>
        <locationY>11222</locationY>
        <defaultConnector>
            <targetReference>Update_User_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_to_Communication_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NKS_Communication_Group_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Communication_Permission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Communication_Group_Member</targetReference>
            </connector>
            <label>Add to Communication Group</label>
        </rules>
        <rules>
            <name>Remove_from_Communication_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NKS_Communication_Group_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Communication_Permission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Communication_Group_Member</targetReference>
            </connector>
            <label>Remove from Communication Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_FAQ_Access</name>
        <label>Check FAQ Access</label>
        <locationX>1073</locationX>
        <locationY>3746</locationY>
        <defaultConnector>
            <targetReference>Get_Pin_News_Permset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No FAQ Access</defaultConnectorLabel>
        <rules>
            <name>Has_FAQ_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FAQ_Permset_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FAQ_Permset_Value</targetReference>
            </connector>
            <label>Has FAQ Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_FAQ_Access_Value</name>
        <label>Check FAQ Access Value</label>
        <locationX>1073</locationX>
        <locationY>8774</locationY>
        <defaultConnector>
            <targetReference>Check_Pin_News_Access_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Give_FAQ_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FAQ_tilgang</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FAQ_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_FAQ_Access_Permset_Assignment</targetReference>
            </connector>
            <label>Give FAQ Access</label>
        </rules>
        <rules>
            <name>Remove_FAQ_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FAQ_tilgang</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FAQ_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_FAQ_Access_Permset_Assignment</targetReference>
            </connector>
            <label>Remove FAQ access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Division_Is_Edited</name>
        <label>Check If Division Is Edited</label>
        <locationX>1073</locationX>
        <locationY>11714</locationY>
        <defaultConnector>
            <targetReference>Check_if_Fagansvarlig_is_Edited</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Division_Is_Edited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.NKS_Division__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Update_Division.value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Division.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_2</targetReference>
            </connector>
            <label>Division Is Edited</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Fagansvarlig_is_Edited</name>
        <label>Check if Fagansvarlig is Edited</label>
        <locationX>1073</locationX>
        <locationY>12014</locationY>
        <defaultConnector>
            <targetReference>Check_if_Fagkoordinator_is_Edited</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fagansvarlig_Is_Edited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rediger_Fagansvarlig</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Fagansvarlig</targetReference>
            </connector>
            <label>Fagansvarlig Is Edited</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Fagkoordinator_is_Edited</name>
        <label>Check if Fagkoordinator is Edited</label>
        <locationX>1073</locationX>
        <locationY>12314</locationY>
        <defaultConnector>
            <targetReference>Check_If_Queues_Is_Edited</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fagkoordinator_Is_Edited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rediger_Fagkoordinator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Fagkoordinator</targetReference>
            </connector>
            <label>Fagkoordinator Is Edited</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_List_Is_Empty</name>
        <label>Check If List Is Empty</label>
        <locationX>666</locationX>
        <locationY>13454</locationY>
        <defaultConnector>
            <targetReference>Create_Group_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Group_List</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Empty_String_Collection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_User_Queues_after_update</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Queues_Is_Edited</name>
        <label>Check If Queues Is Edited</label>
        <locationX>1073</locationX>
        <locationY>12614</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queues_Is_Edited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Queues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Value_To_String</targetReference>
            </connector>
            <label>Queues Is Edited</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_there_Is_Any_Membership_For_Deletion</name>
        <label>Check If there Is Any Membership For Deletion</label>
        <locationX>446</locationX>
        <locationY>13046</locationY>
        <defaultConnector>
            <targetReference>Loop_String_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_Memberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>groupMembershipsToDelete</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>emptyRecordCollection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_current_memberships</targetReference>
            </connector>
            <label>Delete Memberships</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_user_has_chat_access</name>
        <label>Check if user have chat access</label>
        <locationX>182</locationX>
        <locationY>14054</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.UserPermissionsLiveAgentUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Chat_User</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_user_have_chat_access_remove</name>
        <label>Check if user have chat access</label>
        <locationX>710</locationX>
        <locationY>14054</locationY>
        <defaultConnector>
            <targetReference>Remove_Chat_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.UserPermissionsLiveAgentUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_user_should_have_Chat</name>
        <label>Check if user should have Chat access</label>
        <locationX>446</locationX>
        <locationY>13946</locationY>
        <defaultConnector>
            <targetReference>Check_if_user_have_chat_access_remove</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Should not have Chat access</defaultConnectorLabel>
        <rules>
            <name>Should_have_Chat_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserGroupsAfterUpdate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_user_has_chat_access</targetReference>
            </connector>
            <label>Should have Chat access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Knowledge_Access_Value</name>
        <label>Check Knowledge Access Value</label>
        <locationX>1073</locationX>
        <locationY>6734</locationY>
        <defaultConnector>
            <targetReference>Check_Quick_Text_Access_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Give_Knowledge_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Knowledge_User_Permission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Knowledge_Editor_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Knowledge_Editor_Permset_Assignment</targetReference>
            </connector>
            <label>Give Knowledge Access</label>
        </rules>
        <rules>
            <name>Remove_Knowledge_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Knowledge_User_Permission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Knowledge_Editor_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Knowledge_Editor_Permset_Assignment</targetReference>
            </connector>
            <label>Remove Knowledge Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Knowledge_Editor_Access</name>
        <label>Check Knowledge Editor Access</label>
        <locationX>1073</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Get_Permset_Topics</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Knowledge Editor</defaultConnectorLabel>
        <rules>
            <name>Has_Knowledge_Editor_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permset_Assignment_Knowledge_Editor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User.UserPermissionsKnowledgeUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Knowledge_Editor_Value</targetReference>
            </connector>
            <label>Has Knowledge Editor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_News_Access</name>
        <label>Check News Access</label>
        <locationX>1073</locationX>
        <locationY>4778</locationY>
        <defaultConnector>
            <targetReference>Get_News_Chatter_Permset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No News Access</defaultConnectorLabel>
        <rules>
            <name>Has_News_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_News_Permset_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_News_Permset_Value</targetReference>
            </connector>
            <label>Has News Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_News_Access_Value</name>
        <label>Check News Access Value</label>
        <locationX>1073</locationX>
        <locationY>9374</locationY>
        <defaultConnector>
            <targetReference>Check_Send_Notification_Access_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Give_News_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nyhetsartikler_tilgang</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>News_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_News_Access_Permset_Assignment</targetReference>
            </connector>
            <label>Give News Access</label>
        </rules>
        <rules>
            <name>Remove_News_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nyhetsartikler_tilgang</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>News_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_News_Access_Permset_Assignment</targetReference>
            </connector>
            <label>Remove News access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_News_Chatter_Access</name>
        <label>Check News Chatter Access</label>
        <locationX>1073</locationX>
        <locationY>5294</locationY>
        <defaultConnector>
            <targetReference>Get_Announcement_Send_Notification_Permset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No News Access</defaultConnectorLabel>
        <rules>
            <name>Has_News_Chatter_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_News_Chatter_Permset_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_News_Chatter_Permset_Value</targetReference>
            </connector>
            <label>Has News Chatter Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_News_Chatter_Access_Remove</name>
        <label>Check News Chatter Access</label>
        <locationX>1139</locationX>
        <locationY>9590</locationY>
        <defaultConnector>
            <targetReference>Get_NKS_News_Editors_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remove_News_Chatter_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_News_Chatter_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_News_Chatter_Access_Permset_Assignment</targetReference>
            </connector>
            <label>Remove News Chatter access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_News_Chatter_Value</name>
        <label>Check News Chatter Value</label>
        <locationX>567</locationX>
        <locationY>9590</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_NKS_News_Editors_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Give_News_Chatter_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_News_Chatter_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_News_Chatter_Access_Permset_Assignment</targetReference>
            </connector>
            <label>Give News Chatter access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pin_News_Access</name>
        <label>Check Pin News Access</label>
        <locationX>1073</locationX>
        <locationY>4262</locationY>
        <defaultConnector>
            <targetReference>Get_News_Permset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pin News Access</defaultConnectorLabel>
        <rules>
            <name>Has_Pin_News_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pin_News_Permset_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pin_News_Permset_Value</targetReference>
            </connector>
            <label>Has Pin News Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pin_News_Access_Value</name>
        <label>Check Pin News Access Value</label>
        <locationX>1073</locationX>
        <locationY>9074</locationY>
        <defaultConnector>
            <targetReference>Check_News_Access_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Give_Pin_News_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Feste_nyheter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pin_News_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Pin_News_Access_Permset_Assignment</targetReference>
            </connector>
            <label>Give Pin News Access</label>
        </rules>
        <rules>
            <name>Remove_Pin_News_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Feste_nyheter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pin_News_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Pin_News_Access_Permset_Assignment</targetReference>
            </connector>
            <label>Remove Pin News access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quick_Text_Access_Value</name>
        <label>Check Quick Text Access Value</label>
        <locationX>1073</locationX>
        <locationY>8066</locationY>
        <defaultConnector>
            <targetReference>Check_Beta_Access_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Give_QuickText_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quick_Text_Permission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quick_Text_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quick_Text_Editor_Permset_Assignement</targetReference>
            </connector>
            <label>Give Quick Text Access</label>
        </rules>
        <rules>
            <name>Remove_QuickText_Access_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quick_Text_Permission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QuickTextEditorFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Quick_Text_Editor_permset_assignment</targetReference>
            </connector>
            <label>Remove Quick Text Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quick_Text_Editor_Access</name>
        <label>Check Quick Text Editor Access</label>
        <locationX>1073</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Get_Permset_Knowledge_Editor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Quick Text Editor</defaultConnectorLabel>
        <rules>
            <name>Has_Quick_Text_Editor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permset_Assignment_Quick_Text_Editor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Permset_Assignmennt_Quick_Text_Editor_SF</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_quick_text_variable</targetReference>
            </connector>
            <label>Has Quick Text Editor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_String</name>
        <label>Check Selected String</label>
        <locationX>776</locationX>
        <locationY>12830</locationY>
        <defaultConnector>
            <targetReference>Add_To_Collection_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selected_GroupIds</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Current_Memberships</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Send_Notification_Access</name>
        <label>Check Send Notification Access</label>
        <locationX>1073</locationX>
        <locationY>5810</locationY>
        <defaultConnector>
            <targetReference>Get_Communication_Permset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Send_Notification_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Announcement_Send_Notification_Permset_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Send_Notification_Value</targetReference>
            </connector>
            <label>Has Send Notification Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Send_Notification_Access_Value</name>
        <label>Check Send Notification Access Value</label>
        <locationX>1073</locationX>
        <locationY>10490</locationY>
        <defaultConnector>
            <targetReference>Check_Communication_Access_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Give_Send_Notification_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Notification_Permission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Send_Notification_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Send_Notification_Permset_Assignment</targetReference>
            </connector>
            <label>Give Send Notification Access</label>
        </rules>
        <rules>
            <name>Remove_Send_Notification_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Notification_Permission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Send_Notification_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Send_Notification_Permset_Assignment</targetReference>
            </connector>
            <label>Remove Send Notification Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Topics_access</name>
        <label>Check Topics access</label>
        <locationX>567</locationX>
        <locationY>6950</locationY>
        <defaultConnector>
            <targetReference>Set_Knowledge_User_To_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Give_topics_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_Topic_Editor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Topics_Permset_Assignment</targetReference>
            </connector>
            <label>Give topics access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_topics_access_remove</name>
        <label>Check topics access</label>
        <locationX>1139</locationX>
        <locationY>6950</locationY>
        <defaultConnector>
            <targetReference>Set_Knowledge_User_To_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remove_topic_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Topics_Editor_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Topics_Permset_Assignment</targetReference>
            </connector>
            <label>Remove topic access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Topics_Editor_Access</name>
        <label>Check Topics Editor Access</label>
        <locationX>1073</locationX>
        <locationY>2714</locationY>
        <defaultConnector>
            <targetReference>Get_Beta_Permset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Topic Editor</defaultConnectorLabel>
        <rules>
            <name>Has_Topic_Editor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permset_Assignment_Topics</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Topics_Editor_Value</targetReference>
            </connector>
            <label>Has Topic Editor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Not_Group_Member</name>
        <label>Is Not Group Member</label>
        <locationX>1139</locationX>
        <locationY>7682</locationY>
        <defaultConnector>
            <targetReference>Check_Quick_Text_Access_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t change</defaultConnectorLabel>
        <rules>
            <name>Add_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Knowledge_Group_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Knowledge_User_Permission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Knowledge_Group_Member</targetReference>
            </connector>
            <label>Add Group</label>
        </rules>
        <rules>
            <name>Remove_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Knowledge_Group_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Knowledge_User_Permission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Knowledge_Group_Member</targetReference>
            </connector>
            <label>Remove Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Not_Group_Member_News</name>
        <label>Is Not Group Member</label>
        <locationX>1139</locationX>
        <locationY>10106</locationY>
        <defaultConnector>
            <targetReference>Check_Send_Notification_Access_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t change</defaultConnectorLabel>
        <rules>
            <name>Add_Group_News</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NKS_News_Group_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nyhetsartikler_tilgang</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_News_Group_Member</targetReference>
            </connector>
            <label>Add Group</label>
        </rules>
        <rules>
            <name>Remove_Group_news</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NKS_News_Group_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nyhetsartikler_tilgang</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_News_Group_Member</targetReference>
            </connector>
            <label>Remove Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Users_Divisions</name>
        <label>Users Divisions</label>
        <locationX>1293</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Picklist_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matching_Department</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Picklist_Values</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>DepartmentNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_Selectable_Divisions</targetReference>
            </connector>
            <label>Matching Department</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FA_Fagomraader_picklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NKS_FA_Fagomrader__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FK_Fagomraader_picklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NKS_FK_Fagomrader__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Queues</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>NKS_Skill</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Add_User_Queue_Id_Formula</name>
        <dataType>String</dataType>
        <expression>{!Loop_Queues.Id}&amp;&quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>DepartmentNumber</name>
        <dataType>String</dataType>
        <expression>&apos;K&apos;+MID({!Get_User.Department},3,2)</expression>
    </formulas>
    <formulas>
        <name>QuickTextEditorFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(!ISBLANK({!Get_Permset_Assignment_Quick_Text_Editor.Id}),true,false)</expression>
    </formulas>
    <formulas>
        <name>singleGroup</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE(LEFT({!selected_GroupIds},FIND(&quot;;&quot;,{!selected_GroupIds})),&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>test</name>
        <dataType>String</dataType>
        <expression>&quot;[]&quot;</expression>
    </formulas>
    <formulas>
        <name>UpdatedSelectedGroupString</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!selected_GroupIds},{!Single_Group_String}+&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>WhereClause</name>
        <dataType>String</dataType>
        <expression>&quot;Id in (SELECT GroupId FROM GroupMember WHERE UserOrGroupId = &apos;&quot;+{!recordId}+&quot;&apos;) AND DeveloperName LIKE &apos;NKS_SKILL%&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>WhereClauseForMembers</name>
        <dataType>String</dataType>
        <expression>&quot;UserOrGroupId = &apos;&quot;+{!recordId}+&quot;&apos; AND Group.DeveloperName LIKE &apos;NKS_Skill%&apos;&quot;</expression>
    </formulas>
    <interviewLabel>Update User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update User</label>
    <loops>
        <name>Loop_Picklist_Values</name>
        <label>Loop Picklist Values</label>
        <locationX>1073</locationX>
        <locationY>458</locationY>
        <collectionReference>All_Picklist_Values</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Users_Divisions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Queues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Queues</name>
        <label>Loop Queues</label>
        <locationX>1073</locationX>
        <locationY>950</locationY>
        <collectionReference>UserGroups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Queue_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Permset_Quick_Text_Editor</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_String_Collection</name>
        <label>Loop String Collection</label>
        <locationX>446</locationX>
        <locationY>13346</locationY>
        <collectionReference>Selected_Group_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_List_Is_Empty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User_Queues_after_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Beta_Access_Permset_Assignment</name>
        <label>Create Beta Access Permset Assignment</label>
        <locationX>809</locationX>
        <locationY>8582</locationY>
        <connector>
            <targetReference>Check_FAQ_Access_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Beta_Permset.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Communication_Group_Member</name>
        <label>Create Communication Group Member</label>
        <locationX>853</locationX>
        <locationY>11330</locationY>
        <connector>
            <targetReference>Update_User_1</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_NKS_Communication_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Communication_Permset_Assignment</name>
        <label>Create Communication Permset Assignment</label>
        <locationX>589</locationX>
        <locationY>10898</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_NKS_Communication_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Communication_Permset.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_FAQ_Access_Permset_Assignment</name>
        <label>Create FAQ Access Permset Assignment</label>
        <locationX>809</locationX>
        <locationY>8882</locationY>
        <connector>
            <targetReference>Check_Pin_News_Access_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_FAQ_Permset.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Group_Membership</name>
        <label>Create Group Membership</label>
        <locationX>798</locationX>
        <locationY>13562</locationY>
        <connector>
            <targetReference>Loop_String_Collection</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Loop_String_Collection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Knowledge_Editor_Permset_Assignment</name>
        <label>Create Knowledge Editor Permset Assignment</label>
        <locationX>567</locationX>
        <locationY>6842</locationY>
        <connector>
            <targetReference>Check_Topics_access</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Permset_Knowledge_Editor.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Knowledge_Group_Member</name>
        <label>Create Knowledge Group Member</label>
        <locationX>875</locationX>
        <locationY>7790</locationY>
        <connector>
            <targetReference>Check_Quick_Text_Access_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_Knowledge_Editor_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_News_Access_Permset_Assignment</name>
        <label>Create News Access Permset Assignment</label>
        <locationX>567</locationX>
        <locationY>9482</locationY>
        <connector>
            <targetReference>Check_News_Chatter_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_News_Permset.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_News_Chatter_Access_Permset_Assignment</name>
        <label>Create News Chatter Access Permset Assignment</label>
        <locationX>435</locationX>
        <locationY>9698</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_NKS_News_Editors_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_News_Chatter_Permset.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_News_Group_Member</name>
        <label>Create News Group Member</label>
        <locationX>875</locationX>
        <locationY>10214</locationY>
        <connector>
            <targetReference>Check_Send_Notification_Access_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_NKS_News_Editors_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Pin_News_Access_Permset_Assignment</name>
        <label>Create Pin News Access Permset Assignment</label>
        <locationX>809</locationX>
        <locationY>9182</locationY>
        <connector>
            <targetReference>Check_News_Access_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Pin_News_Permset.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quick_Text_Editor_Permset_Assignement</name>
        <label>Create Quick Text Editor Permset Assignement</label>
        <locationX>809</locationX>
        <locationY>8174</locationY>
        <connector>
            <targetReference>Create_Quick_Text_Editor_SF_Permset_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Permset_Quick_Text_Editor.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quick_Text_Editor_SF_Permset_Assignment</name>
        <label>Create Quick Text Editor SF Permset Assignment</label>
        <locationX>809</locationX>
        <locationY>8282</locationY>
        <connector>
            <targetReference>Check_Beta_Access_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Permset_Quick_Text_Editor_SF.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Send_Notification_Permset_Assignment</name>
        <label>Create Send Notification Permset Assignment</label>
        <locationX>809</locationX>
        <locationY>10598</locationY>
        <connector>
            <targetReference>Check_Communication_Access_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Announcement_Send_Notification_Permset.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Topics_Permset_Assignment</name>
        <label>Create Topics Permset Assignment</label>
        <locationX>435</locationX>
        <locationY>7058</locationY>
        <connector>
            <targetReference>Set_Knowledge_User_To_True</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Permset_Topics.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Communication_Group_Member</name>
        <label>Delete Communication Group Member</label>
        <locationX>1117</locationX>
        <locationY>11330</locationY>
        <connector>
            <targetReference>Update_User_1</targetReference>
        </connector>
        <inputReference>Get_NKS_Communication_Group_Member</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_current_memberships</name>
        <label>Delete current memberships</label>
        <locationX>314</locationX>
        <locationY>13154</locationY>
        <connector>
            <targetReference>Loop_String_Collection</targetReference>
        </connector>
        <inputReference>groupMembershipsToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Knowledge_Group_Member</name>
        <label>Delete Knowledge Group Member</label>
        <locationX>1139</locationX>
        <locationY>7790</locationY>
        <connector>
            <targetReference>Check_Quick_Text_Access_Value</targetReference>
        </connector>
        <inputReference>Get_Knowledge_Group_Member</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_News_Group_Member</name>
        <label>Delete News Group Member</label>
        <locationX>1139</locationX>
        <locationY>10214</locationY>
        <connector>
            <targetReference>Check_Send_Notification_Access_Value</targetReference>
        </connector>
        <inputReference>Get_NKS_News_Group_Member</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Beta_Access_Permset_Assignment</name>
        <label>Remove Beta Access Permset Assignment</label>
        <locationX>1073</locationX>
        <locationY>8582</locationY>
        <connector>
            <targetReference>Check_FAQ_Access_Value</targetReference>
        </connector>
        <inputReference>Get_Beta_Permset_Assignment</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Communication_Permset_Assignment</name>
        <label>Remove Communication Permset Assignment</label>
        <locationX>1117</locationX>
        <locationY>10898</locationY>
        <connector>
            <targetReference>Get_NKS_Communication_Group</targetReference>
        </connector>
        <inputReference>Get_Communication_Permset_Assignment</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_FAQ_Access_Permset_Assignment</name>
        <label>Remove FAQ Access Permset Assignment</label>
        <locationX>1073</locationX>
        <locationY>8882</locationY>
        <connector>
            <targetReference>Check_Pin_News_Access_Value</targetReference>
        </connector>
        <inputReference>Get_FAQ_Permset_Assignment</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Knowledge_Editor_Permset_Assignment</name>
        <label>Remove Knowledge Editor Permset Assignment</label>
        <locationX>1139</locationX>
        <locationY>6842</locationY>
        <connector>
            <targetReference>Check_topics_access_remove</targetReference>
        </connector>
        <inputReference>Get_Permset_Assignment_Knowledge_Editor</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_News_Access_Permset_Assignment</name>
        <label>Remove News Access Permset Assignment</label>
        <locationX>1139</locationX>
        <locationY>9482</locationY>
        <connector>
            <targetReference>Check_News_Chatter_Access_Remove</targetReference>
        </connector>
        <inputReference>Get_News_Permset_Assignment</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_News_Chatter_Access_Permset_Assignment</name>
        <label>Remove News Chatter Access Permset Assignment</label>
        <locationX>1007</locationX>
        <locationY>9698</locationY>
        <connector>
            <targetReference>Get_NKS_News_Editors_Group</targetReference>
        </connector>
        <inputReference>Get_News_Chatter_Permset_Assignment</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Pin_News_Access_Permset_Assignment</name>
        <label>Remove Pin News Access Permset Assignment</label>
        <locationX>1073</locationX>
        <locationY>9182</locationY>
        <connector>
            <targetReference>Check_News_Access_Value</targetReference>
        </connector>
        <inputReference>Get_Pin_News_Permset_Assignment</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Quick_Text_Editor_permset_assignment</name>
        <label>Remove Quick Text Editor permset assignment</label>
        <locationX>1073</locationX>
        <locationY>8174</locationY>
        <connector>
            <targetReference>Remove_Quick_Text_Editor_SF_Permset_Assignment</targetReference>
        </connector>
        <inputReference>Get_Permset_Assignment_Quick_Text_Editor</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Quick_Text_Editor_SF_Permset_Assignment</name>
        <label>Remove Quick Text Editor SF Permset Assignment</label>
        <locationX>1073</locationX>
        <locationY>8282</locationY>
        <connector>
            <targetReference>Check_Beta_Access_Value</targetReference>
        </connector>
        <inputReference>Get_Permset_Assignmennt_Quick_Text_Editor_SF</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Send_Notification_Permset_Assignment</name>
        <label>Remove Send Notification Permset Assignment</label>
        <locationX>1073</locationX>
        <locationY>10598</locationY>
        <connector>
            <targetReference>Check_Communication_Access_Value</targetReference>
        </connector>
        <inputReference>Get_Announcement_Send_Notification_Permset_Assignment</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Topics_Permset_Assignment</name>
        <label>Remove Topics Permset Assignment</label>
        <locationX>1007</locationX>
        <locationY>7058</locationY>
        <connector>
            <targetReference>Set_Knowledge_User_To_False</targetReference>
        </connector>
        <inputReference>Get_Permset_Assignment_Topics</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Announcement_Send_Notification_Permset</name>
        <label>Get Announcement Send Notification Permset</label>
        <locationX>1073</locationX>
        <locationY>5594</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Announcement_Send_Notification_Permset_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Announcement_Send_Notification_Field_Access</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Announcement_Send_Notification_Permset_Assignment</name>
        <label>Get Announcement Send Notification Permset Assignment</label>
        <locationX>1073</locationX>
        <locationY>5702</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Send_Notification_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Announcement_Send_Notification_Permset.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Beta_Permset</name>
        <label>Get Beta Permset</label>
        <locationX>1073</locationX>
        <locationY>3014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Beta_Permset_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Beta_Permission</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Beta_Permset_Assignment</name>
        <label>Get Beta Permset Assignment</label>
        <locationX>1073</locationX>
        <locationY>3122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Beta_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Beta_Permset.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Communication_Permset</name>
        <label>Get Communication Permset</label>
        <locationX>1073</locationX>
        <locationY>6110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Communication_Permset_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Communication</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Communication_Permset_Assignment</name>
        <label>Get Communication Permset Assignment</label>
        <locationX>1073</locationX>
        <locationY>6218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Communication_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Communication_Permset.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FAQ_Permset</name>
        <label>Get FAQ Permset</label>
        <locationX>1073</locationX>
        <locationY>3530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FAQ_Permset_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Manage_FAQs</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FAQ_Permset_Assignment</name>
        <label>Get FAQ Permset Assignment</label>
        <locationX>1073</locationX>
        <locationY>3638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_FAQ_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FAQ_Permset.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Knowledge_Editor_Group</name>
        <label>Get Knowledge Editor Group</label>
        <locationX>1139</locationX>
        <locationY>7466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Knowledge_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Knowledge_Editors</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Knowledge_Group_Member</name>
        <label>Get Knowledge Group Member</label>
        <locationX>1139</locationX>
        <locationY>7574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Not_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Knowledge_Editor_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_News_Chatter_Permset</name>
        <label>Get News Chatter Permset</label>
        <locationX>1073</locationX>
        <locationY>5078</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_News_Chatter_Permset_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Announcement_News_Chatter_Stream</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_News_Chatter_Permset_Assignment</name>
        <label>Get News Chatter Permset Assignment</label>
        <locationX>1073</locationX>
        <locationY>5186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_News_Chatter_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_News_Chatter_Permset.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_News_Permset</name>
        <label>Get News Permset</label>
        <locationX>1073</locationX>
        <locationY>4562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_News_Permset_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Announcement_News_Editor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_News_Permset_Assignment</name>
        <label>Get News Permset Assignment</label>
        <locationX>1073</locationX>
        <locationY>4670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_News_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_News_Permset.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NKS_Communication_Group</name>
        <label>Get NKS Communication Group</label>
        <locationX>1117</locationX>
        <locationY>11006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NKS_Communication_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Communication</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NKS_Communication_Group_Member</name>
        <label>Get NKS Communication Group Member</label>
        <locationX>1117</locationX>
        <locationY>11114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Communication_Group_Membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_NKS_Communication_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NKS_News_Editors_Group</name>
        <label>Get NKS News Editors Group</label>
        <locationX>1139</locationX>
        <locationY>9890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NKS_News_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_News_Editors</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NKS_News_Group_Member</name>
        <label>Get NKS News Group Member</label>
        <locationX>1139</locationX>
        <locationY>9998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Not_Group_Member_News</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_NKS_News_Editors_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permset_Assignmennt_Quick_Text_Editor_SF</name>
        <label>Get Permset Assignmennt Quick Text Editor SF</label>
        <locationX>1073</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Quick_Text_Editor_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permset_Quick_Text_Editor_SF.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permset_Assignment_Knowledge_Editor</name>
        <label>Get Permset Assignment Knowledge Editor</label>
        <locationX>1073</locationX>
        <locationY>2090</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Knowledge_Editor_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permset_Knowledge_Editor.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permset_Assignment_Quick_Text_Editor</name>
        <label>Get Permset Assignment Quick Text Editor</label>
        <locationX>1073</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permset_Assignmennt_Quick_Text_Editor_SF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permset_Quick_Text_Editor.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permset_Assignment_Topics</name>
        <label>Get Permset Assignment Topics</label>
        <locationX>1073</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Topics_Editor_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permset_Topics.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permset_Knowledge_Editor</name>
        <label>Get Permset Knowledge Editor</label>
        <locationX>1073</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permset_Assignment_Knowledge_Editor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Knowledge_Editor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permset_Quick_Text_Editor</name>
        <label>Get Permset Quick Text Editor</label>
        <locationX>1073</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permset_Quick_Text_Editor_SF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Quick_Text_Editor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permset_Quick_Text_Editor_SF</name>
        <label>Get Permset Quick Text Editor SF</label>
        <locationX>1073</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permset_Assignment_Quick_Text_Editor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Quick_Text_Editor_Salesforce</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permset_Topics</name>
        <label>Get Permset Topics</label>
        <locationX>1073</locationX>
        <locationY>2498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permset_Assignment_Topics</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Topics</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pin_News_Permset</name>
        <label>Get Pin News Permset</label>
        <locationX>1073</locationX>
        <locationY>4046</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pin_News_Permset_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Announcement_Pin_News_Permission_set</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pin_News_Permset_Assignment</name>
        <label>Get Pin News Permset Assignment</label>
        <locationX>1073</locationX>
        <locationY>4154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pin_News_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pin_News_Permset.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1073</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Queues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_Chat_User</name>
        <label>Remove Chat User</label>
        <locationX>842</locationX>
        <locationY>14162</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UserPermissionsLiveAgentUser</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Chat_User</name>
        <label>Set Chat User</label>
        <locationX>50</locationX>
        <locationY>14162</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UserPermissionsLiveAgentUser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_0</name>
        <label>Update User</label>
        <locationX>1139</locationX>
        <locationY>7358</locationY>
        <connector>
            <targetReference>Get_Knowledge_Editor_Group</targetReference>
        </connector>
        <inputReference>Get_User</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_1</name>
        <label>Update User</label>
        <locationX>1073</locationX>
        <locationY>11606</locationY>
        <connector>
            <targetReference>Check_If_Division_Is_Edited</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_NAV_Ident__c</field>
            <value>
                <elementReference>NAV_Ident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NKS_Alias__c</field>
            <value>
                <elementReference>Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NKS_FullNameAlias__c</field>
            <value>
                <elementReference>Full_Name_Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsKnowledgeUser</field>
            <value>
                <elementReference>Knowledge_User_Permission</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_2</name>
        <label>Update User</label>
        <locationX>941</locationX>
        <locationY>11822</locationY>
        <connector>
            <targetReference>Check_if_Fagansvarlig_is_Edited</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NKS_Division__c</field>
            <value>
                <elementReference>Update_Division.value</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Fagansvarlig</name>
        <label>Update User</label>
        <locationX>941</locationX>
        <locationY>12122</locationY>
        <connector>
            <targetReference>Check_if_Fagkoordinator_is_Edited</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NKS_FA_Fagomrader__c</field>
            <value>
                <elementReference>FA_Fagomraader</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Fagkoordinator</name>
        <label>Update User</label>
        <locationX>941</locationX>
        <locationY>12422</locationY>
        <connector>
            <targetReference>Check_If_Queues_Is_Edited</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NKS_FK_Fagomrader__c</field>
            <value>
                <elementReference>FK_Fagomraader</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Update_User_Screen</name>
        <label>Update User Screen</label>
        <locationX>1073</locationX>
        <locationY>6626</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Knowledge_Access_Value</targetReference>
        </connector>
        <fields>
            <name>Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!Get_User.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_User.LastName} er p avdeling &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!Get_User.NKS_Division__c}. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Veileder sitt navn i chat er: &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!Get_User.NKS_GreetingName__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Veilederen har i dag disse kene: &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!Users_Queue_Names}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Veilederen er fagansvarlig for disse omrdene: &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_User.NKS_FA_Fagomrader__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Veilederen er fagkoordinator for disse omrdene: &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_User.NKS_FK_Fagomrader__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NAV_Ident</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_User.CRM_NAV_Ident__c</elementReference>
            </defaultValue>
            <fieldText>NAV Ident</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Alias</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_User.NKS_Alias__c</elementReference>
            </defaultValue>
            <fieldText>Fornavn Alias</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Full_Name_Alias</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_User.NKS_FullNameAlias__c</elementReference>
            </defaultValue>
            <fieldText>Fullt Navn Alias</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Update_Division</name>
            <extensionName>c:fbc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>NKS_Division__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>Selectable_Divisions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Endre avdeling</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>1640.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Set_Queues</name>
            <dataType>Boolean</dataType>
            <fieldText>Rediger chatker</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Queues</name>
            <choiceReferences>Queues</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>User_Queues_Id</elementReference>
            </defaultValue>
            <fieldText>Velg ker</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Set_Queues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FAQ_tilgang</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Has_FAQ_Access</elementReference>
            </defaultValue>
            <fieldText>FAQ - nav.no</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Nyhetsartikler_tilgang</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>News_Access</elementReference>
            </defaultValue>
            <fieldText>Nyhetsartikler</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Feste_nyheter</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Pin_News_Access</elementReference>
            </defaultValue>
            <fieldText>Feste nyheter</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Send_Notification_Permission</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Send_Notification_Access</elementReference>
            </defaultValue>
            <fieldText>Notifikasjon for nyheter</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Knowledge_User_Permission</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Knowledge_Editor_Access</elementReference>
            </defaultValue>
            <fieldText>Knowledge tilgang</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quick_Text_Permission</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Quick_Text_Access</elementReference>
            </defaultValue>
            <fieldText>Hurtig tekst tilgang</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Beta_Permission</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Beta_Access</elementReference>
            </defaultValue>
            <fieldText>Beta tilgang</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Communication_Permission</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Communication_Access</elementReference>
            </defaultValue>
            <fieldText>Kommunikasjon tilgang</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Rediger_Fagansvarlig</name>
            <dataType>Boolean</dataType>
            <fieldText>Fagansvarlig</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FA_Fagomraader</name>
            <choiceReferences>FA_Fagomraader_picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_User.NKS_FA_Fagomrader__c</elementReference>
            </defaultValue>
            <fieldText>Velg fagomrder</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Rediger_Fagansvarlig</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rediger_Fagkoordinator</name>
            <dataType>Boolean</dataType>
            <fieldText>Fagkoordinator</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FK_Fagomraader</name>
            <choiceReferences>FK_Fagomraader_picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_User.NKS_FK_Fagomrader__c</elementReference>
            </defaultValue>
            <fieldText>Velg fagomrder</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Rediger_Fagkoordinator</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Oppdater</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>All_Picklist_Values</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Beta_Access</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Communication_Access</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>Empty_String_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emptyRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>FAQ_Access</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>groupMembershipsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>groupsMembershipsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>Knowledge_Editor_Access</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>KnowledgeGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>News_Access</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>News_Chatter_Access</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Pin_News_Access</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Quick_Text_Access</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selectable_Divisions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Group_List</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_GroupIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Send_Notification_Access</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Single_Group_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Topics_Editor_Access</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>User_Queues_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserGroups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>UserGroupsAfterUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Users_Queue_Names</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
