force-app/main/default/flows/NKS_Case_Send_NAV_Task_v_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_henvendelse_ID</name>
        <label>Add henvendelse ID</label>
        <locationX>544</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Henvendelse_BehandlingsId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.NKS_Henvendelse_BehandlingsId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAV_Task_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the appropriate values from the input screen to the NAV task.</description>
        <name>NAV_Task_Assignment</name>
        <label>NAV Task Assignment</label>
        <locationX>412</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>NavTask.CRM_NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Unit_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Theme_Group_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Theme_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Subtheme_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.CRM_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.CRM_NoPersonInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tasktype.selectedTaskTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_Resource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.CRM_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Subtype_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>communalQuickTextLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nav_Task_Quick_Text.selectedValueLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Person_Access</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_henvendelse_ID</name>
        <label>Remove henvendelse ID</label>
        <locationX>280</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Henvendelse_BehandlingsId__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Case__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>NAV_Task_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NAV_Task_Saved_To_True</name>
        <label>Set NAV Task Saved To True</label>
        <locationX>115</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>NAV_Task_Saved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Publish_Notification</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>navTaskOutput.CRM_NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Unit_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>navTaskOutput.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>navTaskOutput.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Theme_Group_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>navTaskOutput.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Theme_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>navTaskOutput.NKS_Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Subtheme_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>navTaskOutput.CRM_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>navTaskOutput.CRM_NoPersonInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>navTaskOutput.NKS_TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tasktype.selectedTaskTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>navTaskOutput.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>navTaskOutput.NKS_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_Resource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>navTaskOutput.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>navTaskOutput.CRM_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Subtype_SF_Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Publish_Notification_To_True</name>
        <label>Set Publish Notification To True</label>
        <locationX>511</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Publish_Notification</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_communal_quick_text_used</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Task_on_Case_or_Person</name>
        <label>Create Task on Henvendelse or Person</label>
        <locationX>412</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Add_henvendelse_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Henvendelse Task</defaultConnectorLabel>
        <rules>
            <name>Create_person_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Theme_SF_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Communal_Service_Theme.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_henvendelse_ID</targetReference>
            </connector>
            <label>Create person Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_communal_quick_text_used</name>
        <label>Is communal quick text used?</label>
        <locationX>511</locationX>
        <locationY>1514</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_communal_quick_text</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>communalQuickTextLabel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_reporting_data_for_communal_quick_text</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Save_NAV_Task</name>
        <label>Save NAV Task</label>
        <locationX>412</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Send_NAV_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>save</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>NavTask.NKS_Henvendelse_BehandlingsId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NavTask.NKS_Henvendelse_BehandlingsId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_Theme_SF_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Communal_Service_Theme.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasPersonRead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_NAV_Task_Saved_To_True</targetReference>
            </connector>
            <label>save</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the case is related to an account before allowing to create task.</description>
        <name>Validate_Account</name>
        <label>Validate Account</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>NAV_Task_Input_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>No Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the API post was successful</description>
        <name>Verify_Task_Post</name>
        <label>Verify Task Post</label>
        <locationX>709</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Post Error</defaultConnectorLabel>
        <rules>
            <name>Successful_Post</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_NAV_Task.SUCCESSFUL_POST</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Publish_Notification_To_True</targetReference>
            </connector>
            <label>Successful Post</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Priority_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_Priority__c</picklistField>
        <picklistObject>NavTask__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Task type for the NAV task</description>
        <name>Task_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NKS_Task_Type__c</picklistField>
        <picklistObject>NavTask__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Formula for setting the default due date to next friday.</description>
        <name>Default_Due_Date</name>
        <dataType>Date</dataType>
        <expression>CASE(MOD({!$Flow.CurrentDate} - DATE(1900, 1, 5), 7),
0, {!$Flow.CurrentDate}+ 4,
1, {!$Flow.CurrentDate} + 3,
2, {!$Flow.CurrentDate} + 2,
3, {!$Flow.CurrentDate} + 2,
4, {!$Flow.CurrentDate} + 2,
5, {!$Flow.CurrentDate} + 2,
6, {!$Flow.CurrentDate}+ 2,
TODAY())</expression>
    </formulas>
    <formulas>
        <description>Checks if the user has beta access.</description>
        <name>hasBetaAccess</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.NKS_Beta}</expression>
    </formulas>
    <formulas>
        <description>Default name for the task generated.</description>
        <name>Task_Name</name>
        <dataType>String</dataType>
        <expression>Case({!tasktype.selectedTaskType}, &apos;KONT_BRUK&apos;, &apos;Kontakt bruker&apos;, &apos;VURD_HENV&apos;, &apos;Vurder henvendelse&apos;, &apos;Vurder konsekvens for ytelse&apos;)</expression>
    </formulas>
    <formulas>
        <name>Task_Theme_Code</name>
        <dataType>String</dataType>
        <expression>{!NavTask.NKS_Theme__r.CRM_Code__c}</expression>
    </formulas>
    <interviewLabel>NKS Case Send NAV Task v. 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>NKS Case Send NAV Task v. 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_reporting_data_for_communal_quick_text</name>
        <label>Create reporting data for communal quick text</label>
        <locationX>379</locationX>
        <locationY>1622</locationY>
        <inputAssignments>
            <field>CRM_Category__c</field>
            <value>
                <stringValue>Kommunal hurtigtekst</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Nav_Task_Quick_Text.selectedValueLabel} </stringValue>
            </value>
        </inputAssignments>
        <object>ReportingData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Query information needed from the Case and its relations.</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Communal_Service_Theme</name>
        <label>Get Communal Service Theme</label>
        <locationX>412</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_on_Case_or_Person</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KOM</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tema</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Common_Code__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Access</name>
        <label>Get Person Access</label>
        <locationX>412</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_NAV_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Account.CRM_Person__c</elementReference>
            </value>
        </filters>
        <object>UserRecordAccess</object>
        <outputAssignments>
            <assignToReference>HasPersonRead</assignToReference>
            <field>HasReadAccess</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>personId</assignToReference>
            <field>RecordId</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Something went wrong when posting/updating the NAV task.</description>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>176</locationX>
        <locationY>2174</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 21, 21); font-size:
                18px;&quot;&gt;Feil ved opprettelse av oppgave&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Account_Error</name>
            <fieldText>&lt;p&gt;Henvendelsen er ikke relatert til en bruker.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Post_Error_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family:
                -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu,
                &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica
                Neue&amp;quot;, sans-serif; font-size: 12px; background-color: rgb(255, 255,
                255);&quot;&gt;Oppgaveopprettelse feilet. En utvikler har fått beskjed og vil
                feilsøke dette. Bruk Modia for å opprette oppgaven for denne
                brukeren.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Successful_Post</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NAV_Task_Input_Screen</name>
        <label>NAV Task Input Screen</label>
        <locationX>412</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Communal_Service_Theme</targetReference>
        </connector>
        <fields>
            <name>Ny_Oppgave_Display</name>
            <fieldText>&lt;p&gt;{!Ny_Oppgave}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Theme_Categorization</name>
            <extensionName>c:crmThemeCategorization</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>subtheme</name>
                <value>
                    <elementReference>NavTask.NKS_Subtheme__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>themeGroup</name>
                <value>
                    <elementReference>NavTask.NKS_Theme_Group__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theme</name>
                <value>
                    <elementReference>NavTask.NKS_Theme__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtype</name>
                <value>
                    <elementReference>NavTask.CRM_Subtype__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>themeSet</name>
                <value>
                    <stringValue>ALL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>HIDE_THEME_GROUP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autoFocus</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionalTheme</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkIfGjelderIsRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useNewDesign</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Theme_SF_Id</assignToReference>
                <name>theme</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_Theme_Group_SF_Id</assignToReference>
                <name>themeGroup</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_Subtype_SF_Id</assignToReference>
                <name>subtype</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_Subtheme_SF_Id</assignToReference>
                <name>subtheme</name>
            </outputParameters>
        </fields>
        <fields>
            <name>tasktype</name>
            <extensionName>c:crmTaskTypePicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showcomponent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theme</name>
                <value>
                    <elementReference>Task_Theme_Code</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Task_Priority</name>
            <choiceReferences>Priority_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>LAV</stringValue>
            </defaultValue>
            <fieldText>Prioritet</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Nav_Task_Quick_Text</name>
            <extensionName>c:crmNavTaskCommunalQuickText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case.Origin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Phone</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Task_Description</name>
            <defaultValue>
                <stringValue>{!Nav_Task_Quick_Text.selectedValue}</stringValue>
            </defaultValue>
            <fieldText>Oppgave til NAV-enhet</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Husk at oppgavebeskrivelsen ikke skal inneholde personsensitive
                opplysninger!&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>workAllocation</name>
            <extensionName>c:crmNavTaskWorkAllocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>personId</name>
                <value>
                    <elementReference>Get_Case.Account.CRM_Person__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theme</name>
                <value>
                    <elementReference>Task_Theme_Code</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideDelegateToSelf</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableConditionalRendering</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Unit_Id</assignToReference>
                <name>selectedUnitId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_Unit_Name</assignToReference>
                <name>selectedUnitName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_Unit_Number</assignToReference>
                <name>selectedUnitNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Assigned_Resource</assignToReference>
                <name>assignedResource</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Opprett oppgave</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_App_Log</name>
        <label>Create App Log</label>
        <locationX>1083</locationX>
        <locationY>242</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>NKS_Case_Send_NAV_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Error occurred in flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_NAV_Task</name>
        <label>Send NAV Task</label>
        <locationX>709</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Verify_Task_Post</targetReference>
        </connector>
        <flowName>CRM_Send_NAV_Task_Auto</flowName>
        <inputAssignments>
            <name>Created_By_Unit_Number</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NAV_Task</name>
            <value>
                <elementReference>NavTask</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Ny_Oppgave</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;h2&gt;Ny oppgave&lt;/h2&gt;</text>
    </textTemplates>
    <variables>
        <name>Assigned_Resource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>communalQuickTextLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasPersonRead</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NAV_Task_Saved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The NAV task record to perform the action on.</description>
        <name>NavTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <name>navTaskOutput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <name>personId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Publish_Notification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Record ID if the flow is called with a reference to an existing NAV task.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Subtheme_SF_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Subtype_SF_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Theme_Group_SF_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Theme_SF_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_Unit_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Unit_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_Unit_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
