force-app/main/default/flows/NKS_Case_Log_a_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Displays a toast on successful log.</description>
        <name>Show_Toast</name>
        <label>Show Toast</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <actionName>c:ShowToast_Flow</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Get_Case.NKS_Theme__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Samtalereferat opprettet</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <description>Assigns updated values for case</description>
        <name>Case_Assignment</name>
        <label>Case Assignment</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dialogue_Summary.conversationNote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Overview.selectedThemeGroupSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Overview.selectedCaseThemeSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.NKS_Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Overview.selectedSubthemeSfId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account</name>
        <label>Set Account</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Account_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if the case is connected to an account</description>
        <name>Check_Account</name>
        <label>Check Account</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>No_Account_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account</defaultConnectorLabel>
        <rules>
            <name>Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if journal entry is to be created.</description>
        <name>Create_Journal_Entry_Decision</name>
        <label>Create Journal Entry?</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Case_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Journal_Entry_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Journal_Entry.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Assignment</targetReference>
            </connector>
            <label>Create Journal Entry</label>
        </rules>
    </decisions>
    <formulas>
        <description>Template text for call summary.</description>
        <name>Summary_Template</name>
        <dataType>String</dataType>
        <expression>&apos;Hei,&apos; &amp; {!Get_Account.Name} &amp; &apos;\n&apos; &amp;
&apos;Mvh,&apos; &amp; &apos;\n&apos; &amp;
{!$User.NKS_GreetingName__c}</expression>
    </formulas>
    <interviewLabel>Case Log a Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Log a Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Queries the account</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Queries information from the case record</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Show_Toast</targetReference>
        </connector>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Account</name>
        <label>Update Case Account</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Log_Screen</name>
        <label>Log Screen</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Journal_Entry_Decision</targetReference>
        </connector>
        <fields>
            <name>Conversation_Note_Header</name>
            <fieldText
            >&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!$Label.NKS_Create_Conversation_Note}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Overview</name>
            <extensionName>c:nksPersonCaseOverview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actorId</name>
                <value>
                    <elementReference
                    >Get_Case.Account.CRM_Person__r.INT_ActorId__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prefilledThemeGroup</name>
                <value>
                    <elementReference>Get_Case.NKS_Theme_Group__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Dialogue_Summary</name>
            <extensionName>c:nksQuickText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>conversationNote</name>
                <value>
                    <elementReference>Summary_Template</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Create_Journal_Entry</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Journalfør?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Ja</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nei</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Record_Refresher</name>
            <extensionName>c:nksRecordRefresher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen displayed when the case is not connected to an account</description>
        <name>No_Account_Screen</name>
        <label>No Account Screen</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Account</targetReference>
        </connector>
        <fields>
            <name>Update_Account_Text</name>
            <fieldText
            >&lt;p&gt;Henvendelsen er ikke tilknyttet en bruker. Vennligst oppdater med riktig bruker referat skal knyttes til.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Account_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Bruker:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <elementReference>Create_Journal_Entry_True</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the record triggering the flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
