force-app/main/default/flows/NKS_Conversation_Note_Create_and_journal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Journal_Entry</name>
        <label>Post Journal Entry</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>CRM_ConvNoteJournalHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Conversation_Note</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Journal_Case_ID</name>
            <value>
                <elementReference>Journal_Case.selectedCaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Case_Legacy_System</name>
            <value>
                <elementReference>Journal_Case.selectedCaseLegacyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Entry_NAV_Ident</name>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Entry_Unit</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Theme_Code</name>
            <value>
                <elementReference>Journal_Case.selectedCaseTheme</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Conversation_Note.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CRM_ConvNoteJournalHelper</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.NKS_Henvendelse_BehandlingsId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conversation_Note.CRM_Henvendelse_BehandlingskjedeId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Conversation_Note_Assignment</name>
        <label>Conversation Note Assignment</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Conversation_Note.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Asset.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note.CRM_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note.CRM_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.NKS_Theme__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note.CRM_Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.NKS_Subtheme__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note.CRM_Conversation_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conversationNote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note.CRM_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.NKS_Theme_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note.CRM_Created_By_NAV_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note.CRM_Created_By_Ident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note.CRM_Henvendelse_BehandlingskjedeId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.NKS_Henvendelse_BehandlingsId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note.CRM_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Started</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Conversation_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Journal_Entry_Assignment</name>
        <label>Journal Entry Assignment</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Case.selectedThemeGroupSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Case.selectedCaseThemeSfId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conversation_Note_Assignment</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>NKS Conversation Note Create and journal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NKS Conversation Note Create and journal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Conversation_Note</name>
        <label>Create Conversation Note</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Post_Journal_Entry</targetReference>
        </connector>
        <inputReference>Conversation_Note</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Journal_Case_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Conversation_Note</name>
        <label>Get Conversation Note</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Conversation_Note.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conversation_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Journal_Case_Screen</name>
        <label>Journal Case Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Journal_Entry_Assignment</targetReference>
        </connector>
        <fields>
            <name>Journal_Case</name>
            <extensionName>c:crmPersonCaseOverview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actorId</name>
                <value>
                    <elementReference>Get_Case.Account.CRM_Person__r.INT_ActorId__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prefilledThemeGroup</name>
                <value>
                    <elementReference>Get_Case.NKS_Theme_Group__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Journal_Button</name>
            <extensionName>c:nksFlowNavigationV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>$Label.NKS_Journal_Share_With_User</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>label</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Conversation_Note</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conversation_Note__c</objectType>
    </variables>
    <variables>
        <name>conversationNote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
