force-app/main/default/flows/NKS_KnowledgeFeedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Success</name>
        <label>Success</label>
        <locationX>567</locationX>
        <locationY>502</locationY>
        <actionName>c:ShowToast_Flow</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Tilbakemeldingen ble opprettet</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Jippi!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Assign_feedback</name>
        <label>Assign feedback</label>
        <locationX>303</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>CaseFeedback.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Feedback</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseFeedback.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseFeedback.KnowledgeArticle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseFeedback.Knowledge_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>where</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_feedback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_picklist_values</name>
        <label>Assign picklist values</label>
        <locationX>662</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>CaseFeedback.Data_Categories__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_DataCategories.DataCategoryName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseFeedback.Data_Categories__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_DataCategories</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Area</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Knowledge_Area__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>SOQLFilter</name>
        <dataType>String</dataType>
        <expression>&quot;KnowledgeArticle__c =&apos;&quot; +{!recordId} + &quot;&apos;&quot;</expression>
    </formulas>
    <interviewLabel>Give Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NKS Knowledge Feedback</label>
    <loops>
        <name>Loop_DataCategories</name>
        <label>Loop DataCategories</label>
        <locationX>416</locationX>
        <locationY>201</locationY>
        <collectionReference>Get_DataCategories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_picklist_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FeedbackScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_feedback</name>
        <label>Create feedback</label>
        <locationX>452</locationX>
        <locationY>501</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>CaseFeedback</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_DataCategories</name>
        <label>Get DataCategories</label>
        <locationX>281</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_DataCategories</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FeedbackScreen</targetReference>
        </faultConnector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Knowledge__DataCategorySelection</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Feedback_RecordTypeId</name>
        <label>Get Feedback RecordTypeId</label>
        <locationX>176</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_DataCategories</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Feedback</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>FeedbackRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>FeedbackScreen</name>
        <label>FeedbackScreen</label>
        <locationX>304</locationX>
        <locationY>371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_feedback</targetReference>
        </connector>
        <fields>
            <name>where</name>
            <choiceReferences>Area</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Område tilbakemeldingen gjelder:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Feedback</name>
            <fieldText>Tilbakemelding</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Her kan du skrive inn din tilbakemelding til denne kunnskapsartikkelen. &lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FeedbackList</name>
            <extensionName>c:nksHomePageList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>listviewname</name>
                <value>
                    <stringValue>Tilbakemeldinger</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>CaseNumber</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardLabel</name>
                <value>
                    <stringValue>Tidligere tilbakemeldinger</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>content</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterbyskills</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>limit</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>linklabel</name>
                <value>
                    <stringValue>Vis alle tilbakemeldinger</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderby</name>
                <value>
                    <stringValue>CreatedDate DESC</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showimage</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filter</name>
                <value>
                    <elementReference>SOQLFilter</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>datefield</name>
                <value>
                    <stringValue>CreatedDate</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Feedback_RecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseFeedback</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>FeedbackRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
