force-app/main/default/flows/NKS_Account_Send_NAV_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assigns the appropriate values from the input screen to the NAV task.</description>
        <name>NAV_Task_Assignment</name>
        <label>NAV Task Assignment</label>
        <locationX>179</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>NavTask.CRM_NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workAllocation.selectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Theme_Categorization.themeGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Theme_Categorization.theme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Theme_Categorization.subtheme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.CRM_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.CRM_NoPersonInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tasktype.selectedTaskTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workAllocation.assignedResource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.CRM_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Theme_Categorization.subtype</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_NAV_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Validate if the callout was successful</description>
        <name>Validate_Callout</name>
        <label>Validate Callout</label>
        <locationX>172</locationX>
        <locationY>783</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>API Post Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_NAV_Task.SUCCESSFUL_POST</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Screen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Creates a NAV task from an account view.</description>
    <dynamicChoiceSets>
        <name>Priority_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>CRM_Priority__c</picklistField>
        <picklistObject>NavTask__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Task type for the NAV task</description>
        <name>Task_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>NKS_Task_Type__c</picklistField>
        <picklistObject>NavTask__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Formula for setting the default due date to next friday.</description>
        <name>Default_Due_Date</name>
        <dataType>Date</dataType>
        <expression>CASE(MOD({!$Flow.CurrentDate} - DATE(1900, 1, 5), 7),
0, {!$Flow.CurrentDate}+ 4,
1, {!$Flow.CurrentDate} + 3,
2, {!$Flow.CurrentDate} + 2,
3, {!$Flow.CurrentDate} + 2,
4, {!$Flow.CurrentDate} + 2,
5, {!$Flow.CurrentDate} + 2,
6, {!$Flow.CurrentDate}+ 2,
TODAY())</expression>
    </formulas>
    <formulas>
        <description>Default name of the generated task</description>
        <name>Task_Name</name>
        <dataType>String</dataType>
        <expression>Case({!tasktype.selectedTaskType}, &apos;KONT_BRUK&apos;, &apos;Kontakt bruker&apos;, &apos;VURD_HENV&apos;, &apos;Vurder henvendelse&apos;, &apos;Vurder konsekvens for ytelse&apos;)</expression>
    </formulas>
    <interviewLabel>Account Send NAV Task {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Account Send NAV Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Query information needed from the account and its relations.</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NAV_Task_Input_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Something went wrong when posting/updating the NAV task.</description>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>513</locationX>
        <locationY>783</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 21, 21); font-size: 18px;&quot;&gt;Feil ved opprettelse av oppgave&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Screen_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px; font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;Oppgaveopprettelse feilet. En utvikler har fått beskjed og vil feilsøke dette. Bruk Modia for å opprette oppgaven for denne brukeren.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NAV_Task_Input_Screen</name>
        <label>NAV Task Input Screen</label>
        <locationX>176</locationX>
        <locationY>309</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NAV_Task_Assignment</targetReference>
        </connector>
        <fields>
            <name>Theme_Categorization</name>
            <extensionName>c:crmThemeCategorization</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>subtheme</name>
                <value>
                    <elementReference>NavTask.NKS_Subtheme__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>themeGroup</name>
                <value>
                    <elementReference>NavTask.NKS_Theme_Group__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theme</name>
                <value>
                    <elementReference>NavTask.NKS_Theme__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtype</name>
                <value>
                    <elementReference>NavTask.CRM_Subtype__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>tasktype</name>
            <extensionName>c:crmTaskTypePicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showcomponent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Task_Priority</name>
            <choiceReferences>Priority_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>LAV</stringValue>
            </defaultValue>
            <fieldText>Prioritet</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Task_Description</name>
            <fieldText>Oppgave til NAV-enhet</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Husk at oppgavebeskrivelsen ikke skal inneholde personsensitive opplysninger!&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>workAllocation</name>
            <extensionName>c:crmNavTaskWorkAllocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>personId</name>
                <value>
                    <elementReference>Get_Account.CRM_Person__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableConditionalRendering</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Opprett oppgave</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen for telling user that the task was successfully sent.</description>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>179</locationX>
        <locationY>963</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Screen_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Oppgaven ble sendt&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_App_Log1</name>
        <label>Create App Log</label>
        <locationX>678</locationX>
        <locationY>929</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>NKS_Account_Send_NAV_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Flow error occurred.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_NAV_Task</name>
        <label>Send NAV Task</label>
        <locationX>180</locationX>
        <locationY>633</locationY>
        <connector>
            <targetReference>Validate_Callout</targetReference>
        </connector>
        <flowName>CRM_Send_NAV_Task_Auto</flowName>
        <inputAssignments>
            <name>Created_By_Unit_Number</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NAV_Task</name>
            <value>
                <elementReference>NavTask</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>The NAV task record to perform the action on.</description>
        <name>NavTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <description>Record ID if the flow is called with a reference to an existing NAV task.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>