force-app/main/default/flows/NKS_Case_Log_a_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Initiate_Journal_Process</name>
        <label>Initiate Journal Process</label>
        <locationX>753</locationX>
        <locationY>1081</locationY>
        <actionName>NKS_HenvendelseController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Conversation_Note_Journal_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Journal_Error</targetReference>
        </faultConnector>
        <inputParameters>
            <name>behandlingskjedeId</name>
            <value>
                <elementReference>BEHANDLINGS_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>navUnitNumber</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>navCaseId</name>
            <value>
                <elementReference>Case_Overview.selectedCaseLegacyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>JOURNAL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>themeCode</name>
            <value>
                <elementReference>Case_Overview.selectedCaseTheme</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Posts the conversation note to henvendelse via API</description>
        <name>Post_to_Henvendelse</name>
        <label>Post to Henvendelse</label>
        <locationX>972</locationX>
        <locationY>943</locationY>
        <actionName>NKS_HenvendelseController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Journal_Entry_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Journal_Entry_Decision_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>content</name>
            <value>
                <elementReference>Dialogue_Summary.conversationNote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>navUnitNumber</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personIdent</name>
            <value>
                <elementReference>Get_Account.INT_PersonIdent__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SEND</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>themeGroupCode</name>
            <value>
                <elementReference>Case_Overview.selectedThemeGroup</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>BEHANDLINGS_ID</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Displays a toast on successful log.</description>
        <name>Show_Toast</name>
        <label>Show Toast</label>
        <locationX>965</locationX>
        <locationY>2048</locationY>
        <actionName>c:ShowToast_Flow</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Get_Case.NKS_Theme__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Samtalereferat opprettet</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <description>Assigns updated values for case</description>
        <name>Case_Assignment_Default_0</name>
        <label>Case Assignment</label>
        <locationX>967</locationX>
        <locationY>1427</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Theme_Categorization.themeGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Theme_Categorization.theme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.NKS_Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Theme_Categorization.subtheme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.NKS_Henvendelse_BehandlingsId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BEHANDLINGS_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Conversation_Note_Assignment</name>
        <label>Conversation Note Assignment</label>
        <locationX>967</locationX>
        <locationY>1723</locationY>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.NKS_Theme__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.NKS_Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.NKS_Subtheme__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Conversation_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dialogue_Summary.conversationNote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Conversation_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Tags the conversation note with journal completion</description>
        <name>Conversation_Note_Journal_Assignment</name>
        <label>Conversation Note Journal Assignment</label>
        <locationX>753</locationX>
        <locationY>1259</locationY>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.NKS_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.NKS_Legacy_Case_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Overview.selectedCaseLegacyId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Assignment_Default_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account</name>
        <label>Set Account</label>
        <locationX>1187</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Account_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Journal_Error</name>
        <label>Set Journal Error</label>
        <locationX>596</locationX>
        <locationY>1435</locationY>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.NKS_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.NKS_Legacy_Case_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Overview.selectedCaseLegacyId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Assignment_Default_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Journal_Error_0</name>
        <label>Set Journal Error</label>
        <locationX>1345</locationX>
        <locationY>1427</locationY>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.NKS_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Assignment_Default_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if the case is connected to an account</description>
        <name>Check_Account</name>
        <label>Check Account</label>
        <locationX>964</locationX>
        <locationY>351</locationY>
        <defaultConnector>
            <targetReference>No_Account_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account</defaultConnectorLabel>
        <rules>
            <name>Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the status if the case. If it is closed, the conversation note is already made.</description>
        <name>Check_Case_Status</name>
        <label>Check Case Status</label>
        <locationX>768</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>Check_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Open</defaultConnectorLabel>
        <rules>
            <name>Case_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Closed_Screen</targetReference>
            </connector>
            <label>Case Closed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if journal entry is to be created.</description>
        <name>Create_Journal_Entry_Decision</name>
        <label>Create Journal Entry?</label>
        <locationX>964</locationX>
        <locationY>1084</locationY>
        <defaultConnector>
            <targetReference>Case_Assignment_Default_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Journal_Entry_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Journal_Entry.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Journal_Process</targetReference>
            </connector>
            <label>Create Journal Entry</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if journal entry is to be created.</description>
        <name>Create_Journal_Entry_Decision_0</name>
        <label>Create Journal Entry?</label>
        <locationX>1180</locationX>
        <locationY>944</locationY>
        <defaultConnector>
            <targetReference>Case_Assignment_Default_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Journal_Entry_True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Journal_Entry.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Journal_Error_0</targetReference>
            </connector>
            <label>Create Journal Entry</label>
        </rules>
    </decisions>
    <interviewLabel>Case Log a Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Log a Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Inserts the conversation note.</description>
        <name>Create_Conversation_Note</name>
        <label>Create Conversation Note</label>
        <locationX>966</locationX>
        <locationY>1885</locationY>
        <connector>
            <targetReference>Show_Toast</targetReference>
        </connector>
        <inputReference>Conversation_Note_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Queries the account</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>972</locationX>
        <locationY>653</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>INT_PersonIdent__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Queries information from the case record</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>967</locationX>
        <locationY>1577</locationY>
        <connector>
            <targetReference>Conversation_Note_Assignment</targetReference>
        </connector>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Account</name>
        <label>Update Case Account</label>
        <locationX>1188</locationX>
        <locationY>653</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Case_Closed_Screen</name>
        <label>Case Closed Screen</label>
        <locationX>556</locationX>
        <locationY>346</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Case_Closed_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Henvendelsen er ferdigstilt.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Log_Screen</name>
        <label>Log Screen</label>
        <locationX>972</locationX>
        <locationY>799</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Post_to_Henvendelse</targetReference>
        </connector>
        <fields>
            <name>Conversation_Note_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!$Label.NKS_Create_Conversation_Note}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dialogue_Summary</name>
            <extensionName>c:nksQuickText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>conversationNoteRich</name>
                <value>
                    <elementReference>Summary_Template</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Create_Journal_Entry</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Journalfør?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Ja</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nei</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Theme_Categorization</name>
            <extensionName>c:nksThemeCategorization</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>themeGroup</name>
                <value>
                    <elementReference>Get_Case.NKS_Theme_Group__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Journal_Entry.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Case_Overview</name>
            <extensionName>c:nksPersonCaseOverview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actorId</name>
                <value>
                    <elementReference>Get_Case.Account.CRM_Person__r.INT_ActorId__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prefilledThemeGroup</name>
                <value>
                    <elementReference>Get_Case.NKS_Theme_Group__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FAGSAK_ONLY</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Journal_Entry.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Record_Refresher</name>
            <extensionName>c:nksRecordRefresher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Complete_BTN</name>
            <extensionName>c:nksFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>RIGHT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>$Label.NKS_Journal_Flow_Complete_Button</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen displayed when the case is not connected to an account</description>
        <name>No_Account_Screen</name>
        <label>No Account Screen</label>
        <locationX>1189</locationX>
        <locationY>349</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Account</targetReference>
        </connector>
        <fields>
            <name>Update_Account_Text</name>
            <fieldText>&lt;p&gt;Henvendelsen er ikke tilknyttet en bruker. Vennligst oppdater med riktig bruker referat skal knyttes til.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Account_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Bruker:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <elementReference>Create_Journal_Entry_True</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Summary_Template</name>
        <text>&lt;p&gt;Hei, {!Get_Account.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Mvh,&lt;/p&gt;&lt;p&gt;{!$User.NKS_GreetingName__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BEHANDLINGS_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Conversation Note record to be created.</description>
        <name>Conversation_Note_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Conversation_Note__c</objectType>
    </variables>
    <variables>
        <description>Id of the record triggering the flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
