force-app/main/default/flows/NKS_Chat_Create_Journal_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Generates a base 64 encoded pdf string</description>
        <name>Generate_PDF</name>
        <label>Generate PDF</label>
        <locationX>671</locationX>
        <locationY>156</locationY>
        <actionName>NKS_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>documentString</name>
            <value>
                <elementReference>Get_Chat_Transcript.NKS_Conversation__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>GENERATE_DOCUMENT</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Set_Journal_Entry_Created</name>
        <label>Set Journal Entry Created</label>
        <locationX>756</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>Get_Chat_Transcript.NKS_Journal_Entry_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Chat_Transcript.NKS_Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Transcript</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if a journal entry has already been created.</description>
        <name>Check_Journal_Entry_Created</name>
        <label>Check Journal Entry Created</label>
        <locationX>168</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>Input_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Journal_Entry_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chat_Transcript.NKS_Journal_Entry_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Journal_Completed_Screen</targetReference>
            </connector>
            <label>Journal Entry Created</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decide if a task should be created or not.</description>
        <name>Should_Create_Task</name>
        <label>Should Create Task?</label>
        <locationX>556</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>Set_Journal_Entry_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_Create_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Journal_Entry_Created</targetReference>
            </connector>
            <label>Do Create Task</label>
        </rules>
    </decisions>
    <description>Flow to initiate the creation of a journal entry.</description>
    <dynamicChoiceSets>
        <name>NAV_UNIT_CHOICE</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>NavUnit__c</object>
        <valueField>INT_UnitNumber__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Subtype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_SubTheme__c</picklistField>
        <picklistObject>NavTask__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_Theme__c</picklistField>
        <picklistObject>NavTask__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>NKS Chat Create Journal Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chat Create Journal Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Query the chat transcript triggering the flow.</description>
        <name>Get_Chat_Transcript</name>
        <label>Get Chat Transcript</label>
        <locationX>176</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Journal_Entry_Created</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NKS_Journal_Entry_Created__c</queriedFields>
        <queriedFields>NKS_Journal_Entry_Status__c</queriedFields>
        <queriedFields>NKS_Journal_Entry_ID__c</queriedFields>
        <queriedFields>NKS_Conversation__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Transcript</name>
        <label>Update Transcript</label>
        <locationX>907</locationX>
        <locationY>355</locationY>
        <inputReference>Get_Chat_Transcript</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Input from user to connect journal entry to correct case, and if a task should be created to another NAV unit</description>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>404</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Should_Create_Task</targetReference>
        </connector>
        <fields>
            <name>Journal_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Journal&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Related_to_case</name>
            <dataType>String</dataType>
            <fieldText>Related to case:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_task</name>
            <dataType>Boolean</dataType>
            <fieldText>Create task?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Journal_Completed_Screen</name>
        <label>Journal Completed Screen</label>
        <locationX>178</locationX>
        <locationY>558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Entry_Completed_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;A journal entry has been submitted for this chat.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Chat_Transcript</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Calls subflow to send the journal entry to JOARK</description>
        <name>Send_Journal_Entry</name>
        <label>Send Journal Entry</label>
        <locationX>842</locationX>
        <locationY>156</locationY>
        <flowName>NKS_Post_Journal_Entry</flowName>
        <inputAssignments>
            <name>Complete</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Post_Request</name>
            <value>
                <elementReference>Journal_Post_Request</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Journal_Post_Request</name>
        <apexClass>ExternalService__dokarkivAPI_JournalPostReq</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
