force-app/main/default/flows/NKS_STO_transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Close_Case_Tab</name>
        <label>Close Case Tab</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <actionName>c:nksTabCloser</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <actionCalls>
        <description>Query all queues that handles STO</description>
        <name>Get_STO_Queues</name>
        <label>Get STO Queues</label>
        <locationX>358</locationX>
        <locationY>398</locationY>
        <actionName>FlowFindCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Picklist_Loop</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Group</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>BypassSharing</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FieldApiINames</name>
            <value>
                <stringValue>Id, Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhereClause</name>
            <value>
                <stringValue>Type = &apos;Queue&apos; AND Id IN (SELECT QueueId from QueueSobject where SobjectType = &apos;Thread__c&apos;) </stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>STO_QUEUES</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Call apex to calculate the due date for the NAV task</description>
        <name>Get_Task_due_date</name>
        <label>Get Task due date</label>
        <locationX>666</locationX>
        <locationY>2006</locationY>
        <actionName>nksDueDateUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Insert_NAV_Task</targetReference>
        </connector>
        <inputParameters>
            <name>taskList</name>
            <value>
                <elementReference>STO_NAV_TASK</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>STO_NAV_TASK.CRM_DueDate__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <description>Add STO queue ID to the collection</description>
        <name>Add_Queue_ID</name>
        <label>Add Queue ID</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Queue_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Picklist_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Queue_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Queue_Name</name>
        <label>Add Queue Name</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Queue_Names</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Picklist_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Picklist_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NAV_Task_Task_Type</name>
        <label>Assign NAV Task Task Type</label>
        <locationX>1018</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.NKS_TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Common_Code_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Common_Code_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NAV_Task_Theme_Code</name>
        <label>Assign NAV Task Theme Code</label>
        <locationX>754</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Common_Code_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Common_Code_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NAV_Task_Values</name>
        <label>Assign NAV Task Values</label>
        <locationX>666</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.CRM_NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAV_Unit_Allocator.selectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.CRM_NoPersonInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.CRM_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NORM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Task_due_date</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Transfer_to_NAV_Unit</name>
        <choiceText>NAV-enhet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NAV_UNIT_TRANSFER</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer_to_Queue</name>
        <choiceText>Annen kø</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QUEUE_TRANSFER</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Common_Code_Type</name>
        <label>Check Common Code Type</label>
        <locationX>886</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>Assign_NAV_Task_Task_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Task Type Code</defaultConnectorLabel>
        <rules>
            <name>Is_Theme_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Common_Code_Loop.CRM_Code_Set__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tema</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NAV_Task_Theme_Code</targetReference>
            </connector>
            <label>Is Theme Code</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the inquiry should be transferred to a Salesforce queue or to another NAV unit (via NAV Task)</description>
        <name>Transfer_Decision</name>
        <label>Transfer Decision</label>
        <locationX>358</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Get_Theme_Common_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Transfer to NAV Unit</defaultConnectorLabel>
        <rules>
            <name>Queue_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Transfer_to_Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_to_Queue</targetReference>
            </connector>
            <label>Queue Transfer</label>
        </rules>
    </decisions>
    <formulas>
        <name>NAV_Unit_Transfer_Text</name>
        <dataType>String</dataType>
        <expression>&apos;Samtalen ble overført til &apos; + {!NAV_Unit_Allocator.selectedUnitName}</expression>
    </formulas>
    <formulas>
        <name>Queue_Transfer_Text</name>
        <dataType>String</dataType>
        <expression>&apos;Samtalen ble overført til &apos; + {!STO_Queue_Picklist.selectedLabel}</expression>
    </formulas>
    <interviewLabel>STO transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STO transfer</label>
    <loops>
        <name>Common_Code_Loop</name>
        <label>Common Code Loop</label>
        <locationX>666</locationX>
        <locationY>1334</locationY>
        <collectionReference>Get_Theme_Common_Code</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Common_Code_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_NAV_Task_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop to generate choice values for queue selection</description>
        <name>Picklist_Loop</name>
        <label>Picklist Loop</label>
        <locationX>358</locationX>
        <locationY>518</locationY>
        <collectionReference>STO_QUEUES</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Queue_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Transfer_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_NAV_Task</name>
        <label>Insert NAV Task</label>
        <locationX>666</locationX>
        <locationY>2126</locationY>
        <connector>
            <targetReference>Send_NAV_Task</targetReference>
        </connector>
        <inputReference>STO_NAV_TASK</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Query the case information</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Thread</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Queries the correct theme and task type common codes for the NAV Task</description>
        <name>Get_Theme_Common_Code</name>
        <label>Get NAV Task Common Codes</label>
        <locationX>666</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Common_Code_Loop</targetReference>
        </connector>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KNA</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KONT_BRUK</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oppgavetyper</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tema</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Common_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the STO Thread information</description>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>358</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_STO_Queues</targetReference>
        </connector>
        <filters>
            <field>CRM_Related_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Case_to_Queue</name>
        <label>Assign Case to Queue</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Submit_Transfer_Event</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>STO_Queue_Picklist.value</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Screen including transfer options.</description>
        <name>Transfer_Screen</name>
        <label>Transfer Screen</label>
        <locationX>358</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Transfer_Decision</targetReference>
        </connector>
        <fields>
            <name>Transfer_to</name>
            <choiceReferences>Transfer_to_Queue</choiceReferences>
            <choiceReferences>Transfer_to_NAV_Unit</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Transfer_to_Queue</defaultSelectedChoiceReference>
            <fieldText>Sett over til:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>STO_Queue_Picklist</name>
            <extensionName>c:fbc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>Queue_Names</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>Queue_IDs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Kø:</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Transfer_to</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Transfer_to_Queue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Task_Description</name>
            <fieldText>Oppgavebeskrivelse</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Transfer_to</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Transfer_to_NAV_Unit</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NAV_Unit_Allocator</name>
            <extensionName>c:nksNavTaskWorkAllocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>taskType</name>
                <value>
                    <stringValue>KNA</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theme</name>
                <value>
                    <stringValue>KNA</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>personId</name>
                <value>
                    <elementReference>Get_Case.Account.CRM_Person__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideDelegateToSelf</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Transfer_to</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Transfer_to_NAV_Unit</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_NAV_Task</name>
        <label>Send NAV Task</label>
        <locationX>666</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Submit_Transfer_Event_0</targetReference>
        </connector>
        <flowName>NKS_Send_NAV_Task</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>STO_NAV_TASK.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Add a transfer event message to the thread</description>
        <name>Submit_Transfer_Event</name>
        <label>Submit Transfer Event</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Close_Case_Tab</targetReference>
        </connector>
        <flowName>CRM_Create_Thread_Event</flowName>
        <inputAssignments>
            <name>Event_Message</name>
            <value>
                <elementReference>Queue_Transfer_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Thread_ID</name>
            <value>
                <elementReference>Get_Thread.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Add a transfer event message to the thread</description>
        <name>Submit_Transfer_Event_0</name>
        <label>Submit Transfer Event</label>
        <locationX>666</locationX>
        <locationY>2366</locationY>
        <flowName>CRM_Create_Thread_Event</flowName>
        <inputAssignments>
            <name>Event_Message</name>
            <value>
                <elementReference>Queue_Transfer_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Thread_ID</name>
            <value>
                <elementReference>Get_Thread.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Queue_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>STO queue names</description>
        <name>Queue_Names</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>NAV task to be generated when transferring STO to another NAV Unit</description>
        <name>STO_NAV_TASK</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <name>STO_QUEUES</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
</Flow>
