force-app/main/default/flows/NKS_Knowledge_Remove_Topic_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_VersionId</name>
        <label>Assign VersionId</label>
        <locationX>440</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>VersionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentItem_Filter_Knowledge_Articles.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Knowledge_Versions</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Knowledge_Articles</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Knowledge Articles</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNextValueToReference>currentItem_Filter_Knowledge_Articles</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Knowledge_Article_Versions</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Knowledge_Articles.IsLatestVersion</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_If_ArticleList_Is_Empty</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_If_ArticleList_Is_Empty</name>
        <label>Check If ArticleList Is Empty</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Knowledge_Versions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>listIsEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Knowledge_Articles</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>listIsEmpty</label>
        </rules>
    </decisions>
    <interviewLabel>NKS Knowledge Remove Topic Assingments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NKS Knowledge Remove Topic Assignments</label>
    <loops>
        <name>Loop_Through_Knowledge_Versions</name>
        <label>Loop Through Knowledge Versions</label>
        <locationX>352</locationX>
        <locationY>695</locationY>
        <collectionReference>Filter_Knowledge_Articles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_VersionId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_Old_Topic_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Knowledge_Article_Versions</name>
        <label>Get Knowledge Article Versions</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Knowledge_Articles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ArticleNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ArticleNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Knowledge_Article_Versions</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>IsLatestVersion</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Remove_Old_Topic_Assignments</name>
        <label>Remove Old Topic Assignments</label>
        <locationX>352</locationX>
        <locationY>1031</locationY>
        <flowName>Remove_Old_TopicAssignment</flowName>
        <inputAssignments>
            <name>versionIds</name>
            <value>
                <elementReference>VersionIds</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Filter_Knowledge_Articles</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Knowledge_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Topic_Assignmetns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TopicAssignment</objectType>
    </variables>
    <variables>
        <name>TopicAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TopicAssignment</objectType>
    </variables>
    <variables>
        <name>VersionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
