force-app/main/default/flows/NKS_Journal_Chat_Thread.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Check that the chat har been authenticated to be able to create a journal entry.</description>
        <name>Verify_Authentication_Status</name>
        <label>Verify Authentication Status</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>User_Not_Authenticated_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Authenticated</defaultConnectorLabel>
        <rules>
            <name>Is_Authenticated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chat_Transcript.CRM_Authentication_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Chat_Transcript.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Is Authenticated</label>
        </rules>
    </decisions>
    <interviewLabel>Journal Chat Thread {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Journal Chat Thread</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Queries the related account</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Chat_Transcript.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Chat_Transcript</name>
        <label>Get Chat Transcript</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Authentication_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Authentication_Status__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>NKS_Theme_Group__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the thread related to the chat transcript</description>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Journal_Entry_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Related_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Chat_Transcript.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Journal_Entry_Screen</name>
        <label>Journal Entry Screen</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Journal_Entry</targetReference>
        </connector>
        <fields>
            <name>Person_Case_Overview</name>
            <extensionName>c:nksPersonCaseOverview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>prefilledThemeGroup</name>
                <value>
                    <elementReference>Get_Chat_Transcript.NKS_Theme_Group__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actorId</name>
                <value>
                    <elementReference>Get_Account.CRM_Person__r.INT_ActorId__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Not_Authenticated_Screen</name>
        <label>User Not Authenticated Screen</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>User_Not_Logged_In_Error_Text</name>
            <fieldText>&lt;p&gt;Brukeren må være logget inn for å kunne journalføre.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Oppdater</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Chat_Transcript</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Calls subflow to create a new journal entry.</description>
        <name>Create_Journal_Entry</name>
        <label>Create Journal Entry</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <flowName>CRM_Thread_Create_Journal_Entry</flowName>
        <inputAssignments>
            <name>Journal_Case_ID</name>
            <value>
                <elementReference>Person_Case_Overview.selectedCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Case_Legacy_System</name>
            <value>
                <elementReference>Person_Case_Overview.selectedCaseLegacySystem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Entry_NAV_Ident</name>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Entry_Unit</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Theme_Code</name>
            <value>
                <elementReference>Person_Case_Overview.selectedCaseTheme</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Thread.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Id of the chat transcript record calling the flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
