force-app/main/default/flows/NKS_Conversation_Note_Send_NAV_Task_v_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_henvendelse_ID</name>
        <label>Add henvendelse ID</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Henvendelse_BehandlingsId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Conversation_Note.CRM_API_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAV_Task_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the appropriate values from the input screen to the NAV task.</description>
        <name>NAV_Task_Assignment</name>
        <label>NAV Task Assignment</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>NavTask.CRM_NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Unit_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Theme_Group_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Theme_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Subtheme_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.CRM_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.CRM_NoPersonInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tasktype.selectedTaskTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned_Resource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.CRM_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Subtype_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NavTask.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_NAV_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_henvendelse_ID</name>
        <label>Remove henvendelse ID</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NavTask.NKS_Henvendelse_BehandlingsId__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>NAV_Task_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Publish_Notification_To_True</name>
        <label>Set Publish Notification To True</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Publish_Notification</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Create_Task_on_Henvendelse_or_Person</name>
        <label>Create Task on Henvendelse or Person</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Add_henvendelse_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Henvendelse Task</defaultConnectorLabel>
        <rules>
            <name>Create_person_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Theme_SF_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Communal_Service_Theme.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_henvendelse_ID</targetReference>
            </connector>
            <label>Create person Task</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate if the callout was successful</description>
        <name>Validate_Callout</name>
        <label>Validate Callout</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>API Post Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_NAV_Task.SUCCESSFUL_POST</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Publish_Notification_To_True</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Priority_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_Priority__c</picklistField>
        <picklistObject>NavTask__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Default name of the generated task</description>
        <name>Task_Name</name>
        <dataType>String</dataType>
        <expression>Case({!tasktype.selectedTaskType}, &apos;KONT_BRUK&apos;, &apos;Kontakt bruker&apos;, &apos;VURD_HENV&apos;, &apos;Vurder henvendelse&apos;, &apos;Vurder konsekvens for ytelse&apos;)</expression>
    </formulas>
    <interviewLabel>NKS Conversation Note Send NAV Task v 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NKS Conversation Note Send NAV Task v 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Query information needed from the account and its relations.</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NAV_Task_Input_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Conversation_Note.CRM_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Communal_Service_Theme</name>
        <label>Get Communal Service Theme</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_on_Henvendelse_or_Person</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KOM</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tema</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Common_Code__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Conversation_Note</name>
        <label>Get Conversation Note</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conversation_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Something went wrong when posting/updating the NAV task.</description>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 21, 21); font-size: 18px;&quot;&gt;Feil ved opprettelse av oppgave&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Screen_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 12px; font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;Oppgaveopprettelse feilet. En utvikler har fått beskjed og vil feilsøke dette. Bruk Modia for å opprette oppgaven for denne brukeren.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NAV_Task_Input_Screen</name>
        <label>NAV Task Input Screen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Communal_Service_Theme</targetReference>
        </connector>
        <fields>
            <name>tasktype</name>
            <extensionName>c:crmTaskTypePicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showcomponent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Task_Priority</name>
            <choiceReferences>Priority_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>LAV</stringValue>
            </defaultValue>
            <fieldText>Prioritet</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Task_Description</name>
            <fieldText>Oppgave til NAV-enhet</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Husk at oppgavebeskrivelsen ikke skal inneholde personsensitive opplysninger!&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>workAllocation</name>
            <extensionName>c:crmNavTaskWorkAllocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>personId</name>
                <value>
                    <elementReference>Get_Account.CRM_Person__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableConditionalRendering</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Assigned_Resource</assignToReference>
                <name>assignedResource</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_Unit_Id</assignToReference>
                <name>selectedUnitId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_Unit_Name</assignToReference>
                <name>selectedUnitName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_Unit_Number</assignToReference>
                <name>selectedUnitNumber</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Opprett oppgave</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Conversation_Note</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_App_Log1</name>
        <label>Create App Log</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>NKS_Account_Send_NAV_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Flow error occurred.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>NavTask__c</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_NAV_Task</name>
        <label>Send NAV Task</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Validate_Callout</targetReference>
        </connector>
        <flowName>CRM_Send_NAV_Task_Auto</flowName>
        <inputAssignments>
            <name>Created_By_Unit_Number</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NAV_Task</name>
            <value>
                <elementReference>NavTask</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Assigned_Resource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The NAV task record to perform the action on.</description>
        <name>NavTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <name>Publish_Notification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Subtheme_SF_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Subtype_SF_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Theme_Group_SF_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Theme_SF_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_Unit_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Unit_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_Unit_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
