force-app/main/default/flows/NKS_Chat_Create_Journal_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Passes the NAV task to Apex for delegation.</description>
        <name>Delegate_NAV_Task</name>
        <label>Delegate NAV Task</label>
        <locationX>736</locationX>
        <locationY>1653</locationY>
        <actionName>CRM_NavTaskManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validate_NAV_Task_Callout</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log_0_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>actorId</name>
            <value>
                <elementReference>Get_Person.INT_ActorId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assignToUnitNumber</name>
            <value>
                <elementReference>workAllocation.selectedUnitNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createdByUnitNumber</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subthemeCode</name>
            <value>
                <elementReference>Person_NAV_Cases.selectedSubtheme</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subtypeCode</name>
            <value>
                <elementReference>Person_NAV_Cases.selectedSubtype</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>task</name>
            <value>
                <elementReference>NAV_Task</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskTypeCode</name>
            <value>
                <elementReference>tasktype.selectedTaskType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>themeCode</name>
            <value>
                <elementReference>Person_NAV_Cases.selectedCaseTheme</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Base 64 encodes the original document for archiving</description>
        <name>Encode_Original</name>
        <label>Encode Original</label>
        <locationX>1345</locationX>
        <locationY>858</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_PDF_Document_Variant</targetReference>
        </connector>
        <inputParameters>
            <name>documentString</name>
            <value>
                <elementReference>Conversation_String</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>BASE_64_ENCODE</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Generates a base 64 encoded pdf string</description>
        <name>Generate_PDF</name>
        <label>Generate PDF</label>
        <locationX>1345</locationX>
        <locationY>733</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Encode_Original</targetReference>
        </connector>
        <inputParameters>
            <name>documentString</name>
            <value>
                <elementReference>Conversation_String</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>GENERATE_DOCUMENT</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Sends the journal request via Apex.</description>
        <name>Post_Journal</name>
        <label>Post Journal</label>
        <locationX>1337</locationX>
        <locationY>1150</locationY>
        <actionName>CRM_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validate_Callout</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log</targetReference>
        </faultConnector>
        <inputParameters>
            <name>journalRequest</name>
            <value>
                <elementReference>Journal_Request</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>navIdent</name>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceId</name>
            <value>
                <elementReference>Get_Chat_Transcript.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>POST_JOURNAL</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Set_Due_Date</name>
        <label>Set Due Date</label>
        <locationX>535</locationX>
        <locationY>1636</locationY>
        <actionName>CRM_DueDateUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Delegate_NAV_Task</targetReference>
        </connector>
        <inputParameters>
            <name>taskList</name>
            <value>
                <elementReference>NAV_Task</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NAV_Task.CRM_DueDate__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Due_Date_0</name>
        <label>Set Due Date</label>
        <locationX>1666</locationX>
        <locationY>966</locationY>
        <actionName>CRM_DueDateUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Placeholder_Task</targetReference>
        </connector>
        <inputParameters>
            <name>taskList</name>
            <value>
                <elementReference>NAV_Task</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NAV_Task.CRM_DueDate__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Passes the reference sObject to the logger utility to be stored in app logs.</description>
        <name>Store_Application_Log</name>
        <label>Store Application Log</label>
        <locationX>1782</locationX>
        <locationY>1496</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Journal_Entry__c</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refRecord</name>
            <value>
                <elementReference>Journal_Entry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <stringValue>NKS_Chat_Create_Journal_Entry</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Adds information from the iterated journal entry.</description>
        <name>Add_Journal_Entry</name>
        <label>Add Journal Entry</label>
        <locationX>2058</locationX>
        <locationY>837</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;bull; </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Journal_Entry_Loop.Theme__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Journal_Entry_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Conversation_String_from_Case</name>
        <label>Assign Conversation String from Case</label>
        <locationX>1242</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>Conversation_String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.NKS_Conversation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Conversation_String_from_Chat</name>
        <label>Assign Conversation String from Chat</label>
        <locationX>1243</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>Conversation_String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chat_Transcript_After.NKS_Conversation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_PDF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values to the document wrapper class.</description>
        <name>Create_Document_Wrapper</name>
        <label>Create Document Wrapper</label>
        <locationX>1051</locationX>
        <locationY>989</locationY>
        <assignmentItems>
            <assignToReference>Journal_Documents.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Documents.dokumentvarianter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Journal_Variant_Original</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Documents.dokumentvarianter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Journal_Variant_PDF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Journal_Post_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the apprrpriate values to the journal post request</description>
        <name>Create_Journal_Post_Request</name>
        <label>Create Journal Post Request</label>
        <locationX>1338</locationX>
        <locationY>989</locationY>
        <assignmentItems>
            <assignToReference>Journal_Request.dokumenter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Journal_Documents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.kanal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NAV_NO_CHAT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.journalpostType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INNGAAENDE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.sak.sakstype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.navCaseType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.tema</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedCaseTheme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.behandlingstema</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedSubtheme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.bruker.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.INT_PersonIdent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.bruker.idType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FNR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.journalfoerendeEnhet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.avsenderMottaker.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.INT_PersonIdent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.avsenderMottaker.idType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FNR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.avsenderMottaker.navn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_Full_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.sak.fagsakId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.sak.fagsaksystem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedCaseLegacySystem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Journal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values to the original document variant.</description>
        <name>Create_Original_Document_Variant</name>
        <label>Create Original Document Variant</label>
        <locationX>1056</locationX>
        <locationY>857</locationY>
        <assignmentItems>
            <assignToReference>Journal_Variant_Original.filtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>XML</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Variant_Original.variantformat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ORIGINAL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Variant_Original.fysiskDokument</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Encode_Original.documentString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Document_Wrapper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns values to the PDF document variant.</description>
        <name>Create_PDF_Document_Variant</name>
        <label>Create PDF Document Variant</label>
        <locationX>1212</locationX>
        <locationY>857</locationY>
        <assignmentItems>
            <assignToReference>Journal_Variant_PDF.filtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Variant_PDF.variantformat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ARKIV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Variant_PDF.fysiskDokument</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_PDF.documentString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Original_Document_Variant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAV_Task_Assignment</name>
        <label>NAV Task Assignment</label>
        <locationX>739</locationX>
        <locationY>1484</locationY>
        <assignmentItems>
            <assignToReference>NAV_Task.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chat_Transcript.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.CRM_NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workAllocation.selectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.CRM_NoPersonInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedCaseThemeSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.NKS_Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedSubthemeSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedThemeGroupSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.INT_Journal_Entry_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Journal.journalpostId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.NKS_TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tasktype.selectedTaskTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.CRM_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.NKS_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workAllocation.assignedResource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.NKS_Internal_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.CRM_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedSubtypeSfId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Due_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAV_Task_Assignment_0</name>
        <label>NAV Task Assignment</label>
        <locationX>1661</locationX>
        <locationY>1101</locationY>
        <assignmentItems>
            <assignToReference>NAV_Task.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chat_Transcript.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.CRM_NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workAllocation.selectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.CRM_NoPersonInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedCaseThemeSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.NKS_Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedSubthemeSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedThemeGroupSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.NKS_TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tasktype.selectedTaskTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.CRM_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.NKS_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workAllocation.assignedResource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_Task.NKS_Internal_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Due_Date_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Chat_Journal_Data</name>
        <label>Set Chat Journal Data</label>
        <locationX>1275</locationX>
        <locationY>1329</locationY>
        <assignmentItems>
            <assignToReference>Get_Chat_Transcript.NKS_Journal_Entry_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Chat_Transcript.NKS_Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Journal.journalPostStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Chat_Transcript.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedCaseThemeSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Chat_Transcript.NKS_Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedSubthemeSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Chat_Transcript.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedThemeGroupSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Chat_Transcript.NKS_Journal_Entry_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Journal.journalpostId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Journal_Entry_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the journal status to completed.</description>
        <name>Set_Journal_Completed</name>
        <label>Set Journal Completed</label>
        <locationX>728</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Get_Chat_Transcript.NKS_Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns field values for the journal entry record to be created.</description>
        <name>Set_Journal_Entry_Data</name>
        <label>Set Journal Entry Data</label>
        <locationX>1132</locationX>
        <locationY>1394</locationY>
        <assignmentItems>
            <assignToReference>Journal_Entry.Journal_Entry_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Journal.journalpostId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Journal.journalPostStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry.NAV_Case_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry.NKS_Chat_Transcript__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry.Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedCaseThemeSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry.Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedSubthemeSfId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Journal_Social</name>
        <label>Set Journal Social</label>
        <locationX>859</locationX>
        <locationY>1064</locationY>
        <assignmentItems>
            <assignToReference>Get_Chat_Transcript.NKS_Social_Service_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Social_Service_Information</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Chat_Transcript.NKS_Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Chat_Transcript.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedThemeGroupSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Chat_Transcript.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedCaseThemeSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Chat_Transcript.NKS_Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_NAV_Cases.selectedSubthemeSfId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NAV_Task_Failed</name>
        <label>Set NAV Task Failed</label>
        <locationX>2135</locationX>
        <locationY>1826</locationY>
        <assignmentItems>
            <assignToReference>NavTask_Failed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if a journal entry has already been created.</description>
        <name>Check_Journal_Entry_Created</name>
        <label>Check Journal Entry Created</label>
        <locationX>1804</locationX>
        <locationY>540</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Journal_Entry_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Journal_Entries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Journal_Entry_Loop</targetReference>
            </connector>
            <label>Journal Entry Created</label>
        </rules>
        <rules>
            <name>No_Transcript</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chat_Transcript.NKS_Conversation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Chat_Transcript.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InProgress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.NKS_Conversation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_0_0</targetReference>
            </connector>
            <label>No Transcript</label>
        </rules>
        <rules>
            <name>No_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chat_Transcript.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_0_0</targetReference>
            </connector>
            <label>No Account</label>
        </rules>
        <rules>
            <name>Social_Journal_Entry_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chat_Transcript.NKS_Social_Service_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Chat_Transcript.NKS_Journal_Entry_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chat_Journal_Social_Screen</targetReference>
            </connector>
            <label>Social Journal Entry Completed</label>
        </rules>
        <rules>
            <name>Conversation_Storage_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chat_Transcript.NKS_Conversation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Chat_Transcript.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.NKS_Conversation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Conversation_Store_Failed_Screen</targetReference>
            </connector>
            <label>Conversation Storage Failed</label>
        </rules>
        <rules>
            <name>Completed_Without_Journal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chat_Transcript.NKS_Journal_Entry_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chat_Completed_No_Journal</targetReference>
            </connector>
            <label>Completed Without Journal</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify that the user attempting to create a journal entry for the chat is indeed the owner of the chat transcript</description>
        <name>Check_Owner</name>
        <label>Check Owner</label>
        <locationX>1485</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>Wrong_Owner_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chat_Transcript.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Journal_Entries</targetReference>
            </connector>
            <label>Is Owner</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify that the user attempting to create a journal entry for the chat is indeed the owner of the chat transcript</description>
        <name>Check_Owner_0</name>
        <label>Check Owner</label>
        <locationX>870</locationX>
        <locationY>484</locationY>
        <defaultConnector>
            <targetReference>Wrong_Owner_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Owner_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chat_Transcript_After.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Security_Incident</targetReference>
            </connector>
            <label>Is Owner</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the security incident flag was checked.</description>
        <name>Check_Security_Incident</name>
        <label>Check Security Incident</label>
        <locationX>653</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Check_Social_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Incident</defaultConnectorLabel>
        <rules>
            <name>Is_Security_Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Security_Incident</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Journal_Completed</targetReference>
            </connector>
            <label>Is Security Incident</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the chat has set the social information flag set to true.</description>
        <name>Check_Social_Information</name>
        <label>Check Social Information</label>
        <locationX>856</locationX>
        <locationY>680</locationY>
        <defaultConnector>
            <targetReference>Conversation_stored_On_Chat_Transcript</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Social_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Social_Service_Information</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Journal_Social</targetReference>
            </connector>
            <label>Has Social Information</label>
        </rules>
    </decisions>
    <decisions>
        <name>Conversation_stored_On_Chat_Transcript</name>
        <label>Conversation stored On Chat Transcript</label>
        <locationX>1064</locationX>
        <locationY>676</locationY>
        <defaultConnector>
            <targetReference>Assign_Conversation_String_from_Chat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Chat_Transcript.NKS_Conversation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Conversation_String_from_Case</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decide if a task should be created or not.</description>
        <name>Should_Create_Task</name>
        <label>Should Create Task?</label>
        <locationX>976</locationX>
        <locationY>1491</locationY>
        <defaultConnector>
            <targetReference>Store_Journal_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_Create_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createtasktoggle.togglechecked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAV_Task_Assignment</targetReference>
            </connector>
            <label>Do Create Task</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decide if a task should be created or not.</description>
        <name>Should_Create_Task_0</name>
        <label>Should Create Task?</label>
        <locationX>1650</locationX>
        <locationY>1338</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_Create_Task_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createtasktoggle.togglechecked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAV_Task_Assignment_0</targetReference>
            </connector>
            <label>Do Create Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Callout</name>
        <label>Validate Callout</label>
        <locationX>1439</locationX>
        <locationY>1255</locationY>
        <defaultConnector>
            <targetReference>Should_Create_Task_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Successful_Post</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Journal.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Chat_Journal_Data</targetReference>
            </connector>
            <label>Successful Post</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validates the API callout</description>
        <name>Validate_NAV_Task_Callout</name>
        <label>Validate NAV Task Callout</label>
        <locationX>1091</locationX>
        <locationY>1747</locationY>
        <defaultConnector>
            <targetReference>Create_Salesforce_NAV_Task_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delegate_NAV_Task.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Salesforce_NAV_Task</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Flow to initiate the creation of a journal entry.</description>
    <dynamicChoiceSets>
        <description>Task priority picklist values.</description>
        <name>Priority_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>CRM_Priority__c</picklistField>
        <picklistObject>NavTask__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Task_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>NKS_Task_Type__c</picklistField>
        <picklistObject>NavTask__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Default_Due_Date</name>
        <dataType>Date</dataType>
        <expression>CASE(MOD({!$Flow.CurrentDate} - DATE(1900, 1, 5), 7),
0, {!$Flow.CurrentDate}+ 4,
1, {!$Flow.CurrentDate} + 3,
2, {!$Flow.CurrentDate} + 2,
3, {!$Flow.CurrentDate} + 2,
4, {!$Flow.CurrentDate} + 2,
5, {!$Flow.CurrentDate} + 2,
6, {!$Flow.CurrentDate}+ 4,
TODAY())</expression>
    </formulas>
    <formulas>
        <description>Formula for det template document title to handle different languages.</description>
        <name>Document_Title</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Chat_Transcript.LiveChatButton.WindowLanguage}, &apos;en_US&apos;),
&apos;Authenticated written conversation with NAV&apos;,
&apos;Innlogget skriftlig samtale med NAV&apos;
)</expression>
    </formulas>
    <formulas>
        <name>Person_Full_Name</name>
        <dataType>String</dataType>
        <expression>{!Get_Person.INT_LastName__c} &amp; &apos;, &apos; &amp; {!Get_Person.INT_FirstName__c} &amp; &apos; &apos; &amp;{!Get_Person.INT_MiddleName__c}</expression>
    </formulas>
    <formulas>
        <description>Formula to generate a default task name.</description>
        <name>Task_Name</name>
        <dataType>String</dataType>
        <expression>Case({!tasktype.selectedTaskType}, &apos;KONT_BRUK&apos;, &apos;Kontakt bruker&apos;, &apos;VURD_HENV&apos;, &apos;Vurder henvendelse&apos;, &apos;Vurder konsekvens for ytelse&apos;)</expression>
    </formulas>
    <interviewLabel>NKS Chat Create Journal Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chat Create Journal Entry</label>
    <loops>
        <description>Loops through the journal entries to generate text output to user.</description>
        <name>Journal_Entry_Loop</name>
        <label>Journal Entry Loop</label>
        <locationX>1811</locationX>
        <locationY>837</locationY>
        <collectionReference>Get_Journal_Entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Journal_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Journal_Completed_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates task even though process fails.</description>
        <name>Create_Placeholder_Task</name>
        <label>Create Placeholder Task</label>
        <locationX>1795</locationX>
        <locationY>1091</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log_0_0_0_0</targetReference>
        </faultConnector>
        <inputReference>NAV_Task</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Inserts the Salesforce NAV task after a successful callout.</description>
        <name>Create_Salesforce_NAV_Task</name>
        <label>Create Salesforce NAV Task</label>
        <locationX>1222</locationX>
        <locationY>1627</locationY>
        <connector>
            <targetReference>Store_Journal_Entry</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log_0_0_0</targetReference>
        </faultConnector>
        <inputReference>Delegate_NAV_Task.task</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Inserts the Salesforce NAV task after a successful callout.</description>
        <name>Create_Salesforce_NAV_Task_0</name>
        <label>Create Salesforce NAV Task</label>
        <locationX>1095</locationX>
        <locationY>1957</locationY>
        <connector>
            <targetReference>Error_Screen_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputReference>Delegate_NAV_Task.task</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Stores the generated journal entry data i custom object</description>
        <name>Store_Journal_Entry</name>
        <label>Store Journal Entry</label>
        <locationX>1456</locationX>
        <locationY>1501</locationY>
        <connector>
            <targetReference>Update_Transcript</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Store_Application_Log</targetReference>
        </faultConnector>
        <inputReference>Journal_Entry</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Stores the generated journal entry data i custom object</description>
        <name>Store_Journal_Entry_0</name>
        <label>Store Journal Entry</label>
        <locationX>1777</locationX>
        <locationY>1818</locationY>
        <connector>
            <targetReference>Update_Transcript_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Store_Application_Log</targetReference>
        </faultConnector>
        <inputReference>Journal_Entry</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Stores the generated journal entry data i custom object</description>
        <name>Store_Journal_Entry_0_0</name>
        <label>Store Journal Entry</label>
        <locationX>1559</locationX>
        <locationY>2014</locationY>
        <connector>
            <targetReference>Update_Transcript_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log_0</targetReference>
        </faultConnector>
        <inputReference>Journal_Entry</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Queries the account related from the transcript.</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1486</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log_0_0_0_0_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Chat_Transcript.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>INT_PersonIdent__c</queriedFields>
        <queriedFields>CRM_Person__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1487</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Owner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log_0_0_0_0_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Chat_Transcript.CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NKS_Conversation__c</queriedFields>
        <queriedFields>NKS_Conversation_Stored__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the chat transcript triggering the flow.</description>
        <name>Get_Chat_Transcript</name>
        <label>Get Chat Transcript</label>
        <locationX>1488</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log_0_0_0_0_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NKS_Journal_Entry_Created__c</queriedFields>
        <queriedFields>NKS_Journal_Entry_Status__c</queriedFields>
        <queriedFields>NKS_Journal_Entry_ID__c</queriedFields>
        <queriedFields>NKS_Conversation__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>NKS_Theme_Group__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>NKS_Social_Service_Information__c</queriedFields>
        <queriedFields>LiveChatButtonId</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the chat transcript triggering the flow.</description>
        <name>Get_Chat_Transcript_After</name>
        <label>Get Chat Transcript</label>
        <locationX>1025</locationX>
        <locationY>522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Owner_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NKS_Journal_Entry_Created__c</queriedFields>
        <queriedFields>NKS_Journal_Entry_Status__c</queriedFields>
        <queriedFields>NKS_Journal_Entry_ID__c</queriedFields>
        <queriedFields>NKS_Conversation__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>NKS_Theme_Group__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>NKS_Social_Service_Information__c</queriedFields>
        <queriedFields>LiveChatButtonId</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check to see if there are any journal entries created for this chat already</description>
        <name>Get_Journal_Entries</name>
        <label>Get Journal Entries</label>
        <locationX>1812</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Journal_Entry_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log_0_0_0_0_0</targetReference>
        </faultConnector>
        <filters>
            <field>NKS_Chat_Transcript__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Journal_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the related person record</description>
        <name>Get_Person</name>
        <label>Get Person</label>
        <locationX>1319</locationX>
        <locationY>522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log_0_0_0_0_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.CRM_Person__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>INT_FirstName__c</queriedFields>
        <queriedFields>INT_MiddleName__c</queriedFields>
        <queriedFields>INT_LastName__c</queriedFields>
        <queriedFields>INT_ActorId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Sets the journal entry status to completed for the chat where the conversation storage failed.</description>
        <name>Update_Chat_Completed</name>
        <label>Update Chat Completed</label>
        <locationX>2548</locationX>
        <locationY>648</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Chat_Transcript.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NKS_Journal_Entry_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transcript</name>
        <label>Update Transcript</label>
        <locationX>1693</locationX>
        <locationY>1611</locationY>
        <faultConnector>
            <targetReference>Create_App_Log_0_0_0_0</targetReference>
        </faultConnector>
        <inputReference>Get_Chat_Transcript</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transcript_0</name>
        <label>Update Transcript</label>
        <locationX>1915</locationX>
        <locationY>1818</locationY>
        <connector>
            <targetReference>Set_NAV_Task_Failed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log_0_0_0_0</targetReference>
        </faultConnector>
        <inputReference>Get_Chat_Transcript</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transcript_0_0</name>
        <label>Update Transcript</label>
        <locationX>1782</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Error_Screen_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log_0</targetReference>
        </faultConnector>
        <inputReference>Get_Chat_Transcript</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Success screen shown if the chat was completed without journal entry creation.</description>
        <name>Chat_Completed_No_Journal</name>
        <label>Chat Journal Completed</label>
        <locationX>1936</locationX>
        <locationY>717</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completed_Text</name>
            <extensionName>c:nksHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>center</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headertag</name>
                <value>
                    <stringValue>h2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>input</name>
                <value>
                    <stringValue>Henvendelsen er ferdigstilt.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Success screen shown if the chat was logged with social information.</description>
        <name>Chat_Journal_Social_Screen</name>
        <label>Chat Journal Social Screen</label>
        <locationX>2171</locationX>
        <locationY>714</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Chat_Social_Success_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Chatsamtalen ble loggfrt med sosialt innhold.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Storing the full conversation log failed and the chat must be handled manually.</description>
        <name>Conversation_Store_Failed_Screen</name>
        <label>Conversation Store Failed Screen</label>
        <locationX>2324</locationX>
        <locationY>648</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Chat_Completed</targetReference>
        </connector>
        <fields>
            <name>Storage_Error_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(194, 57, 52);&quot;&gt;Lagring av meldingsloggen feilet&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;En feil oppsto ved lagring av meldingsloggen. Samtalereferatet m opprettes manuelt. Ved  klikke ferdigstill lagres denne chatten som ferdigstilt.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Chat_Transcript.NKS_Journal_Entry_Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Manual_Journal_Text</name>
            <fieldText>&lt;p&gt;Chatten er n lagret og satt som ferdigstilt. Du kan trygt lukke denne chattfanen. Husk  skrive et samtalereferat i Modia!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Chat_Transcript.NKS_Journal_Entry_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ERROR_FINISH</name>
            <extensionName>c:nksFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>$Label.NKS_Journal_Flow_Complete_Button</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Chat_Transcript.NKS_Journal_Entry_Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen for displaying potential error messages</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>2358</locationX>
        <locationY>1332</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(218, 13, 13); font-size: 18px;&quot;&gt;Feil ved journalfring/oppgaveopprettelse&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Journal_Post_Error_Msg</name>
            <fieldText>&lt;p&gt;Ooops! Noe har gtt galt! En dyktig utvikler har allerede ftt beskjed om denne feilen og er snart i gang med  finne ut hva som gikk galt. Han eller hun vil ta kontakt med deg direkte i Teams slik at dere kan lse det sammen og f journalfrt chatten p riktig mte. Du kan bare lukke denne chatfanen og jobbe videre.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Successful_Post</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Task_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Ooops! Noe har gtt galt! En dyktig utvikler har allerede ftt beskjed om denne feilen og er snart i gang med  finne ut hva som gikk galt. Han eller hun vil ta kontakt med deg direkte i Teams slik at dere kan lse det sammen og f opprettet oppgaven p riktig mte. Du kan bare lukke denne chatfanen og jobbe videre.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NavTask_Failed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen for displaying potential error messages</description>
        <name>Error_Screen_0</name>
        <label>Error Screen</label>
        <locationX>2617</locationX>
        <locationY>1949</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Header_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(218, 13, 13); font-size: 18px;&quot;&gt;Feil ved journalfring/oppgaveopprettelse&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Journal_Post_Error_Msg_0</name>
            <fieldText>&lt;p&gt;Ooops! Noe har gtt galt! En dyktig utvikler har allerede ftt beskjed om denne feilen og er snart i gang med  finne ut hva som gikk galt. Han eller hun vil ta kontakt med deg direkte i Teams slik at dere kan lse det sammen og f journalfrt chatten p riktig mte. Du kan bare lukke denne chatfanen og jobbe videre.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Successful_Post</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Task_Error_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Ooops! Noe har gtt galt! En dyktig utvikler har allerede ftt beskjed om denne feilen og er snart i gang med  finne ut hva som gikk galt. Han eller hun vil ta kontakt med deg direkte i Teams slik at dere kan lse det sammen og f opprettet oppgaven p riktig mte. Du kan bare lukke denne chatfanen og jobbe videre.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NavTask_Failed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen for displaying potential error messages</description>
        <name>Error_Screen_0_0</name>
        <label>Error Screen</label>
        <locationX>2445</locationX>
        <locationY>535</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Header_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(218, 13, 13); font-size: 18px;&quot;&gt;Feil ved journalfring/oppgaveopprettelse&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Missing_Account_Error_0_0</name>
            <fieldText>&lt;p&gt;Bruker m vre innlogget for at chatten skal kunne journalfres.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Chat_Transcript.AccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Conversation_Error_0_0</name>
            <fieldText>&lt;p&gt;Meldingsloggen er enda ikke lagret. Hvis dialogen fortsatt er pgende m den avsluttes fr journalen kan ferdigstilles.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_Transcript</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Journal_Post_Error_Msg_0_0</name>
            <fieldText>&lt;p&gt;Ooops! Noe har gtt galt! En dyktig utvikler har allerede ftt beskjed om denne feilen og er snart i gang med  finne ut hva som gikk galt. Han eller hun vil ta kontakt med deg direkte i Teams slik at dere kan lse det sammen og f journalfrt chatten p riktig mte. Du kan bare lukke denne chatfanen og jobbe videre.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Successful_Post</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Task_Error_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Ooops! Noe har gtt galt! En dyktig utvikler har allerede ftt beskjed om denne feilen og er snart i gang med  finne ut hva som gikk galt. Han eller hun vil ta kontakt med deg direkte i Teams slik at dere kan lse det sammen og f opprettet oppgaven p riktig mte. Du kan bare lukke denne chatfanen og jobbe videre.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NavTask_Failed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Input from user to connect journal entry to correct case, and if a task should be created to another NAV unit</description>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>1176</locationX>
        <locationY>522</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Chat_Transcript_After</targetReference>
        </connector>
        <fields>
            <name>Journal_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Journal&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Social_Service_Information</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Chat_Transcript.NKS_Social_Service_Information__c</elementReference>
            </defaultValue>
            <fieldText>Informasjon Sosiale Tjenester</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Huk av denne hvis chatsamtalen inneholder meldinger med informasjon om hvorvidt bruker mottar sosiale tjenester fra NAV.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Security_Incident</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Sikkerhetshendelse</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Huk av denne i tilfeller hvor bruker har vrt truende, ved ytringer om selvmord, eller ved bruk av en annen persons elektroniske ID. Se sikkerhetsrutinen for mer informasjon.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Person_NAV_Cases</name>
            <extensionName>c:crmPersonCaseOverview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actorId</name>
                <value>
                    <elementReference>Get_Person.INT_ActorId__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prefilledThemeGroup</name>
                <value>
                    <elementReference>Get_Chat_Transcript.NKS_Theme_Group__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Security_Incident</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>createtasktoggle</name>
            <extensionName>c:crmToggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opprett oppgave:</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Security_Incident</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>tasktype</name>
            <extensionName>c:crmTaskTypePicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showcomponent</name>
                <value>
                    <elementReference>createtasktoggle.togglechecked</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Security_Incident</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Task_Priority</name>
            <choiceReferences>Priority_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>LAV</stringValue>
            </defaultValue>
            <fieldText>Oppgaveprioritet:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>createtasktoggle.togglechecked</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Security_Incident</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Task_Description</name>
            <fieldText>Oppgave til NAV-enhet:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>createtasktoggle.togglechecked</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Security_Incident</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>workAllocation</name>
            <extensionName>c:crmNavTaskWorkAllocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>personId</name>
                <value>
                    <elementReference>Get_Person.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Security_Incident</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Finish_BTN</name>
            <extensionName>c:nksFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>$Label.NKS_Journal_Flow_Complete_Button</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>RIGHT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Journal_Completed_Screen</name>
        <label>Journal Completed Screen</label>
        <locationX>1486</locationX>
        <locationY>750</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <fields>
            <name>Entry_Completed_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Chatsamtalen er journalfrt p:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!Journal_Entry_Text}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Journal_BTN</name>
            <extensionName>c:nksFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>$Label.NKS_Journal_Flow_New_Journal</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>action</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Information screen telling the user that the chat is transferred to another agent that is now responsible for creating the journal entry.</description>
        <name>Wrong_Owner_Screen</name>
        <label>Wrong Owner Screen</label>
        <locationX>1186</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Chat_Transferred_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Chatten er overfrt til en annen veileder. Du kan lukke chatfanen og jobbe videre.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1362</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Chat_Transcript</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_App_Log</name>
        <label>Create App Log</label>
        <locationX>1142</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Validate_Callout</targetReference>
        </connector>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>CRM_JournalUtilities</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Flow fault: NKS_Chat_Create_Journal_Entry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>LiveChatTranscript</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_App_Log_0</name>
        <label>Create App Log</label>
        <locationX>2076</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Error_Screen_0</targetReference>
        </connector>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>NKS_Chat_Create_Journal_Entry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Flow fault: NKS_Chat_Create_Journal_Entry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>LiveChatTranscript</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_App_Log_0_0</name>
        <label>Create App Log</label>
        <locationX>736</locationX>
        <locationY>1835</locationY>
        <connector>
            <targetReference>Validate_NAV_Task_Callout</targetReference>
        </connector>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>CRM_NavTaskManager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Flow fault: NKS_Chat_Create_Journal_Entry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>LiveChatTranscript</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_App_Log_0_0_0</name>
        <label>Create App Log</label>
        <locationX>1454</locationX>
        <locationY>1818</locationY>
        <connector>
            <targetReference>Store_Journal_Entry_0</targetReference>
        </connector>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>NKS_Chat_Create_Journal_Entry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Flow fault: NKS_Chat_Create_Journal_Entry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>LiveChatTranscript</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_App_Log_0_0_0_0</name>
        <label>Create App Log</label>
        <locationX>2160</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Error_Screen_0</targetReference>
        </connector>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>NKS_Chat_Create_Journal_Entry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Flow fault: NKS_Chat_Create_Journal_Entry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>LiveChatTranscript</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_App_Log_0_0_0_0_0</name>
        <label>Create App Log</label>
        <locationX>2444</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Error_Screen_0_0</targetReference>
        </connector>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>NKS_Chat_Create_Journal_Entry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Flow fault: NKS_Chat_Create_Journal_Entry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>LiveChatTranscript</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_App_Log_0_0_0_0_0_0</name>
        <label>Create App Log</label>
        <locationX>1374</locationX>
        <locationY>2014</locationY>
        <connector>
            <targetReference>Store_Journal_Entry_0_0</targetReference>
        </connector>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>NKS_Chat_Create_Journal_Entry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Flow fault: NKS_Chat_Create_Journal_Entry. Failed to insert NAV Task.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>LiveChatTranscript</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Conversation_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Existing_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <description>Journal documents to be added.</description>
        <name>Journal_Documents</name>
        <apexClass>CRM_Dokumenter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Journal entry to be stored.</description>
        <name>Journal_Entry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journal_Entry__c</objectType>
    </variables>
    <variables>
        <description>Output text to display existing journal entries for the chat transcript.</description>
        <name>Journal_Entry_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Request wrapper for dokarkiv callout.</description>
        <name>Journal_Request</name>
        <apexClass>CRM_JournalEntryWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Original document variant for the journal.</description>
        <name>Journal_Variant_Original</name>
        <apexClass>CRM_Dokumentvarianter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>PDF document variant.</description>
        <name>Journal_Variant_PDF</name>
        <apexClass>CRM_Dokumentvarianter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>NAV Task to be created and delegated.</description>
        <name>NAV_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <description>Boolean set if NavTask insertion fails</description>
        <name>NavTask_Failed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The selected NAV Unit to send the task to.</description>
        <name>Selected_Task_NAV_Unit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>