force-app/main/default/flows/NKS_Case_Log_Call_v_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Journal</name>
        <label>Post Journal</label>
        <locationX>446</locationX>
        <locationY>2462</locationY>
        <actionName>CRM_ConvNoteJournalHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Publish_Notification_To_True</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Journal_Case_ID</name>
            <value>
                <elementReference>Selected_Case_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Case_Legacy_System</name>
            <value>
                <elementReference>Selected_Legacy_System</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Entry_NAV_Ident</name>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Entry_Unit</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Theme_Code</name>
            <value>
                <elementReference>Selected_Theme_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Conversation_Note_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CRM_ConvNoteJournalHelper</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Account_to_Case</name>
        <label>Assign Account to Case</label>
        <locationX>732</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Verify.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Processing_Id</name>
        <label>Assign Processing Id</label>
        <locationX>1018</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_NAV_Tasks.NKS_Henvendelse_BehandlingsId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.NKS_Henvendelse_BehandlingsId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_NAV_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns updated values for case</description>
        <name>Case_Assignment_Default_0_0</name>
        <label>Case Assignment</label>
        <locationX>578</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.NKS_Henvendelse_BehandlingsId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BEHANDLINGS_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Conversation_Note_Assignment</name>
        <label>Conversation Note Assignment</label>
        <locationX>446</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.NKS_Theme__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.NKS_Subtheme__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Conversation_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conversation_Summary_0.conversationNote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.NKS_Theme_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Created_By_NAV_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Created_By_Ident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Henvendelse_BehandlingskjedeId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Verify.NKS_Henvendelse_BehandlingsId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Journal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Journal Started</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Conversation_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Conversation_Note_Assignment_0</name>
        <label>Conversation Note Assignment</label>
        <locationX>710</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.NKS_Theme__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.NKS_Subtheme__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Conversation_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conversation_Summary.conversationNote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.NKS_Theme_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Created_By_NAV_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Created_By_Ident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conversation_Note_Record.CRM_Henvendelse_BehandlingskjedeId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Verify.NKS_Henvendelse_BehandlingsId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Conversation_Note_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Journal_Theme_Assignment</name>
        <label>Journal Theme Assignment</label>
        <locationX>446</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Theme_Group_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Theme_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conversation_Note_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account</name>
        <label>Set Account</label>
        <locationX>1326</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Relation.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_No_Account_To_True</name>
        <label>Set Has No Account To True</label>
        <locationX>1326</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>HAS_NO_ACCOUNT</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Account_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Publish_Notification_To_True</name>
        <label>Set Publish Notification To True</label>
        <locationX>446</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>Publish_Notification</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Conversation_Note_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns updated values for case and conversation note.</description>
        <name>Theme_Categorization_Assignment</name>
        <label>Theme Categorization Assignment</label>
        <locationX>710</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Theme_Categorization.themeGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Theme_Categorization.theme</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conversation_Note_Assignment_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Changed_Account</name>
        <label>Changed Account</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_to_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Case_Verify.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Journal_Entry</targetReference>
            </connector>
            <label>Same Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the case is connected to an account</description>
        <name>Check_Account</name>
        <label>Check Account</label>
        <locationX>1238</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_Has_No_Account_To_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account</defaultConnectorLabel>
        <rules>
            <name>Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the status if the case. If it is closed, the conversation note is
            already made.</description>
        <name>Check_Case_Status</name>
        <label>Check Case Status</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Open</defaultConnectorLabel>
        <rules>
            <name>Case_Closed_Without_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Without_Account_Screen</targetReference>
            </connector>
            <label>Case Closed Without Account</label>
        </rules>
        <rules>
            <name>Case_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Conversation_Note</targetReference>
            </connector>
            <label>Case Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_NAV_Task_Is_Null</name>
        <label>Check If NAV Task Is Null</label>
        <locationX>578</locationX>
        <locationY>3086</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_NAV_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navTasks</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Person_Access</name>
        <label>Check Person Access</label>
        <locationX>1238</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Person Access</defaultConnectorLabel>
        <rules>
            <name>No_Person_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HAS_PERSON_READ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Closed</targetReference>
            </connector>
            <label>No Person Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Person_Access_0</name>
        <label>Check Person Access</label>
        <locationX>732</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Create_Journal_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Person Access</defaultConnectorLabel>
        <rules>
            <name>No_Person_Access_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HAS_PERSON_READ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Closed_0</targetReference>
            </connector>
            <label>No Person Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Journal_Entry</name>
        <label>Create Journal Entry</label>
        <locationX>578</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Theme_Categorization_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>journalConversation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Journal_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Task_Post</name>
        <label>Verify Task Post</label>
        <locationX>1018</locationX>
        <locationY>3518</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Successful_Post</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_NAV_Task.SUCCESSFUL_POST</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_NAV_Tasks</targetReference>
            </connector>
            <label>Successful Post</label>
        </rules>
    </decisions>
    <description>New version of NKS_Case_Log_a_Call</description>
    <environments>Default</environments>
    <formulas>
        <name>Show_Back_Button</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Case.IsClosed} = true</expression>
    </formulas>
    <interviewLabel>NKS Case Log Call v. 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NKS Case Log Call v. 2</label>
    <loops>
        <name>Loop_Through_NAV_Tasks</name>
        <label>Loop Through NAV Tasks</label>
        <locationX>842</locationX>
        <locationY>3194</locationY>
        <collectionReference>navTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Processing_Id</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Conversation_Note</name>
        <label>Create Conversation Note</label>
        <locationX>446</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Post_Journal</targetReference>
        </connector>
        <inputReference>Conversation_Note_Record</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Inserts the conversation note.</description>
        <name>Create_Conversation_Note_0</name>
        <label>Create Conversation Note</label>
        <locationX>710</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Get_Conversation_Note_0_0</targetReference>
        </connector>
        <inputReference>Conversation_Note_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Queries the account</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1238</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SF_PERSON_ID</assignToReference>
            <field>CRM_Person__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>personIdent</assignToReference>
            <field>INT_PersonIdent__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Queries the account</description>
        <name>Get_Account_0</name>
        <label>Get Account</label>
        <locationX>732</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Access_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Verify.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>personIdent</assignToReference>
            <field>INT_PersonIdent__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Queries the account</description>
        <name>Get_Account_Case_Closed</name>
        <label>Get Account</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Access_Case_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>personIdent</assignToReference>
            <field>INT_PersonIdent__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Queries information from the case record</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Queries information from the case record</description>
        <name>Get_Case_Verify</name>
        <label>Get Case</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Changed_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Queries the conversation note created for this case.</description>
        <name>Get_Conversation_Note</name>
        <label>Get Conversation Note</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Case_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conversation_Note__c</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Queries the conversation note created for this case.</description>
        <name>Get_Conversation_Note_0_0</name>
        <label>Get Conversation Note</label>
        <locationX>578</locationX>
        <locationY>2762</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Assignment_Default_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Conversation_Note_Record.Id</elementReference>
            </value>
        </filters>
        <object>Conversation_Note__c</object>
        <outputAssignments>
            <assignToReference>BEHANDLINGS_ID</assignToReference>
            <field>CRM_Henvendelse_BehandlingskjedeId__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Access</name>
        <label>Get Person Access</label>
        <locationX>1238</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Person_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SF_PERSON_ID</elementReference>
            </value>
        </filters>
        <object>UserRecordAccess</object>
        <outputAssignments>
            <assignToReference>HAS_PERSON_READ</assignToReference>
            <field>HasReadAccess</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PERSON_ID</assignToReference>
            <field>RecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Access_0</name>
        <label>Get Person Access</label>
        <locationX>732</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Person_Access_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Verify.Account.CRM_Person__c</elementReference>
            </value>
        </filters>
        <object>UserRecordAccess</object>
        <outputAssignments>
            <assignToReference>HAS_PERSON_READ</assignToReference>
            <field>HasReadAccess</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PERSON_ID</assignToReference>
            <field>RecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Access_Case_Closed</name>
        <label>Get Person Access</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Closed_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Account.CRM_Person__c</elementReference>
            </value>
        </filters>
        <object>UserRecordAccess</object>
        <outputAssignments>
            <assignToReference>HAS_PERSON_READ</assignToReference>
            <field>HasReadAccess</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PERSON_ID</assignToReference>
            <field>RecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Case_Closed</name>
        <label>Set Case Closed</label>
        <locationX>1106</locationX>
        <locationY>1298</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Case_Closed_0</name>
        <label>Set Case Closed</label>
        <locationX>600</locationX>
        <locationY>1538</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>578</locationX>
        <locationY>2978</locationY>
        <connector>
            <targetReference>Check_If_NAV_Task_Is_Null</targetReference>
        </connector>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Account</name>
        <label>Update Case Account</label>
        <locationX>1326</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Closed_Screen</name>
        <label>Case Closed Screen</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Log_Screen</targetReference>
        </connector>
        <fields>
            <name>Button_Container_0</name>
            <extensionName>c:nksConversationNoteButtonContainer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>conversationNoteButtonLabel</name>
                <value>
                    <elementReference>$Label.NKS_New_Conversation_Note</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HAS_PERSON_READ</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Record_Refresher_Closed_Case</name>
            <extensionName>c:nksRecordRefresher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen shown when case was closed without account connection</description>
        <name>Closed_Without_Account_Screen</name>
        <label>Closed Without Account Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Closed_WO_Account_Text</name>
            <extensionName>c:nksHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headertag</name>
                <value>
                    <stringValue>h3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>center</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>input</name>
                <value>
                    <stringValue>Henvendelsen ble lukket uten tilknytning til bruker</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1106</locationX>
        <locationY>3626</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Through_NAV_Tasks</targetReference>
        </connector>
        <fields>
            <name>Error_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);
                font-size: 18px; color: rgb(231, 21, 21);&quot;&gt;Feil ved sending av
                oppgave&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Post_Error_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);
                font-size: 12px; color: rgb(0, 0, 0); font-family: -apple-system, system-ui,
                &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;,
                &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;,
                sans-serif;&quot;&gt;Oppgaveopprettelse feilet. En utvikler har fått beskjed og vil
                feilsøke dette. Bruk Modia for å opprette oppgaven for denne
                brukeren.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Journal_Screen</name>
        <label>Journal Screen</label>
        <locationX>446</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Tilbake</backButtonLabel>
        <connector>
            <targetReference>Journal_Theme_Assignment</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <extensionName>c:nksHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>input</name>
                <value>
                    <elementReference>$Label.NKS_Create_Conversation_Note</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>center</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headertag</name>
                <value>
                    <stringValue>h2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Disclaimer_Text_0</name>
            <fieldText>
                &lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color:
                rgb(144, 133,
                133);&quot;&gt;{!$Label.NKS_Conversation_Note_Disclaimer_Text}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Conversation_Summary_0</name>
            <extensionName>c:nksQuickText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>conversationNoteRich</name>
                <value>
                    <elementReference>Conversation_Summary.conversationNote</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Person_Case_Overview</name>
            <extensionName>c:crmPersonCaseOverview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actorId</name>
                <value>
                    <elementReference>Get_Case.Account.CRM_Person__r.INT_ActorId__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prefilledThemeGroup</name>
                <value>
                    <elementReference>Get_Case.NKS_Theme_Group__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Case_Id</assignToReference>
                <name>selectedCaseId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_Legacy_System</assignToReference>
                <name>selectedCaseLegacySystem</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_Theme_Code</assignToReference>
                <name>selectedCaseTheme</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_Theme_SF_Id</assignToReference>
                <name>selectedCaseThemeSfId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_Theme_Group_SF_Id</assignToReference>
                <name>selectedThemeGroupSfId</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Journalfør og del med brukeren</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Log_Screen</name>
        <label>Log Screen</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Case_Verify</targetReference>
        </connector>
        <fields>
            <name>Header_1</name>
            <extensionName>c:nksHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headertag</name>
                <value>
                    <stringValue>h2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>input</name>
                <value>
                    <elementReference>$Label.NKS_Create_Conversation_Note</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Disclaimer_Text</name>
            <fieldText>
                &lt;p&gt;&lt;span style=&quot;color: rgb(144, 133,
                133);&quot;&gt;{!$Label.NKS_Conversation_Note_Disclaimer_Text}﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Conversation_Summary</name>
            <extensionName>c:nksQuickText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>conversationNoteRich</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Record_Refresher</name>
            <extensionName>c:nksRecordRefresher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Button_Container_1</name>
            <extensionName>c:nksConversationNoteButtonContainer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>conversationNoteButtonLabel</name>
                <value>
                    <elementReference>$Label.NKS_Conversation_Note_Share_With_User</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>journalAndShare</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showBackButton</name>
                <value>
                    <elementReference>Show_Back_Button</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>journalConversation</assignToReference>
                <name>journalConversation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>navTasks</assignToReference>
                <name>navTasks</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen displayed when the case is not connected to an account</description>
        <name>No_Account_Screen</name>
        <label>No Account Screen</label>
        <locationX>1326</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Account</targetReference>
        </connector>
        <fields>
            <name>Missing_Account_Header</name>
            <extensionName>c:nksHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headertag</name>
                <value>
                    <stringValue>h3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>input</name>
                <value>
                    <stringValue>Mangler tilknytning til bruker</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Update_Account_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Henvendelsen er ikke tilknyttet en
                bruker. Vennligst oppdater med riktig bruker referat skal knyttes til.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Relation</name>
            <extensionName>c:nksSingleRecordInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>label-hidden</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>No_Account_Next_Button</name>
            <extensionName>c:nksFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Bekreft Valg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Account_Relation.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Theme_Categorization_Screen</name>
        <label>Theme Categorization Screen</label>
        <locationX>710</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Tilbake</backButtonLabel>
        <connector>
            <targetReference>Theme_Categorization_Assignment</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Header</name>
            <extensionName>c:nksHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>input</name>
                <value>
                    <elementReference>$Label.NKS_Create_Conversation_Note</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>center</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headertag</name>
                <value>
                    <stringValue>h2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Disclaimer_Text_0</name>
            <fieldText>
                &lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color:
                rgb(144, 133,
                133);&quot;&gt;{!$Label.NKS_Conversation_Note_Disclaimer_Text}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Conversation_Summary_0</name>
            <extensionName>c:nksQuickText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>conversationNoteRich</name>
                <value>
                    <elementReference>Conversation_Summary.conversationNote</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Theme_Categorization</name>
            <extensionName>c:crmThemeCategorization</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>HIDE_SUBTHEME</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionalTheme</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>twoColumns</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>themeGroup</name>
                <value>
                    <elementReference>Get_Case.NKS_Theme_Group__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theme</name>
                <value>
                    <elementReference>Get_Case.NKS_Theme__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Del med brukeren</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_NAV_Task</name>
        <label>Send NAV Task</label>
        <locationX>1018</locationX>
        <locationY>3410</locationY>
        <connector>
            <targetReference>Verify_Task_Post</targetReference>
        </connector>
        <flowName>CRM_Send_NAV_Task_Auto</flowName>
        <inputAssignments>
            <name>Created_By_Unit_Number</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NAV_Task</name>
            <value>
                <elementReference>Loop_Through_NAV_Tasks</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>BEHANDLINGS_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Conversation Note record to be created.</description>
        <name>Conversation_Note_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Conversation_Note__c</objectType>
    </variables>
    <variables>
        <name>HAS_NO_ACCOUNT</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HAS_PERSON_READ</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>journalConversation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>navTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <name>PERSON_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personIdent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Publish_Notification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Id of the record triggering the flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Legacy_System</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Theme_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Theme_Group_SF_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Theme_SF_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Salesforce ID to the Person__c record</description>
        <name>SF_PERSON_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>