force-app/main/default/flows/NKS_Update_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Current_Memberships</name>
        <label>Get Current Memberships</label>
        <locationX>182</locationX>
        <locationY>5870</locationY>
        <actionName>FlowFindCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_there_any_to_delete</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>GroupMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FieldApiINames</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>GroupMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhereClause</name>
            <value>
                <elementReference>WhereClauseForMembers</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>groupMembershipsToDelete</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_User_Queues</name>
        <label>Get User Queues</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <actionName>FlowFindCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetPicklistValues</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Group</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>FieldApiINames</name>
            <value>
                <stringValue>Name, Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhereClause</name>
            <value>
                <elementReference>WhereClause</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>UserGroups</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>GetPicklistValues</name>
        <label>GetPicklistValues</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <actionName>GetPicklistValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Picklist_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>NKS_Division__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>allPicklistValues</assignToReference>
            <name>picklistValues</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_queue_name</name>
        <label>Add queue name</label>
        <locationX>633</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>UsersQueueNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_queues.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_queues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_variable</name>
        <label>Add to collection variable</label>
        <locationX>490</locationX>
        <locationY>5870</locationY>
        <assignmentItems>
            <assignToReference>singleGroupString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedGroupList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleGroupString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Selected_Account_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_selectable_divisions</name>
        <label>Add to selectable divisions</label>
        <locationX>633</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SelectableDivisions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Picklist_Values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Picklist_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_beta_variable</name>
        <label>Assign beta variable</label>
        <locationX>413</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>BooleanvariabletocheckBetaAccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_quick_text_variable</name>
        <label>Assign quick text variable</label>
        <locationX>413</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>BooleanvariabletocheckQuickTextEditorassignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Permset_Knowledge_Editor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_quick_text_variable_0_0</name>
        <label>Assign quick text variable</label>
        <locationX>413</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>KnowledgeEditorCheckbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Permset_Topics</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Value_To_String</name>
        <label>Assign Selected Value To String</label>
        <locationX>336</locationX>
        <locationY>5654</locationY>
        <assignmentItems>
            <assignToReference>selectedGroupIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectQueues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedGroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emptyStringCollection</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emptyRecordCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_selected_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_topic_variable_0_0_0</name>
        <label>Assign topic variable</label>
        <locationX>413</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>BooleanvariabletocheckTopicsAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Permset_Beta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Selected_Account_String</name>
        <label>Update the Selected Account String</label>
        <locationX>490</locationX>
        <locationY>5978</locationY>
        <assignmentItems>
            <assignToReference>selectedGroupIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedSelectedGroupString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_selected_string</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Beta_Access_Empty</name>
        <label>Beta Access Empty?</label>
        <locationX>545</locationX>
        <locationY>3014</locationY>
        <defaultConnector>
            <targetReference>UpdateUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Beta Access</defaultConnectorLabel>
        <rules>
            <name>Has_Beta_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permset_Assignment_Beta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_beta_variable</targetReference>
            </connector>
            <label>Has Beta Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_selected_string</name>
        <label>Check selected string</label>
        <locationX>336</locationX>
        <locationY>5762</locationY>
        <defaultConnector>
            <targetReference>Add_to_collection_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedGroupIds</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Current_Memberships</targetReference>
            </connector>
            <label>is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Edit_Division</name>
        <label>Edit Division?</label>
        <locationX>545</locationX>
        <locationY>5246</locationY>
        <defaultConnector>
            <targetReference>Edit_Queues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EditDivisionTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SetDivision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Edit_Queues</name>
        <label>Edit Queues?</label>
        <locationX>545</locationX>
        <locationY>5546</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EditQueuesTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SetQueues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Value_To_String</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_list</name>
        <label>Empty list?</label>
        <locationX>402</locationX>
        <locationY>6386</locationY>
        <defaultConnector>
            <targetReference>Create_group_memberships</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedGroupList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>emptyStringCollection</elementReference>
                </rightValue>
            </conditions>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Empty_0_0_0</name>
        <label>Group Empty?</label>
        <locationX>589</locationX>
        <locationY>3854</locationY>
        <defaultConnector>
            <targetReference>Update_QuickText_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t change</defaultConnectorLabel>
        <rules>
            <name>AddGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Knowledge_Group_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>setKnowledgeUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Knowledge_Group_Member</targetReference>
            </connector>
            <label>Add Group</label>
        </rules>
        <rules>
            <name>Remove_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Knowledge_Group_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>setKnowledgeUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Knowledge_Group_Member</targetReference>
            </connector>
            <label>Remove Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_any_to_delete</name>
        <label>Is there any to delete?</label>
        <locationX>182</locationX>
        <locationY>5978</locationY>
        <defaultConnector>
            <targetReference>Loop_String_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DeleteCurrentMemberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>groupMembershipsToDelete</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>emptyRecordCollection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_current_memberships</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Knowledge_Editor_Empty_0</name>
        <label>Knowledge Editor Empty?</label>
        <locationX>545</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Get_Permset_Topics</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Knowledge Editor</defaultConnectorLabel>
        <rules>
            <name>Has_Knowledge_Editor_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permset_Assignment_Knowledge_Editor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_quick_text_variable_0_0</targetReference>
            </connector>
            <label>Has Knowledge Editor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quick_Text_Editor_Empty</name>
        <label>Quick Text Editor Empty?</label>
        <locationX>545</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Get_Permset_Knowledge_Editor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Quick Text Editor</defaultConnectorLabel>
        <rules>
            <name>Has_Quick_Text_Editor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permset_Assignment_Quick_Text_Editor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_quick_text_variable</targetReference>
            </connector>
            <label>Has Quick Text Editor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Topic_Editor_Empty_0_0</name>
        <label>Topic Editor Empty?</label>
        <locationX>545</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Get_Permset_Beta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Topic Editor</defaultConnectorLabel>
        <rules>
            <name>Has_Topic_Editor_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permset_Assignment_Topics</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_topic_variable_0_0_0</targetReference>
            </connector>
            <label>Has Topic Editor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Beta_access</name>
        <label>Update Beta access?</label>
        <locationX>545</locationX>
        <locationY>4838</locationY>
        <defaultConnector>
            <targetReference>Set_chat_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Give_Beta_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Beta_tilgang</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BooleanvariabletocheckBetaAccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Beta_Access_permset_assignment</targetReference>
            </connector>
            <label>Give Beta Access</label>
        </rules>
        <rules>
            <name>Remove_Beta_access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Beta_tilgang</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BooleanvariabletocheckBetaAccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Beta_Access_permset_assignment</targetReference>
            </connector>
            <label>Remove Beta access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Knowledge</name>
        <label>Update Knowledge?</label>
        <locationX>545</locationX>
        <locationY>3422</locationY>
        <defaultConnector>
            <targetReference>Update_QuickText_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Give_Knowledge_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>setKnowledgeUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>KnowledgeEditorCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Knowledge_Editor_permset_assignment</targetReference>
            </connector>
            <label>Give Knowledge Access</label>
        </rules>
        <rules>
            <name>Remove_Knowledge_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>setKnowledgeUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>KnowledgeEditorCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Knowledge_Editor_permset_assignment</targetReference>
            </connector>
            <label>Remove Knowledge Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_QuickText_0</name>
        <label>Update Quick Text?</label>
        <locationX>545</locationX>
        <locationY>4238</locationY>
        <defaultConnector>
            <targetReference>Update_Topic_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Give_QuickText_Access_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_NKS_Quick_Text_Editor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BooleanvariabletocheckQuickTextEditorassignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quick_Text_Editor_permset_assignement</targetReference>
            </connector>
            <label>Give Quick Text Access</label>
        </rules>
        <rules>
            <name>Remove_QuickText_Access_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_NKS_Quick_Text_Editor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BooleanvariabletocheckQuickTextEditorassignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Quick_Text_Editor_permset_assignment</targetReference>
            </connector>
            <label>Remove Quick Text Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Topic_0_0</name>
        <label>Update Topic?</label>
        <locationX>545</locationX>
        <locationY>4538</locationY>
        <defaultConnector>
            <targetReference>Update_Beta_access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Give_Topic_Access_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_NKS_Topics</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BooleanvariabletocheckTopicsAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Topics_permset_assignment</targetReference>
            </connector>
            <label>Give Topic Access</label>
        </rules>
        <rules>
            <name>Remove_Topic_Access_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_NKS_Topics</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BooleanvariabletocheckTopicsAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Topics_permset_assignment</targetReference>
            </connector>
            <label>Remove Topic Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Users_divisions</name>
        <label>Users divisions</label>
        <locationX>765</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Picklist_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matching_Department</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Picklist_Values</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>DepartmentNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_selectable_divisions</targetReference>
            </connector>
            <label>Matching Department</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Queues</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>NKS_Skill</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DepartmentNumber</name>
        <dataType>String</dataType>
        <expression>&apos;K&apos;+MID({!Get_User.Department},3,2)</expression>
    </formulas>
    <formulas>
        <name>QuickTextEditorFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(!ISBLANK({!Get_Permset_Assignment_Quick_Text_Editor.Id}),true,false)</expression>
    </formulas>
    <formulas>
        <name>singleGroup</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE(LEFT({!selectedGroupIds},FIND(&quot;;&quot;,{!selectedGroupIds})),&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>test</name>
        <dataType>String</dataType>
        <expression>&quot;[]&quot;</expression>
    </formulas>
    <formulas>
        <name>UpdatedSelectedGroupString</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!selectedGroupIds},{!singleGroupString}+&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>WhereClause</name>
        <dataType>String</dataType>
        <expression>&quot;Id in (SELECT GroupId FROM GroupMember WHERE UserOrGroupId = &apos;&quot;+{!recordId}+&quot;&apos;) AND DeveloperName LIKE &apos;NKS_SKILL%&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>WhereClauseForMembers</name>
        <dataType>String</dataType>
        <expression>&quot;UserOrGroupId = &apos;&quot;+{!recordId}+&quot;&apos; AND Group.DeveloperName LIKE &apos;NKS_Skill%&apos;&quot;</expression>
    </formulas>
    <interviewLabel>Update User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update User</label>
    <loops>
        <name>Loop_Picklist_Values</name>
        <label>Loop Picklist Values</label>
        <locationX>545</locationX>
        <locationY>458</locationY>
        <collectionReference>allPicklistValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Users_divisions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_queues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_queues</name>
        <label>Loop queues</label>
        <locationX>545</locationX>
        <locationY>950</locationY>
        <collectionReference>UserGroups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_queue_name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Permset_Quick_Text_Editor</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_String_Collection</name>
        <label>Loop String Collection</label>
        <locationX>182</locationX>
        <locationY>6278</locationY>
        <collectionReference>SelectedGroupList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Empty_list</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Beta_Access_permset_assignment</name>
        <label>Create Beta Access permset assignment</label>
        <locationX>281</locationX>
        <locationY>4946</locationY>
        <connector>
            <targetReference>Set_chat_user</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Permset_Beta.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_group_memberships</name>
        <label>Create group memberships</label>
        <locationX>534</locationX>
        <locationY>6494</locationY>
        <connector>
            <targetReference>Loop_String_Collection</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Loop_String_Collection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Knowledge_Editor_permset_assignment</name>
        <label>Create Knowledge Editor permset assignment</label>
        <locationX>61</locationX>
        <locationY>3530</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Knowledge_Editor_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Permset_Knowledge_Editor.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Knowledge_Group_Member</name>
        <label>Create Knowledge Group Member</label>
        <locationX>325</locationX>
        <locationY>3962</locationY>
        <connector>
            <targetReference>Update_QuickText_0</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_Knowledge_Editor_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quick_Text_Editor_permset_assignement</name>
        <label>Create Quick Text Editor permset assignement</label>
        <locationX>281</locationX>
        <locationY>4346</locationY>
        <connector>
            <targetReference>Update_Topic_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Permset_Quick_Text_Editor.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Topics_permset_assignment</name>
        <label>Create Topics permset assignment</label>
        <locationX>281</locationX>
        <locationY>4646</locationY>
        <connector>
            <targetReference>Update_Beta_access</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Permset_Topics.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_current_memberships</name>
        <label>Delete current memberships</label>
        <locationX>50</locationX>
        <locationY>6086</locationY>
        <connector>
            <targetReference>Loop_String_Collection</targetReference>
        </connector>
        <inputReference>groupMembershipsToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Knowledge_Group_Member</name>
        <label>Delete Knowledge Group Member</label>
        <locationX>589</locationX>
        <locationY>3962</locationY>
        <connector>
            <targetReference>Update_QuickText_0</targetReference>
        </connector>
        <inputReference>Get_Knowledge_Group_Member</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Beta_Access_permset_assignment</name>
        <label>Remove Beta Access permset assignment</label>
        <locationX>545</locationX>
        <locationY>4946</locationY>
        <connector>
            <targetReference>Set_chat_user</targetReference>
        </connector>
        <inputReference>Get_Permset_Assignment_Beta</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Knowledge_Editor_permset_assignment</name>
        <label>Remove Knowledge Editor permset assignment</label>
        <locationX>589</locationX>
        <locationY>3530</locationY>
        <connector>
            <targetReference>Get_Knowledge_Editor_Group</targetReference>
        </connector>
        <inputReference>Get_Permset_Assignment_Knowledge_Editor</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Quick_Text_Editor_permset_assignment</name>
        <label>Remove Quick Text Editor permset assignment</label>
        <locationX>545</locationX>
        <locationY>4346</locationY>
        <connector>
            <targetReference>Update_Topic_0_0</targetReference>
        </connector>
        <inputReference>Get_Permset_Assignment_Quick_Text_Editor</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Topics_permset_assignment</name>
        <label>Remove Topics permset assignment</label>
        <locationX>545</locationX>
        <locationY>4646</locationY>
        <connector>
            <targetReference>Update_Beta_access</targetReference>
        </connector>
        <inputReference>Get_Permset_Assignment_Topics</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Knowledge_Editor_Group</name>
        <label>Get Knowledge Editor Group</label>
        <locationX>589</locationX>
        <locationY>3638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Knowledge_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Knowledge_Editors</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Knowledge_Group_Member</name>
        <label>Get Knowledge Group Member</label>
        <locationX>589</locationX>
        <locationY>3746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Empty_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Knowledge_Editor_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permset_Assignment_Beta</name>
        <label>Get Permset Assignment Beta</label>
        <locationX>545</locationX>
        <locationY>2906</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Beta_Access_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permset_Beta.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permset_Assignment_Knowledge_Editor</name>
        <label>Get Permset Assignment Knowledge Editor</label>
        <locationX>545</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Knowledge_Editor_Empty_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permset_Knowledge_Editor.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permset_Assignment_Quick_Text_Editor</name>
        <label>Get Permset Assignment Quick Text Editor</label>
        <locationX>545</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quick_Text_Editor_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permset_Quick_Text_Editor.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permset_Assignment_Topics</name>
        <label>Get Permset Assignment Topics</label>
        <locationX>545</locationX>
        <locationY>2390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Topic_Editor_Empty_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permset_Topics.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permset_Beta</name>
        <label>Get Permset Beta</label>
        <locationX>545</locationX>
        <locationY>2798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permset_Assignment_Beta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Beta_Permission</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permset_Knowledge_Editor</name>
        <label>Get Permset Knowledge Editor</label>
        <locationX>545</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permset_Assignment_Knowledge_Editor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Knowledge_Editor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permset_Quick_Text_Editor</name>
        <label>Get Permset Quick Text Editor</label>
        <locationX>545</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permset_Assignment_Quick_Text_Editor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Quick_Text_Editor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permset_Topics</name>
        <label>Get Permset Topics</label>
        <locationX>545</locationX>
        <locationY>2282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permset_Assignment_Topics</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Topics</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Queues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_chat_user</name>
        <label>Set chat user</label>
        <locationX>545</locationX>
        <locationY>5138</locationY>
        <connector>
            <targetReference>Edit_Division</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_NAV_Ident__c</field>
            <value>
                <elementReference>NAV_Ident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NKS_Alias__c</field>
            <value>
                <elementReference>Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NKS_FullNameAlias__c</field>
            <value>
                <elementReference>Fullt_Navn_Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsKnowledgeUser</field>
            <value>
                <elementReference>setKnowledgeUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsLiveAgentUser</field>
            <value>
                <elementReference>Chat_user_permission</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>413</locationX>
        <locationY>5354</locationY>
        <connector>
            <targetReference>Edit_Queues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NKS_Division__c</field>
            <value>
                <elementReference>UpdateDivision.value</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>UpdateUser</name>
        <label>Oppdater bruker</label>
        <locationX>545</locationX>
        <locationY>3314</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Knowledge</targetReference>
        </connector>
        <fields>
            <name>display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!Get_User.FirstName} &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_User.LastName} er p avdeling &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!Get_User.NKS_Division__c}. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Veileder sitt navn i chat er: &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!Get_User.NKS_GreetingName__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Veilederens har i dag disse kene: &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!UsersQueueNames}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NAV_Ident</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_User.CRM_NAV_Ident__c</elementReference>
            </defaultValue>
            <fieldText>NAV Ident</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Alias</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_User.NKS_Alias__c</elementReference>
            </defaultValue>
            <fieldText>Fornavn Alias</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fullt_Navn_Alias</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_User.NKS_FullNameAlias__c</elementReference>
            </defaultValue>
            <fieldText>Fullt Navn Alias</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SetDivision</name>
            <dataType>Boolean</dataType>
            <fieldText>Rediger avdeling</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UpdateDivision</name>
            <extensionName>c:fbc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>NKS_Division__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>SelectableDivisions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Endre avdeling</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SetDivision</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SetQueues</name>
            <dataType>Boolean</dataType>
            <fieldText>Rediger ker</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SelectQueues</name>
            <choiceReferences>Queues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Velg ker</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SetQueues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Chat_user_permission</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_User.UserPermissionsLiveAgentUser</elementReference>
            </defaultValue>
            <fieldText>Chat tilgang</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>setKnowledgeUser</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_User.UserPermissionsKnowledgeUser</elementReference>
            </defaultValue>
            <fieldText>Knowledge Editor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Set_NKS_Quick_Text_Editor</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>BooleanvariabletocheckQuickTextEditorassignment</elementReference>
            </defaultValue>
            <fieldText>NKS-Quick Text Editor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Set_NKS_Topics</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>BooleanvariabletocheckTopicsAssignment</elementReference>
            </defaultValue>
            <fieldText>NKS-Topics</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Beta_tilgang</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>BooleanvariabletocheckBetaAccess</elementReference>
            </defaultValue>
            <fieldText>Beta tilgang</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BooleanvariabletocheckBetaAccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BooleanvariabletocheckQuickTextEditorassignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BooleanvariabletocheckTopicsAssignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>emptyRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>emptyStringCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>groupMembershipsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>groupsMembershipsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>KnowledgeEditorCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>KnowledgeGroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>quickTextFilled</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>false</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectableDivisions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedGroupIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedGroupList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleGroupString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserGroups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>UsersQueueNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
