force-app/main/default/flows/NKS_Post_Journal_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls apex to get a valid AD token.</description>
        <name>Get_AD_Token</name>
        <label>Get AD Token</label>
        <locationX>176</locationX>
        <locationY>191</locationY>
        <actionName>NKS_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Post_Journal</targetReference>
        </connector>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>AD_TOKEN</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Posts the journal entry to JOARK.</description>
        <name>Post_Journal</name>
        <label>Post Journal</label>
        <locationX>177</locationX>
        <locationY>325</locationY>
        <actionName>JournalAPI.Create Journal Post</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputParameters>
            <name>Authorization</name>
            <value>
                <elementReference>Token_Header</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>forsoekFerdigstill</name>
            <value>
                <elementReference>Complete</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>request</name>
            <value>
                <elementReference>Journal_Post_Request</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Set_200_Response</name>
        <label>Set 200 Response</label>
        <locationX>602</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>Journal_Post_Response.journalpostferdigstilt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Journal.200.journalpostferdigstilt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Post_Response.journalpostId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Journal.200.journalpostId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_201_Response</name>
        <label>Set 201 Response</label>
        <locationX>602</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>Journal_Post_Response.journalpostferdigstilt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Journal.201.journalpostferdigstilt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Post_Response.journalpostId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Journal.201.journalpostId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>390</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Post_Journal.400Exc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Post_Journal.401Exc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Post_Journal.403Exc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Post_Journal.409Exc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Post_Journal.500Exc</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Checks if the journal entry creation was successful</description>
        <name>Success</name>
        <label>Success?</label>
        <locationX>382</locationX>
        <locationY>327</locationY>
        <defaultConnector>
            <targetReference>Set_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success_200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Journal.200</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_200_Response</targetReference>
            </connector>
            <label>Success 200</label>
        </rules>
        <rules>
            <name>Success_201</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Journal.201</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_201_Response</targetReference>
            </connector>
            <label>Success 201</label>
        </rules>
    </decisions>
    <description>Flow receiving an journal post request as input, performs the callout and returns success or error message.</description>
    <formulas>
        <name>Token_Header</name>
        <dataType>String</dataType>
        <expression>&apos;Bearer &apos; &amp; {!Get_AD_Token}</expression>
    </formulas>
    <interviewLabel>Post Journal Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post Journal Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_AD_Token</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Determine if the journal post should be automatically completed or if it should expect a patch/put before completion</description>
        <name>Complete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Error message from API</description>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>The journal post request.</description>
        <name>Journal_Post_Request</name>
        <apexClass>ExternalService__JournalAPI_JournalPostReq</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The response object from the journal post action.</description>
        <name>Journal_Post_Response</name>
        <apexClass>ExternalService__JournalAPI_JournalPostResp</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
