force-app/main/default/flows/NKS_Send_NAV_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls apex with the desired action.</description>
        <name>Process_NAV_task</name>
        <label>Process NAV task</label>
        <locationX>178</locationX>
        <locationY>564</locationY>
        <actionName>NKS_NavTaskManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validate_Callout</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>actorId</name>
            <value>
                <elementReference>actorId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>assignToUnitNumber</name>
            <value>
                <elementReference>Get_NAV_Task.CRM_NavUnit__r.INT_UnitNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createdByUnitNumber</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subthemeCode</name>
            <value>
                <elementReference>subthemeCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>task</name>
            <value>
                <elementReference>OUTBOUND_NAV_TASK</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>themeCode</name>
            <value>
                <elementReference>Themecode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>themeGroupCode</name>
            <value>
                <elementReference>Themegroupcode</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <description>Create a NAV</description>
        <name>NAV_Task_assignment</name>
        <label>NAV Task assignment</label>
        <locationX>176</locationX>
        <locationY>448</locationY>
        <assignmentItems>
            <assignToReference>OUTBOUND_NAV_TASK.INT_Journal_Entry_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NAV_Task.INT_Journal_Entry_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OUTBOUND_NAV_TASK.CRM_DueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NAV_Task.CRM_DueDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OUTBOUND_NAV_TASK.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NAV_Task.NKS_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OUTBOUND_NAV_TASK.CRM_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NAV_Task.CRM_Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OUTBOUND_NAV_TASK.NKS_TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NAV_Task.NKS_TaskType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OUTBOUND_NAV_TASK.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NAV_Task.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OUTBOUND_NAV_TASK.NKS_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NAV_Task.NKS_Assignee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OUTBOUND_NAV_TASK.NKS_NAV_Case_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NAV_Task.NKS_NAV_Case_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OUTBOUND_NAV_TASK.NKS_Henvendelse_BehandlingsId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NAV_Task.NKS_Henvendelse_BehandlingsId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_NAV_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Need to update the ID assignment on the NAV task to be updated to prevent flow failure.</description>
        <name>Update_Assignment</name>
        <label>Update Assignment</label>
        <locationX>175</locationX>
        <locationY>867</locationY>
        <assignmentItems>
            <assignToReference>Process_NAV_task.task.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Salesforce_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Sent_Status</name>
        <label>Check Sent Status</label>
        <locationX>167</locationX>
        <locationY>336</locationY>
        <defaultConnector>
            <targetReference>NAV_Task_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NAV_Task.INT_External_Reference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_Screen</targetReference>
            </connector>
            <label>Already Sent</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate if the callout was successful</description>
        <name>Validate_Callout</name>
        <label>Validate Callout</label>
        <locationX>168</locationX>
        <locationY>693</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_NAV_task.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assignment</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Performs a post of an existing NAV task to the Oppgaver API</description>
    <formulas>
        <description>Formula to handle a subtheme not being set.</description>
        <name>subthemeCode</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_NAV_Task.NKS_Subtheme__c}), {!Get_NAV_Task.NKS_Subtheme__c}, {!Get_NAV_Task.NKS_Subtheme__r.CRM_Code__c})</expression>
    </formulas>
    <interviewLabel>Send NAV Task {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Send NAV Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Queries the NAV task information if this is an edit action.</description>
        <name>Get_NAV_Task</name>
        <label>Get NAV Task</label>
        <locationX>175</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Sent_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NavTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Salesforce task with information received from the Apex action.</description>
        <name>Update_Salesforce_Task</name>
        <label>Update Salesforce Task</label>
        <locationX>171</locationX>
        <locationY>991</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log</targetReference>
        </faultConnector>
        <inputReference>Process_NAV_task.task</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Something went wrong when posting/updating the NAV task.</description>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>592</locationX>
        <locationY>511</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 21, 21); font-size: 18px;&quot;&gt;Feil ved utsendelse av oppgave&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Screen_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Ooops! Noe har gått galt! En dyktig utvikler har allerede fått beskjed om denne feilen og er snart i gang med å finne ut hva som gikk galt. Han eller hun vil ta kontakt med deg direkte i Teams slik at dere kan løse det sammen og få sendt oppgaven på riktig måte.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Flow_Error</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sent_Screen</name>
        <label>Sent_Screen</label>
        <locationX>402</locationX>
        <locationY>334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sent_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Oppgaven er allerede utsendt.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen for telling user that the task was successfully sent.</description>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>170</locationX>
        <locationY>1138</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Screen_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Oppgaven ble sendt&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_NAV_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_App_Log</name>
        <label>Create App Log</label>
        <locationX>998</locationX>
        <locationY>592</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>NKS_Send_NAV_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Error occurred in flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>NavTask__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_App_Log_0</name>
        <label>Create App Log</label>
        <locationX>340</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>NKS_NavTaskManager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Error occurred in flow.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>NavTask__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>actorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_NAV_Task.CRM_Account__r.CRM_Person__r.INT_ActorId__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>OUTBOUND_NAV_TASK</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <description>Record ID if the flow is called with a reference to an existing NAV task.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Themecode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_NAV_Task.NKS_Theme__r.CRM_Code__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Themegroupcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_NAV_Task.NKS_Theme_Group__r.CRM_Code__c</elementReference>
        </value>
    </variables>
</Flow>
