force-app/main/default/flows/POST_JOURNAL_TEMPLATE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Create_Journal_Entry_Wrapper</name>
        <label>Create Journal Entry Wrapper</label>
        <locationX>370</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>Journal_Post_Request.sak.fagsakId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TEMPLATE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Journal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>TEMPLATE: Perform necessary updates to store the journal post external reference</description>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>942</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>Get_Record_Info.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Post_Response.journalpostId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Determine if the journal post was a success</description>
        <name>Check_success</name>
        <label>Check success</label>
        <locationX>743</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Journal_Post_Error</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Template flow journal entry posts</description>
    <interviewLabel>POST JOURNAL TEMPLATE {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>POST JOURNAL TEMPLATE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>TEMPLATE: Get relevant information from record needed for journal entry creation</description>
        <name>Get_Record_Info</name>
        <label>Get Record Info</label>
        <locationX>176</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Journal_Entry_Wrapper</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>TEMPLATE: If an error was received upon post, show an error message to the user.</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>755</locationX>
        <locationY>507</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Something went wrong&lt;/p&gt;&lt;p&gt;{!Journal_Post_Error}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Record_Info</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Calls subflow for posting the journal entry</description>
        <name>Post_Journal</name>
        <label>Post Journal</label>
        <locationX>570</locationX>
        <locationY>322</locationY>
        <connector>
            <targetReference>Check_success</targetReference>
        </connector>
        <flowName>NKS_Post_Journal_Entry</flowName>
        <inputAssignments>
            <name>Complete</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Post_Request</name>
            <value>
                <elementReference>Journal_Post_Request</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Journal_Post_Error</assignToReference>
            <name>Error_Message</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Journal_Post_Response</assignToReference>
            <name>Journal_Post_Response</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Error received from API</description>
        <name>Journal_Post_Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>Journal post request to be sent to the API.</description>
        <name>Journal_Post_Request</name>
        <apexClass>ExternalService__JournalAPI_JournalPostReq</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>API response from journal post</description>
        <name>Journal_Post_Response</name>
        <apexClass>ExternalService__JournalAPI_JournalPostResp</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
