force-app/main/default/flows/POST_JOURNAL_TEMPLATE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Document</name>
        <label>Generate Document</label>
        <locationX>304</locationX>
        <locationY>355</locationY>
        <actionName>NKS_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Journal_Entry_Wrapper</targetReference>
        </connector>
        <inputParameters>
            <name>documentString</name>
            <value>
                <stringValue>REFERENCE_TO_DOCUMENT_BODY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>GENERATE_DOCUMENT</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PDF_DOCUMENT</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Create_Journal_Entry_Wrapper</name>
        <label>Create Journal Entry Wrapper</label>
        <locationX>430</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>Journal_Post_Request.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TEMPLATE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Post_Request.kanal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TEMPLATE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Post_Request.sak.fagsakId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TEAMPLTE_ID</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Post_Request.journalpostType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INNGAAENDE/UTGAAENDE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Post_Request.dokumenter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Document</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TEMPLATE_TITLE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document.dokumentvarianter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Document_Variant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant.filtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDFA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant.variantformat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ARKIV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Document_Variant.fysiskDokument</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BASE_64_ENCODED</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Journal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>TEMPLATE: Perform necessary updates to store the journal post external reference</description>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>977</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>Get_Record_Info.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Journal_Post_Response.journalpostId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Determine if the journal post was a success</description>
        <name>Check_success</name>
        <label>Check success</label>
        <locationX>778</locationX>
        <locationY>356</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Journal.Error_Message</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Template flow journal entry posts</description>
    <interviewLabel>POST JOURNAL TEMPLATE {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>POST JOURNAL TEMPLATE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the related account</description>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>177</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Document</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Info.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>TEMPLATE: Get relevant information from record needed for journal entry creation</description>
        <name>Get_Record_Info</name>
        <label>Get Record Info</label>
        <locationX>176</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>TEMPLATE: If an error was received upon post, show an error message to the user.</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>790</locationX>
        <locationY>539</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Something went wrong&lt;/p&gt;&lt;p&gt;{!Post_Journal.Error_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Record_Info</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Calls subflow for posting the journal entry</description>
        <name>Post_Journal</name>
        <label>Post Journal</label>
        <locationX>603</locationX>
        <locationY>355</locationY>
        <connector>
            <targetReference>Check_success</targetReference>
        </connector>
        <flowName>NKS_Post_Journal_Entry</flowName>
        <inputAssignments>
            <name>Complete</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Post_Request</name>
            <value>
                <elementReference>Journal_Post_Request</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Wrapper for the document to be sent.</description>
        <name>Document</name>
        <apexClass>ExternalService__dokarkivAPI_Dokument</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Wrapper for the document variant</description>
        <name>Document_Variant</name>
        <apexClass>ExternalService__dokarkivAPI_DokumentVariant</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Wrapper for the journal post request</description>
        <name>Journal_Post_Request</name>
        <apexClass>ExternalService__dokarkivAPI_JournalPostReq</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Wrapper for Journal post response</description>
        <name>Journal_Post_Response</name>
        <apexClass>ExternalService__dokarkivAPI_JournalPostResp</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The base 64 encoded document string to be sent.</description>
        <name>PDF_DOCUMENT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
