force-app/main/default/flows/Remove_Old_TopicAssignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_TopicAssignments</name>
        <label>Get TopicAssignments</label>
        <locationX>176</locationX>
        <locationY>200</locationY>
        <actionName>FlowFindCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Empty</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>TopicAssignment</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>FieldApiINames</name>
            <value>
                <stringValue>Id, EntityId, EntityKeyPrefix, EntityType, TopicId, CreatedDate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>topicAssignment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhereClause</name>
            <value>
                <elementReference>whereClause</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>EmptyCollection</name>
        <label>Empty Collection</label>
        <locationX>127</locationX>
        <locationY>415</locationY>
        <assignmentItems>
            <assignToReference>emptyRecordCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_TopicAssignments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Empty</name>
        <label>Empty?</label>
        <locationX>303</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>Delete_TopicAssignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TopicAssignments.outputCollection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>emptyRecordCollection</elementReference>
                </rightValue>
            </conditions>
            <label>Is Empty</label>
        </rules>
    </decisions>
    <description>Removed TopicAssignment from old KnowledgeArticle versions</description>
    <formulas>
        <name>whereClause</name>
        <dataType>String</dataType>
        <expression>&quot;EntityId NOT IN (SELECT Id FROM Knowledge__kav WHERE IsLatestVersion = true OR PublishStatus = &apos;Online&apos;) AND EntityType = &apos;Knowledge&apos;&quot;</expression>
    </formulas>
    <interviewLabel>Remove Old TopicAssignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove Old TopicAssignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_TopicAssignments</name>
        <label>Delete TopicAssignments</label>
        <locationX>491</locationX>
        <locationY>201</locationY>
        <inputReference>Get_TopicAssignments.outputCollection</inputReference>
    </recordDeletes>
    <start>
        <locationX>23</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>EmptyCollection</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>emptyRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TopicAssignment</objectType>
    </variables>
</Flow>
