force-app/main/default/flows/Survey_Create_response.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_survey_response</name>
        <label>Create survey response</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>NKS_InternalSurveyController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>comment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rating</name>
            <value>
                <elementReference>rating</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>surveyId</name>
            <value>
                <elementReference>surveyId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NKS_InternalSurveyController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>User_does_not_want_to_respond</name>
        <label>User does not want to respond?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Does not want to respond</defaultConnectorLabel>
        <rules>
            <name>User_sent_a_response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCanceled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_Amount_of_Time_1</targetReference>
            </connector>
            <label>User sent a response</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Survey - Create response {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey - Create response</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_answered_record</name>
        <label>Create answered record</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>User_does_not_want_to_respond</targetReference>
        </connector>
        <inputAssignments>
            <field>NKS_Answered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NKS_Participant__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NKS_Survey__c</field>
            <value>
                <elementReference>surveyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_answered_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>NKS_Survey_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_answered_record_type</name>
        <label>Get answered record type</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_answered_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Survey_Answered</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NKS_Survey_Response__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_answered_record_type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>comment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isCanceled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rating</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>surveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_for_Amount_of_Time_1</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait for Amount of Time 1</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <timeZoneId>Europe/Paris</timeZoneId>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Create_survey_response</targetReference>
            </connector>
            <label>el_0</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
            <resumeTime>16:00:00.000Z</resumeTime>
        </waitEvents>
    </waits>
</Flow>
