force-app/main/default/flows/TAG_Log_Call_in_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_account_nav_unit</name>
        <label>Get account&apos;s nav unit</label>
        <locationX>78</locationX>
        <locationY>237</locationY>
        <actionName>NKS_NavTaskRoutingHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_to_Log_a_Call</targetReference>
        </connector>
        <inputParameters>
            <name>accountIds</name>
            <value>
                <elementReference>currAccountId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>queueId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Set_unit_error_message</name>
        <label>Set unit error message</label>
        <locationX>357</locationX>
        <locationY>667</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NAV-enhet må være utfylt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_to_Log_a_Call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Setconversationnoteerrormessage</name>
        <label>Set conversation note error message</label>
        <locationX>56</locationX>
        <locationY>505</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alle felt må være utfylt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_to_Log_a_Call</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>None</name>
        <choiceText>(Ingen)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>null</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Note</name>
        <label>Note/Task</label>
        <locationX>741</locationX>
        <locationY>258</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_is_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>shouldCreateTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Du_har_opprettet_et_notat</targetReference>
            </connector>
            <label>It is Note</label>
        </rules>
        <rules>
            <name>It_is_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>shouldCreateTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_NAV_unit</targetReference>
            </connector>
            <label>It is Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_input</name>
        <label>Validate input</label>
        <locationX>407</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Create_Standard_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is vailidated</defaultConnectorLabel>
        <rules>
            <name>Has_conversation_note_errors</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>themeValue</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>subThemeValue</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Setconversationnoteerrormessage</targetReference>
            </connector>
            <label>Has conversation note errors</label>
        </rules>
        <rules>
            <name>Unit_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>shouldCreateTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>queueId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_unit_error_message</targetReference>
            </connector>
            <label>Unit error</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>navEnhetRecords</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>CRM_QueueId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>NavUnit__c</object>
        <outputAssignments>
            <assignToReference>navUnitID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>NKS_Name_Short__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>themePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_Theme__c</picklistField>
        <picklistObject>NavTask__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>dateFuture2Days</name>
        <dataType>Date</dataType>
        <expression>CASE( 
  MOD( TODAY() - DATE( 1900, 1, 7 ), 7 ),
  4, TODAY() + 2 + 2,
  5, TODAY() + 2 + 2,
  6, TODAY() + 1 + 2,
  TODAY() + 2
)</expression>
    </formulas>
    <interviewLabel>TAG Log Call in Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Log Call in Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Call_Task</name>
        <label>Create New Call Task</label>
        <locationX>1051</locationX>
        <locationY>261</locationY>
        <connector>
            <targetReference>Du_har_opprettet_en_oppgave</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_Account__c</field>
            <value>
                <elementReference>currAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AdditionalInformation__c</field>
            <value>
                <elementReference>additionalComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ConversationNote__c</field>
            <value>
                <elementReference>conversationNote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DueDate__c</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_NavUnit__c</field>
            <value>
                <elementReference>navUnitID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_SubTheme__c</field>
            <value>
                <elementReference>subThemeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Theme__c</field>
            <value>
                <elementReference>themeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>themeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </inputAssignments>
        <object>NavTask__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Standard_Task</name>
        <label>Create standard task</label>
        <locationX>607</locationX>
        <locationY>253</locationY>
        <connector>
            <targetReference>Note</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>conversationNote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToAccount__c</field>
            <value>
                <elementReference>currAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Telefonsamtale NKS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_ActivityType__c</field>
            <value>
                <elementReference>themeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NoPersonInformation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_service__c</field>
            <value>
                <elementReference>subThemeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>currAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Selected_NAV_unit</name>
        <label>Get Selected NAV unit</label>
        <locationX>898</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Call_Task</targetReference>
        </connector>
        <filters>
            <field>CRM_QueueId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queueId</elementReference>
            </value>
        </filters>
        <object>NavUnit__c</object>
        <outputAssignments>
            <assignToReference>navUnitID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Du_har_opprettet_en_oppgave</name>
        <label>Du har opprettet en oppgave</label>
        <locationX>1306</locationX>
        <locationY>239</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Notat_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Du har opprettet en oppgave&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Du_har_opprettet_et_notat</name>
        <label>Du har opprettet et notat</label>
        <locationX>698</locationX>
        <locationY>563</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Notat</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Du har opprettet et notat&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_to_Log_a_Call</name>
        <label>Screen to Log a Call</label>
        <locationX>263</locationX>
        <locationY>235</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validate_input</targetReference>
        </connector>
        <fields>
            <name>ShowIfNote</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Opprett et samtalenotat&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>assignTask</name>
            <extensionName>c:nksAssignTask</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dueDate</name>
                <value>
                    <elementReference>dateFuture2Days</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queueId</name>
                <value>
                    <elementReference>queueId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalComments</name>
                <value>
                    <elementReference>additionalComments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>conversationNote</name>
                <value>
                    <elementReference>conversationNote</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createTask</name>
                <value>
                    <elementReference>shouldCreateTask</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedSubTheme</name>
                <value>
                    <elementReference>subThemeValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTheme</name>
                <value>
                    <elementReference>themeValue</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>conversationNote</assignToReference>
                <name>conversationNote</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>additionalComments</assignToReference>
                <name>additionalComments</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>shouldCreateTask</assignToReference>
                <name>createTask</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>dueDate</assignToReference>
                <name>dueDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>queueId</assignToReference>
                <name>queueId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>subThemeValue</assignToReference>
                <name>selectedSubTheme</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>themeValue</assignToReference>
                <name>selectedTheme</name>
            </outputParameters>
        </fields>
        <fields>
            <name>UnitInfo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Virksomhetens lokale NAV-enhet kan ikke ta imot oppgaver i Salesforce ennå.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>queueId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_account_nav_unit</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>additionalComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>conversationNote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>navUnitID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>navUnitName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shouldCreateTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>subThemeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>themeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
