force-app/main/default/flows/TAG_Log_Call_in_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>None</name>
        <choiceText>(Ingen)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>null</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Note</name>
        <label>Note/Task</label>
        <locationX>575</locationX>
        <locationY>280</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_is_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppgaveJaNei.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Du_har_opprettet_et_notat</targetReference>
            </connector>
            <label>It is Note</label>
        </rules>
        <rules>
            <name>It_is_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppgaveJaNei.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Call_Task</targetReference>
            </connector>
            <label>It is Task</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>navEnhetRecords</name>
        <dataType>String</dataType>
        <displayField>NKS_Name_Short__c</displayField>
        <filters>
            <field>CRM_QueueId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>NavUnit__c</object>
        <outputAssignments>
            <assignToReference>navUnitID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>NKS_Name_Short__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>NKS_Name_Short__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>dateFuture2Days</name>
        <dataType>Date</dataType>
        <expression>CASE( 
  MOD( TODAY() - DATE( 1900, 1, 7 ), 7 ),
  4, TODAY() + 2 + 2,
  5, TODAY() + 2 + 2,
  6, TODAY() + 1 + 2,
  TODAY() + 2
)</expression>
    </formulas>
    <interviewLabel>TAG Log Call in Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Log Call in Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Call_Task</name>
        <label>Create New Call Task</label>
        <locationX>764</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>Du_har_opprettet_en_oppgave</targetReference>
        </connector>
        <inputAssignments>
            <field>NKS_Account__c</field>
            <value>
                <elementReference>currAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NKS_Additional_Information__c</field>
            <value>
                <elementReference>Tilleggsopplysninger_til_kontoret</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NKS_Conversation_Note__c</field>
            <value>
                <elementReference>Beskrivelse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NKS_Due_Date__c</field>
            <value>
                <elementReference>Frist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NKS_NAV_Unit__c</field>
            <value>
                <elementReference>navUnitID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NKS_Theme__c</field>
            <value>
                <elementReference>TemaValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NKS_Undertheme__c</field>
            <value>
                <elementReference>UndertemaValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TemaValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </inputAssignments>
        <object>NAVTask__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Standard_Task</name>
        <label>Create standard task</label>
        <locationX>382</locationX>
        <locationY>269</locationY>
        <connector>
            <targetReference>Note</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Beskrivelse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToAccount__c</field>
            <value>
                <elementReference>currAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Telefonsamtale NKS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_ActivityType__c</field>
            <value>
                <elementReference>TemaValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NoPersonInformation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_service__c</field>
            <value>
                <elementReference>UndertemaValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>currAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <screens>
        <name>Du_har_opprettet_en_oppgave</name>
        <label>Du har opprettet en oppgave</label>
        <locationX>859</locationX>
        <locationY>173</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Notat_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Du har opprettet en oppgave&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Du_har_opprettet_et_notat</name>
        <label>Du har opprettet et notat</label>
        <locationX>594</locationX>
        <locationY>482</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Notat</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Du har opprettet et notat&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_to_Log_a_Call</name>
        <label>Screen to Log a Call</label>
        <locationX>163</locationX>
        <locationY>266</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Standard_Task</targetReference>
        </connector>
        <fields>
            <name>ShowIfNote</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Opprett et samtalenotat&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OppgaveJaNei.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ShowIfTask</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Opprett en oppgave&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OppgaveJaNei.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EmneUnderemnePicklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>NAVTask__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>NKS_Theme__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>NKS_Undertheme__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Hovedtema</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Undertema</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TemaValue</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>UndertemaValue</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Beskrivelse</name>
            <fieldText>Samtalenotat</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pvkDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 10px;&quot;&gt;Husk å ikke notere personopplysninger&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OppgaveJaNei</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Skal oppgave opprettes? </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Ja</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nei</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Frist</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>dateFuture2Days</elementReference>
            </defaultValue>
            <fieldText>Forfallsdato</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OppgaveJaNei.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tilleggsopplysninger_til_kontoret</name>
            <fieldText>Oppgave til NAV-Enhet</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OppgaveJaNei.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NAV_Enhet</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>navEnhetRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>NAV-enhet</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OppgaveJaNei.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Screen_to_Log_a_Call</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmneValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>navUnitID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>navUnitName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppgaveToggleStore</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G2o0000099xOD</stringValue>
        </value>
    </variables>
    <variables>
        <name>TemaValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnderemneValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UndertemaValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
