force-app/main/default/flows/TAG_Update_NAV_Unit_in_NAV_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>NKS_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Update NAV Unit in NAV Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCurQueueId</name>
        <label>getCurQueueId</label>
        <locationX>218</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNavUnitId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentNavTaskId</elementReference>
            </value>
        </filters>
        <object>NavTask__c</object>
        <outputAssignments>
            <assignToReference>queueIdFromOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getNavUnitId</name>
        <label>getNavUnitId</label>
        <locationX>306</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateNavTaskNavUnit</targetReference>
        </connector>
        <filters>
            <field>CRM_QueueId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queueIdFromOwnerId</elementReference>
            </value>
        </filters>
        <object>NavUnit__c</object>
        <outputAssignments>
            <assignToReference>newNavUnitId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateNavTaskNavUnit</name>
        <label>updateNavTaskNavUnit</label>
        <locationX>529</locationX>
        <locationY>426</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentNavTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_NavUnit__c</field>
            <value>
                <elementReference>newNavUnitId</elementReference>
            </value>
        </inputAssignments>
        <object>NavTask__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getCurQueueId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentNavTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newNavUnitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueIdFromOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
