force-app/main/default/flows/force-app/main/default/flows/Announcement_Comment_on_News.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Show_Access_Message</name>
        <label>Show Access Message</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>c:ShowToast_Flow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Vellykket!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_values</name>
        <label>Set values</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Comment_Instance.Comment_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Comment_Instance.Announcement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Comment</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Filter</name>
        <dataType>String</dataType>
        <expression>&quot;Announcement__c =&apos;&quot; +{!recordId} + &quot;&apos;&quot;</expression>
    </formulas>
    <interviewLabel>Announcement - Comment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Announcement - Comment on News</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Comment</name>
        <label>Create Comment</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Show_Access_Message</targetReference>
        </connector>
        <inputReference>Comment_Instance</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Comment_Input</name>
        <label>Comment Input</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Avbryt</backButtonLabel>
        <connector>
            <targetReference>Set_values</targetReference>
        </connector>
        <fields>
            <name>Comment</name>
            <defaultValue>
                <stringValue>Skriv her ... </stringValue>
            </defaultValue>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CommentsList</name>
            <extensionName>c:nksHomePageList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>datefield</name>
                <value>
                    <stringValue>LastModifiedDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filter</name>
                <value>
                    <elementReference>Filter</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>NKS_News_Comment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardLabel</name>
                <value>
                    <stringValue>Tiligere kommentarer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>content</name>
                <value>
                    <stringValue>Comment_Content__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>limit</name>
                <value>
                    <stringValue>3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderby</name>
                <value>
                    <stringValue>LastModifiedDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>listviewname</name>
                <value>
                    <stringValue>News_Comments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>linklabel</name>
                <value>
                    <stringValue>Vis alle kommentarer</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Kommentar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comment_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Comment_Instance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NKS_News_Comment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
