force-app/Journal-Utilities/flows/POST_JOURNAL_TEMPLATE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Document</name>
        <label>Generate Document</label>
        <locationX>429</locationX>
        <locationY>355</locationY>
        <actionName>NKS_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PDF_Variant_Assignment</targetReference>
        </connector>
        <inputParameters>
            <name>documentString</name>
            <value>
                <stringValue>REFERENCE_TO_DOCUMENT_BODY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>GENERATE_DOCUMENT</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PDF_DOCUMENT</assignToReference>
            <name>documentString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description
        >Call loggerutility to store an application log entry.</description>
        <name>Log_Journal_Entry_Error</name>
        <label>Log Journal Entry Error</label>
        <locationX>1210</locationX>
        <locationY>145</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Journal_Entry__c</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refRecord</name>
            <value>
                <elementReference>Journal_Entry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <stringValue>TEMPLATE FLOW NAME</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Call Apex to post the journal entry</description>
        <name>Post_Journal_Request</name>
        <label>Post Journal Request</label>
        <locationX>743</locationX>
        <locationY>355</locationY>
        <actionName>NKS_JournalUtilities</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_success</targetReference>
        </connector>
        <inputParameters>
            <name>journalRequest</name>
            <value>
                <elementReference>Journal_Request</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>referenceId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>POST_JOURNAL</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <description>Assign values to the journal document</description>
        <name>Assign_Journal_Documents</name>
        <label>Assign Journal Documents</label>
        <locationX>575</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference
            >Journal_Documents.dokumentvarianter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Document_Variant_PDF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Documents.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TEMPLATE_TITLE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Journal_Entry_Wrapper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Journal_Entry_Wrapper</name>
        <label>Create Journal Entry Wrapper</label>
        <locationX>579</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>Journal_Request.tittel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TEMPLATE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.kanal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TEMPLATE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.sak.fagsakId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Journal_Case_Overview.selectedCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
            >Journal_Request.journalpostType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INNGAAENDE/UTGAAENDE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.dokumenter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Journal_Documents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
            >Journal_Request.journalfoerendeEnhet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.bruker.idType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FNR/ORGNR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.bruker.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Get_Account_Info.INT_PersonIdent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
            >Journal_Request.avsenderMottaker.idType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FNR/ORGNR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
            >Journal_Request.avsenderMottaker.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TEMPLATE_IDENTIFIER</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
            >Journal_Request.avsenderMottaker.navn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_Full_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.tema</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Journal_Case_Overview.selectedCaseTheme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
            >Journal_Request.behandlingstema</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Journal_Case_Overview.selectedSubtheme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Request.sak.sakstype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Journal_Case_Overview.navCaseType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Journal_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to the PDF document variant</description>
        <name>PDF_Variant_Assignment</name>
        <label>PDF Variant Assignment</label>
        <locationX>428</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>Document_Variant_PDF.filtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
            >Document_Variant_PDF.fysiskDokument</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PDF_DOCUMENT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
            >Document_Variant_PDF.variantformat</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ARKIV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Journal_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description
        >Assign field values to the journal entry to be stored.</description>
        <name>Set_Journal_Entry_Data</name>
        <label>Set Journal Entry Data</label>
        <locationX>1071</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference
            >Journal_Entry.Journal_Entry_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Post_Journal_Request.journalpostId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
            >Journal_Entry.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Post_Journal_Request.journalPostStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
            >Journal_Entry.NAV_Case_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Journal_Case_Overview.selectedCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry.Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Journal_Case_Overview.selectedSubthemeSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journal_Entry.Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Journal_Case_Overview.selectedCaseThemeSfId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Journal_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description
        >TEMPLATE: Perform necessary updates to store the journal post external reference</description>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>1355</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>Get_Record_Info.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Post_Journal_Request.journalpostId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Determine if the journal post was a success</description>
        <name>Check_success</name>
        <label>Check success</label>
        <locationX>901</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
                >Post_Journal_Request.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Journal_Entry_Data</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>Template flow journal entry posts</description>
    <formulas>
        <description
        >Generates the person name on the correct archive convention.</description>
        <name>Person_Full_Name</name>
        <dataType>String</dataType>
        <expression
        >{!Get_Account_Info.CRM_Person__r.INT_LastName__c} &amp; &apos;, &apos; &amp; {!Get_Account_Info.CRM_Person__r.INT_FirstName__c} &amp; &apos; &apos; &amp;{!Get_Account_Info.CRM_Person__r.INT_MiddleName__c}</expression>
    </formulas>
    <interviewLabel
    >POST JOURNAL TEMPLATE {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>POST JOURNAL TEMPLATE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Journal_Entry</name>
        <label>Insert Journal Entry</label>
        <locationX>1210</locationX>
        <locationY>354</locationY>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Journal_Entry_Error</targetReference>
        </faultConnector>
        <inputReference>Journal_Entry</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get the related account</description>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>177</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Theme_Input_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Info.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description
        >TEMPLATE: Get relevant information from record needed for journal entry creation</description>
        <name>Get_Record_Info</name>
        <label>Get Record Info</label>
        <locationX>176</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description
        >TEMPLATE: If an error was received upon post, show an error message to the user.</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>914</locationX>
        <locationY>539</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText
            >&lt;p&gt;Noe gikk galt. Kontakt din administrator med følgende referanse: {!Post_Journal_Request.errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description
        >Input screen for theme and subtheme categorization.</description>
        <name>Theme_Input_Screen</name>
        <label>Theme Input Screen</label>
        <locationX>303</locationX>
        <locationY>355</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Generate_Document</targetReference>
        </connector>
        <fields>
            <name>Journal_Case_Overview</name>
            <extensionName>c:nksPersonCaseOverview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actorId</name>
                <value>
                    <elementReference
                    >Get_Account_Info.CRM_Person__r.INT_ActorId__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Record_Info</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Document_Variant_PDF</name>
        <apexClass>NKS_Dokumentvarianter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Wrapper for the documents</description>
        <name>Journal_Documents</name>
        <apexClass>NKS_Dokumenter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Journal entry record to be inserted</description>
        <name>Journal_Entry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journal_Entry__c</objectType>
    </variables>
    <variables>
        <description>Journal request wrapper.</description>
        <name>Journal_Request</name>
        <apexClass>NKS_JournalEntryWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description
        >The base 64 encoded document string to be sent.</description>
        <name>PDF_DOCUMENT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
